<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”robots” content=”noindex,nofollow”>
    <meta http-equiv ='content-language' content ='zh-cn'>

    <link rel="icon" href="/favicon.png">
    <title>API Developer ｜ 创作工坊 </title>
    <script src="/common/javascripts/avif-webp.min.js"></script>

    <link rel="stylesheet" href="/common/stylesheets/style.scss">
    <link rel="stylesheet" href="/micro/oasis/stylesheets/html-idea.scss">



</head>
<body>

    <micro-app  id="app" v-cloak>

        <div class="content-container">

            <div class="head-pannel" style="padding-left: 12px;">

                <div>
                    <button @click="showSettingAppInfoModalV" type="button" class="head-btn" data-bs-custom-class="custom-popover" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="设置">
                      <i class="bi bi-sliders"></i>
                    </button>
                </div>


                <div style="padding-left: 12px;" class="code-option">
                    <div>
                        <button @click="mobilePreviewV" type="button" class="head-btn" data-bs-custom-class="custom-popover" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="手机预览">
                          <i class="bi bi-phone"></i>
                        </button>
                    </div>
                    <div style="padding-left: 12px;">
                        <button @click="laptopPreviewV" type="button" class="head-btn" data-bs-custom-class="custom-popover" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="电脑预览">
                          <i class="bi bi-laptop"></i>
                        </button>
                    </div>
                    <div style="padding-left: 12px;">
                        <button
                          :class="{
                          'text-primary': htmlChanged
                        }"
                          @click="updateHtmlCodeV" type="button" class="head-btn" data-bs-custom-class="custom-popover" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="保存">
                          <i class="bi bi-floppy"></i>
                        </button>
                    </div>
                    <div  style="padding-left: 12px;">
                      <button @click="shareIdeaV" type="button" class="head-btn" data-bs-custom-class="custom-popover" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="分享">               
                               <i class="bi bi-share"></i>
                      </button>
                    </div>
                </div>

                
            </div>
            <div class="code-pannel">
                <textarea wrap="off" @change="htmlChanged=true" placeholder="输入html代码" class="code-input" v-model="htmlcode"></textarea>
            </div>


        </div>
           
     <section class="modals">

            <!-- mobile prievew action modal  -->
      <div class="modal-container">
        <div class="modal fade" id="mobilePreviewModal" data-bs-backdrop="static" tabindex="-1">
          <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content text-color-dark">
              <div class="modal-header">
                <h1 class="modal-title fs-5">手机预览</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div  class="mobile-iframe-container d-flex align-items-center justify-content-center">
                    <iframe id="iphone-iframe" class="iphone-12-frame">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
      <!-- mobile prievew modal -->


             <!-- pc prievew action modal  -->
             <div class="modal-container">
                <div class="modal fade" id="pcPreviewModal" data-bs-backdrop="static" tabindex="-1">
                  <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content text-color-dark">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5">电脑预览</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body d-flex align-items-center justify-content-center">
                        <iframe id="pc-iframe" class="pc-imac-frame">
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
              <!-- pc prievew modal -->

              <div class="modal-container">
          
                <!-- Modal -->
                <div class="modal fade" id="settingAppInfoModal" data-bs-backdrop="static" tabindex="-1">
                  <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
                    <div class="modal-content text-color-dark">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5">通用设置</h1>
                        <button  type="button" id="closeSettingAppInfoModal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form>
                          <div class="row mb-3 mt-3">
                            <div class="col-sm-3 col-form-label">
                              <label for="input[channelName]" class="form-label">频道名称</label>
                            </div>
                            <div class="col-sm-9">
                              <input id="input[channelName]" @change="generalHadChange=true" v-model="general.channelName" type="text" maxlength="30" class="form-control">
                            </div>
                          </div> 
                          <div class="row mb-3">
                            <div class="col-sm-3 col-form-label">
                              <label for="input[channelDesc]" class="form-label">频道简介</label>
                            </div>
                            <div class="col-sm-9">
                              <input id="input[channelDesc]" @change="generalHadChange=true"  v-model="general.channelDesc" type="text" maxlength="80" class="form-control" >
                            </div>
                          </div> 
                        </form>
                        
                      </div>
                      <div class="modal-footer btn-light">
                        <button @click="modifyChannelGeneralInfoV" :class="{'disabled': !general.channelName || !general.channelDesc || !generalHadChange, 
                        'btn-primary': !!general.channelName && !!general.channelDesc && generalHadChange ,
                        'btn-secondary': !general.channelName || !general.channelDesc || !generalHadChange }" v-preventreclick  type="button"  class="btn">更新</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

     </section>

    </micro-app>
    <script type="module" src="/common/javascripts/tm.js"></script>
    <script type="module" src="/micro/oasis/javascripts/html-idea.js"></script>
</body>
</html>