<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”robots” content=”noindex,nofollow”>
    <meta http-equiv ='content-language' content ='zh-cn'>

    <link rel="icon" href="https://www.bluvarri.com/favicon.png">
    <title>价值流</title>
    <script src="/common/javascripts/avif-webp.min.js"></script>


    <link rel="stylesheet" href="/common/stylesheets/style.scss">
    <link rel="stylesheet" href="/micro/stylesheets/teixcalaanli.scss">
    <link rel="stylesheet" href="/micro/stylesheets/oasis.scss">
    <link rel="stylesheet" href="/micro/arch/stylesheets/teixcalaanli-arch.scss">
    <link rel="stylesheet" href="/micro/stylesheets/transparent.scss">
    <link rel="stylesheet" href="/micro/stylesheets/value-journey.scss">


</head>
<body>
  <micro-app  id="app" v-cloak>
    <main class="d-flex flex-row">
      <div class="offcanvas-xxl offcanvas-start" tabindex="-1" id="mcSidebar" aria-labelledby="mcSidebarOffcanvasLabel">
        <div class="sidebarContainer d-flex flex-row">
          <col-nav-main>
          <div class="nav-container-wrapper">
            <a href="/micro/teixcalaanli" data-bs-custom-class="custom-popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-content="创硅谷"> 
              <div class="nav-item-default nav-teixcalaanli d-flex align-items-center justify-content-center ms-3">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 13C3.8 13 2 14.8 2 17C2 19.2 3.8 21 6 21C8.2 21 10 19.2 10 17C10 14.8 8.2 13 6 13ZM12 3C9.8 3 8 4.8 8 7C8 9.2 9.8 11 12 11C14.2 11 16 9.2 16 7C16 4.8 14.2 3 12 3ZM18 13C15.8 13 14 14.8 14 17C14 19.2 15.8 21 18 21C20.2 21 22 19.2 22 17C22 14.8 20.2 13 18 13Z" fill="#36F7E5"/>
                  </svg>
              </div>
            </a>
            <a href="/micro/arch/channel-0002" data-bs-custom-class="custom-popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-content="私信"> 
              <div class="nav-private nav-item-default  d-flex align-items-center justify-content-center   ms-3 mt-2">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.99991 11.9999H14.9999" stroke="#fff" stroke-width="2" stroke-linecap="round"/>
                  <path d="M9 18H8C4.68629 18 2 15.3137 2 12C2 8.68629 4.68629 6 8 6H9" stroke="#fff" stroke-width="2" stroke-linecap="round"/>
                  <path d="M15 6H16C19.3137 6 22 8.68629 22 12C22 15.3137 19.3137 18 16 18H15" stroke="#fff" stroke-width="2" stroke-linecap="round"/>
                  </svg>              
              </div>
            </a>
            <a v-for="oasis in joinedoases.records"  :href="'/micro/oasis?oasis_id='+oasis.id" data-bs-custom-class="custom-popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-toggle="popover" :data-bs-content="oasis.title">
              <div class="nav-item-default  d-flex align-items-center justify-content-center   ms-3 mt-2"
                   :class="{'active': oasis.id==oasisId}">
                <div class="oasis-avatar-wrapper">
                  <img class="oasis-avatar-tiny" 
                :src="adaptiveImageUriV(oasis.avatar) || oasisAvatarDefault" @error.once="e => { e.target.src = oasisAvatarDefault }">  
                </div>
              </div>
            </a>

          </div>
          
          <div class="nav-setting">
            <div class="nav-item-default nav-gear d-flex align-items-center justify-content-center ms-3">
              <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle button_user_vue brand-avatar" data-bs-toggle="dropdown" aria-expanded="false">
                  <img  :src="adaptiveImageUriV(getIdentity().avatar)  || defaultAvatarImage" @error.once="e => { e.target.src = defaultAvatarImage }">
                </button>
                <ul class="dropdown-menu dropdown-menu-end ms-5">
                  <li>
                    <a href="/estudio/studio-setting-profile">
                      <button class="dropdown-item" type="button">
                        <i class="bi bi-person-vcard me-1"></i> 品牌形象
                       </button>
                    </a>
                  </li>
                  <li>
                      <button @click="logout()" class="dropdown-item" type="button">   
                        <i class="bi bi-box-arrow-right me-1"></i> 退出登录 
                      </button>
                  </li>
                  <li>
                    <a href="/mall/delete-account">
                      <button class="dropdown-item" type="button">
                        <i class="bi bi-trash3 me-1"></i> 删除账号
                       </button>
                    </a>
                  </li>
                  
                  <li>
                    <button class="dropdown-item" type="button" data-bs-toggle="offcanvas" data-bs-target="#feedback_offcanvas_right" aria-controls="feedback_offcanvas_right">
                      <i class="bi bi-flag me-1"></i> 反馈
                    </button>
                  </li>
                </ul>
              </div>
    
            </div>
          </div>
    </col-nav-main>
    <col-nav-sub>
      <div class="nav-title ms-3 mt-3">
        <h3>{{announce.title}}</h3>
      </div>
      <div class="nav-sub-container mt-3">
        <div>
          <a  class="nav-link nav-sub-link-active p-2 ms-3 d-flex flex-row align-items-center">
            <i class="bi bi-house"></i>
              
        
            <span>主页</span>  
          </a>
          <a class="nav-link  nva-link-default p-2 ms-3  d-flex flex-row align-items-center" :href="'/micro/arch/channel-0001?oasis_id='+ oasisId">
            <i class="bi bi-fan"></i>
            <span class="link-title">Fan</span>  
          </a>
          <a  v-for="channel in channelSort"   class="nav-link  nva-link-default p-2 ms-3  d-flex flex-row align-items-center" :href="'/micro/oasis/mini?och='+getChannelDataV(channel,oaisiChannelList).oasisChannelId + '&oasis_id=' + oasisId">
            <i class="bi bi-filetype-html"></i>
              
            <span class="link-title">{{getChannelDataV(channel,oaisiChannelList).channelName}}</span>  
          </a>

        
        </div>
        
        
      </div>
    </col-nav-sub>
        </div>
      </div>
      <col-content>
      <div class="hero-container">
        <div class="hero-info d-flex flex-row align-items-baseline">
            <div>
              <img class="oasis-avatar" :src="adaptiveImageUriV(announce.avatar) || oasisAvatarDefault" @error.once="e => { e.target.src = oasisAvatarDefault }">
            </div>
           <div class="ms-4">
            <h2>{{announce.title}}</h2>
            <p class="help-text">{{announce.subTitle}}</p>
           </div>
        </div>
      </div>
      <div class="nav-oasis-container pb-3">
        <div class="d-flex justify-content-between">
          <ul class="nav border-0 h-75">
            <li class="nav-item" role="presentation">
              <a class="nav-link d-flex align-items-center" aria-current="page" :href="'/micro/oasis?oasis_id='+oasisId">宣传</a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link d-flex align-items-center" aria-current="page" :href="'/micro/oasis/commission?oasis_id='+oasisId">委托</a>
            </li>
            <li class="nav-item active" role="presentation">
              <a class="nav-link d-flex align-items-center" aria-current="page" :href="'/micro/oasis/transparent?oasis_id='+oasisId">洞察</a>
            </li>
          </ul>
          <div class="toggle-nav me-3 ">
            <div class="d-flex align-items-center h-100 " >
              <button class="navbar-toggler p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#mcSidebar" aria-controls="bdSidebar" aria-label="Toggle mcSidebar navigation">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                </svg>
              </button>
            </div>
          </div>
        </div>
        
        <div class="transparent-category d-flex justify-content-center h-25 mt-2">
          <ul>
            <li>
              <a :href="'/micro/oasis/transparent?oasis_id='+oasisId" class="text-decoration-none">
                <div class="transparent-category-item help-text-color d-flex align-items-center justify-content-center">活跃成员</div>
              </a>
            </li>
            <li>
              <a :href="'/micro/oasis/value-journey?oasis_id='+oasisId" class="text-decoration-none text-white">
                <div class="transparent-category-item ms-2  d-flex align-items-center justify-content-center">指标</div>
              </a>
            </li>
          </ul>
        </div>
        
      </div>
    <div class="mt-5 mx-4">
        <div>
          <button type="button" @click="refreshOasisIndV" v-preventreclick  class="btn btn-primary mb-3">
            刷新
          </button>
        </div>
        <table class="table table-sm table-dark table-hover align-middle">
            <tbody>
              <tr v-for="record in oasisInd.records">
                <td>
                    <h6 class="ps-4">{{record.item}}</h6>
                </td>
                <td>{{record.val}}</td>
                <td class="text-center">
                </td>
              </tr>
            </tbody>
          </table>
    </div>

     
     


    </col-content>
    </main>
    
    
  </micro-app>
  <section class="feedback_offcanvas" id="section_feedback_offcanvas">

    <div class="offcanvas offcanvas-end" tabindex="-1" id="feedback_offcanvas_right" aria-labelledby="feedbackOffcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="feedbackOffcanvasRightLabel">发送反馈到Bluvarri</h5>
        <button id="closeFeedbackOffcanvas" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form id="feedback-form">
          <div class="mt-3">
            <label for="input_issue" class="form-label">您遇到的具体问题是什么(必填,300字以内)</label>
            <textarea  rows="8" type="text" maxlength="300" class="form-control"  id="input_issue"></textarea>
          </div> 
          <div class="mt-3">
            <label class="form-label">附件图片(选填)</label>
            <div class="feedback-attachment-upload-container dropzone-wrapper">
              <img  id="lastestFeedbackAttachment" >
              <div class="dropzone-desc">
                <i class="bi bi-cloud-plus"></i>
              </div>
              <input type="file" id="input_issue_attachment"  accept="image/jpg, image/png, image/jpeg" class="dropzone">
            </div>
          </div>  
          <div class="mt-3">
            <label for="input_issue_contact" class="form-label">您的联系方式(选填)</label>
            <input id="input_issue_contact"  min="1" max="50000" step="1" type="text" class="form-control" placeholder="请留下邮箱或电话，使我们快速反馈">
          </div> 
          <button type="submit" class="btn btn-primary mt-5 w-100">提交</button>
        </form>
      </div>
    </div>

  </section>
  <script type="module" src="/common/javascripts/feedback.js"></script>
  <script type="module" src="/common/javascripts/tm.js"></script>
  <script type="module" src="/micro/javascripts/oasis/value-journey.js"></script>


</body>
</html>