
header{
  z-index: 1035;
}



// }
.carousel-item {
  margin-top: 4%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
}
.oasis-base {
  margin-left: 20%;
}
.cover-upload-container{
  width: 204px;
  height: 204px;
}
.cover-upload-container img{
  width: 200px;
  height: 200px;
}
.form-floating{
  color: #666;
  width: 100%;
}
.text-preline{
  white-space: pre-line;
}
.oasis-risk-box{
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  min-height: 200px;
  max-width: 1200px;
  white-space: pre-line;
  padding: 1rem .75rem;
  padding-top: 1.625rem;
  padding-bottom: .625rem;
  font-size: 16px;
  line-height: 1.765;
}
.announce-container{
  max-width: 1200px;
  border-radius: 5px;
  width: 100%;
  min-height: 320px;

}
.announce-container img{
  width: 100%;
  border-radius: 5px;

}
.publish-agreement ol{
  padding-right: 4rem;
}
.help-text{
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.575;
}
.form-floating > .form-control{
  height: unset;
  font-style: normal;
  font-size: 16px;
  line-height: 1.765;
}
img:after{
  content: "";
}
img:not([src]) {
  visibility: hidden;
}
@media (max-width: 576px) {
  .btn-option-primary-micro,.btn-option-secondary-micro{
    width: 120px;
    height: 40px;
  }
  .carousel-item{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .publish-agreement ol{
    padding-right: 1rem;
  }
}
.modal-content{
  background-color: #fff;
}
