
header{
  z-index: 1035;
}

@media only screen and (min-width: 1400px) {
  .oasis-risk-box{
    width: 800px;
  }
  .form-floating{
    width: 800px;
  }
}
@media (min-width: 767px) {
  .oasis-risk-box{
    width: 600px;
  }
  .form-floating{
    width: 500px;

  }
}
// }
.carousel-item {
  margin-top: 4%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 5rem;
}
.oasis-base {
  margin-left: 20%;
}

.cover-upload-container,.cover-upload-container img{
  width: 200px;
  height: 200px;
}
.form-floating{
  min-width: 400px;
  height: 70px;
  color: #666;
}
.text-preline{
  white-space: pre-line;
}
.oasis-risk-box{
  color: #fff;
  background-color: #2c3e50;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: normal;
  min-width: 400px;
  min-height: 200px;
  max-width: 800px;
  white-space: pre-line;
}
.publish-agreement ol{
  padding-right: 4rem;
}
.help-text{
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.575;
}
@media (max-width: 576px) {
  .btn-option-primary-micro,.btn-option-secondary-micro{
    width: 120px;
    height: 40px;
  }
  .carousel-item{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .input-base-item{
    max-width: 300px;
  }
  .oasis-risk-box{
    min-width: 300px;
    width: 300px;
  }
  .publish-agreement ol{
    padding-right: 1rem;
  }
}
