col-content{
    overflow-y: scroll;
}
.category-bar-container .nav-link.active svg path{
    fill:rgba(255, 255, 255, .7);
}
.category-bar-container .nav-link.active{
 color: rgba(255, 255, 255, .7);;
}
.category-bar-container .nav-link:not(.active){
    color: #545454;
}
.package-section{
    margin-left: 10px;
}
.package-card-container{
    background-color: #2e2e2e9d;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    opacity: .7;
}
.package-card-container:hover{
    opacity: 1;
}
.btn-obj-option{
    background: inherit;
    border: none;
}
.btn-obj-option:hover{
    background:#545454
}
.dropdown-toggle:after{
    display: none;
  }
  .obj-option-item,.obj-option-item:hover{
    background: inherit;
    color: #2f2f2f;
    border: none;
  } 
  .carousel-inner{
    overflow:visible;
  }
  .obj-title-wrapper{
    height: 50px;
  }
  .obj-title-wrapper h6{
    width: 100%;
    white-space:pre-wrap;
    text-overflow:ellipsis;       //用...省略号显示
    display:-webkit-box;          //将对象作为弹性伸缩盒子模型显示
    -webkit-box-orient:vertical;  //从上到下垂直排列子元素
    -webkit-line-clamp:2;         //显示的行数
    overflow:hidden;              //超出盒子宽度内容，便溢出隐藏  
    line-height: 1.765;
  }
  .package-card-container img{
    height: 130px;
    border-radius: 5px;
}
#inputObjSalePrice{
  min-width: 200px;
}
.help-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.575;
}
.tab-pane {
  padding-bottom: 3rem;
}