
@media only screen and (min-width: 1400px) {
    header{
      display: none;
    }
    .content-wrapper {
        height: 100%;
    }
  }
.content-wrapper {
    height: calc(100% - 100px);
}
  col-content{
    width: 100%;
  }
  .offcanvas-xxl.offcanvas-start {
    width: 340px;
  }
  header{
    position:sticky;
    top: 0;
    left: 0;
    background: #161416;
  }
  .toggle-nav{
    background: inherit;
  }
.feed-item-collapse::before{
    content: "\f285";
    margin-right: 5px;
}
.feed-item-collapse,.feed-item-collapse::before{
    color: #616161;
}
.collapse-ctl:not([aria-expanded="false"]) {
    .feed-item-collapse::before{
        content: "\f282";
    }
  }
  .oasis-avatar-tiny{
    width: 36px;
    height: 36px;
    border-radius: 2px;
  }
.nav-link .link-title{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav-title{
    height: 40px;
}
.nav-sub-container{
    overflow-y: scroll;
    height: calc(100% - 100px);
}

