
col-content{
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
col-content::-webkit-scrollbar { 
  display: none; 
}
.sidebarContainer{
  max-height: 100vh;
}
.content-wrapper {
    height: calc(100% - 100px);
}

.backgroud-icon i{
  font-size: 100px;
  color: dimgrey;
}
.oasis-avatar-wrapper, .oasis-avatar-tiny{
  width: 36px;
  height: 36px;
  border-radius: 18px;
  position: relative;

}
.modal-header .btn-close{
  border: none;
  box-shadow: none;
 }
@media only screen and (min-width: 1400px) {
  header{
    display: none;
  }
  .content-wrapper {
      height: 100%;
  }
}
  col-content{
    width: 100%;
  }
  .offcanvas-xxl.offcanvas-start {
    width: 340px;
  }
  header{
    position:sticky;
    top: 0;
    left: 0;
    background: #161416;
    z-index: 2;
    height: 56px;
  }
  .toggle-nav{
    background: inherit;
  }
.feed-item-collapse::before{
    content: "\f285";
    margin-right: 5px;
}
.feed-item-collapse,.feed-item-collapse::before{
    color: #616161;
}
.collapse-ctl:not([aria-expanded="false"]) {
    .feed-item-collapse::before{
        content: "\f282";
    }
  }
  .oasis-avatar-tiny{
    object-fit: cover;
  }
.nav-link .link-title{
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav-title{
    height: 40px;
}
.nav-title h3{
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}
.nav-sub-container{
    overflow-y: scroll;
    height: calc(100% - 100px);
}
.nav-sub-container .nav-link {
  margin-bottom: 2px;
}
#collapseInvitedOasis span{
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
    overflow: hidden;
}
.help-text-color{
  color: #aaa;
}
@media (max-width: 576px) {
  .logo{
    justify-content: flex-end !important;
  }
}
