.nav-oasis-container{
    height: 120px;
}
.transparent-category{
    display: inline-block;
    margin-bottom: 0;
}
.transparent-category li{
    text-decoration: none;
    display: inline-block;

}
.transparent-category-item{
    width:80px;
    height: 30px;
}
.transparent-category-item:hover{
    background: #000;
    border-radius: 2px;
    color: white;

}
.member-avatar,.member-title{
    display: flex;
    justify-content: center;
}
.member-avatar img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}
.section-member-grid{
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
}
.member-title{
    min-width: 80px;
    width: 100%;
}
.member-title span{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}