<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”robots” content=”noindex,nofollow”>
    <meta http-equiv ='content-language' content ='zh-cn'>

    <link rel="icon" href="https://www.bluvarri.com/favicon.png">
    <title>部落委托</title>
    <script src="/common/javascripts/avif-webp.min.js"></script>


    <link rel="stylesheet" href="/common/stylesheets/style.scss">
    <link rel="stylesheet" href="/rainbow/stylesheets/teixcalaanli.scss">
    <link rel="stylesheet" href="/rainbow/stylesheets/oasis.scss">
    <link rel="stylesheet" href="/rainbow/arch/stylesheets/teixcalaanli-arch.scss">
    <link rel="stylesheet" href="/rainbow/stylesheets/commission.scss">
    <link rel="stylesheet" href="/rainbow/stylesheets/oasis-action-compoent.scss">
    <link rel="stylesheet" href="/rainbow/oasis/stylesheets/fast-link-container.scss">


</head>
<body>
  <micro-app id="app" v-cloak>
    <main class="d-flex flex-row">
      <div class="offcanvas-xxl offcanvas-start" tabindex="-1" id="mcSidebar" aria-labelledby="mcSidebarOffcanvasLabel">
        <div class="sidebarContainer d-flex flex-row">
          <col-nav-main>
          <div class="nav-container-wrapper">
            <a href="/rainbow/teixcalaanli" data-bs-custom-class="custom-popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-content="彩虹部落"> 
              <div class="nav-item-default nav-teixcalaanli d-flex align-items-center justify-content-center ms-3">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 13C3.8 13 2 14.8 2 17C2 19.2 3.8 21 6 21C8.2 21 10 19.2 10 17C10 14.8 8.2 13 6 13ZM12 3C9.8 3 8 4.8 8 7C8 9.2 9.8 11 12 11C14.2 11 16 9.2 16 7C16 4.8 14.2 3 12 3ZM18 13C15.8 13 14 14.8 14 17C14 19.2 15.8 21 18 21C20.2 21 22 19.2 22 17C22 14.8 20.2 13 18 13Z" fill="#36F7E5"/>
                  </svg>
              </div>
            </a>
            <a href="/messages" data-bs-custom-class="custom-popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-content="私信"> 
              <div class="nav-private nav-item-default  d-flex align-items-center justify-content-center   ms-3 mt-2">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8.99991 11.9999H14.9999" stroke="#fff" stroke-width="2" stroke-linecap="round"/>
                  <path d="M9 18H8C4.68629 18 2 15.3137 2 12C2 8.68629 4.68629 6 8 6H9" stroke="#fff" stroke-width="2" stroke-linecap="round"/>
                  <path d="M15 6H16C19.3137 6 22 8.68629 22 12C22 15.3137 19.3137 18 16 18H15" stroke="#fff" stroke-width="2" stroke-linecap="round"/>
                  </svg>              
              </div>
            </a>
            <a v-for="oasis in joinedoases.records"  :href="'/rainbow/oasis/home?oasis_id='+oasis.id" data-bs-custom-class="custom-popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-toggle="popover" :data-bs-content="oasis.title">
              <div class="nav-item-default  d-flex align-items-center justify-content-center   ms-3 mt-2"
                   :class="{'active': oasis.id==oasisId}">
                <div class="oasis-avatar-wrapper">
                  <img class="oasis-avatar-tiny" 
                :src="adaptiveImageUriV(oasis.avatar) || oasisAvatarDefault" @error="e => { e.target.src = oasisAvatarDefault }">  
                </div>
              </div>
            </a>

          </div>
          
          <div class="nav-setting">
            <div class="nav-item-default nav-gear d-flex align-items-center justify-content-center ms-3">
              <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle button_user_vue brand-avatar" data-bs-toggle="dropdown" aria-expanded="false">
                  <img  :src="adaptiveImageUriV(getIdentity().avatar)  || defaultAvatarImage" @error.once="e => { e.target.src = defaultAvatarImage }">
                </button>
                <ul class="dropdown-menu dropdown-menu-end ms-5">
                  <li>
                    <a href="/estudio/studio-setting-profile">
                      <button class="dropdown-item" type="button">
                        <i class="bi bi-person-vcard me-1"></i> 品牌形象
                       </button>
                    </a>
                  </li>
                  <li>
                      <button @click="logout()" class="dropdown-item" type="button">   
                        <i class="bi bi-box-arrow-right me-1"></i> 退出登录 
                      </button>
                  </li>
                  <li>
                    <a href="/mall/delete-account">
                      <button class="dropdown-item" type="button">
                        <i class="bi bi-trash3 me-1"></i> 删除账号
                       </button>
                    </a>
                  </li>
                  
                  <li>
                    <button class="dropdown-item" type="button" data-bs-toggle="offcanvas" data-bs-target="#feedback_offcanvas_right" aria-controls="feedback_offcanvas_right">
                      <i class="bi bi-flag me-1"></i> 反馈
                    </button>
                  </li>
                </ul>
              </div>
    
            </div>
          </div>
    </col-nav-main>
    <col-nav-sub>
    
      <div>
        <oasisoptions  @unfollow-success="handleUnfollowSuccessEventV" @follow-success="handleJoinSuccessEventV"  ref="oasisinvitationModal"  :joinedoasis="joinedoases" :oasis_announce="announce"  :oasis_id="oasisId"  :brand_id="getIdentity().brandId"/>
      </div>

      <div class="nav-sub-container">
        <div>
          <div>
            <fastlinks  :links="fastlinks"/>
          </div>

          <a  class="nav-link nav-sub-link-active p-2 ms-3 d-flex flex-row align-items-center">
            <i class="bi bi-house"></i>
              
        
            <span>主页</span>  
          </a>
          <a class="nav-link  nva-link-default p-2 ms-3  d-flex flex-row align-items-center" :href="'/rainbow/arch/channel-0001?oasis_id='+ oasisId">
            <i class="bi bi-fan"></i>
            <span class="link-title">日常</span>  
          </a>
          <div v-for="channel in channelSort" 
             :class="{'channel-active': currentOch==channel}"
             class="w-100 position-relative sub-channel-box">
            <a  
            :class="{
              'nva-link-default': currentOch!=channel,
              'nav-sub-link-active ':  currentOch==channel}"
                class="nav-link   p-2 ms-3  d-flex flex-row align-items-center" :href="'/rainbow/oasis/mini?och='+getChannelDataV(channel,oaisiChannelList).oasisChannelId + '&oasis_id=' + oasisId">
           
              <img :src="getChannelDataV(channel,oaisiChannelList).appLogo" alt="logo">
              <span class="link-title">{{getChannelDataV(channel,oaisiChannelList).channelName}}</span>  

            </a>
            <div :class="{'isAdmin': initiatorRoleV()}" class="channel-options">
              <div class="channel-options-ctl">
                  <a  :href="getChannelDataV(channel,oaisiChannelList).appAdminUrl + '?och=' + channel" class="option-channel-setting">
                      <button type="button" class="btn  btn-secondary"><i class="bi bi-gear"></i></button>
                  </a>
              </div>
            </div>
          </div>

        
        </div>
        
        
      </div>
    </col-nav-sub>

        </div>
      </div>
      <col-content>
      <div class="hero-container">
        <div class="hero-info d-flex flex-row align-items-baseline">
            <div>
              <img class="oasis-avatar" :src="adaptiveImageUriV(announce.avatar) || oasisAvatarDefault" @error.once="e => { e.target.src = oasisAvatarDefault }">
            </div>
           <div class="ms-4">
            <h2>{{announce.title}}</h2>
            <p>{{announce.subTitle}}</p>
           </div>
        </div>
      </div>
  <div class="nav-oasis-container d-flex justify-content-between">
    <ul class="nav border-0 h-100">
      <li class="nav-item" role="presentation">
        <a class="nav-link d-flex align-items-center" aria-current="page" :href="'/rainbow/oasis/home?oasis_id='+oasisId">公告</a>
      </li>
      <li class="nav-item active" role="presentation">
        <a class="nav-link d-flex align-items-center" aria-current="page" :href="'/rainbow/oasis/commission?oasis_id='+oasisId">委托</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link d-flex align-items-center" aria-current="page" :href="'/rainbow/oasis/value-journey?oasis_id='+oasisId">数据</a>
      </li>
    </ul>
    <div class="toggle-nav me-3 ">
      <div class="d-flex align-items-center h-100 " >
        <button class="navbar-toggler p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#mcSidebar" aria-controls="bdSidebar" aria-label="Toggle mcSidebar navigation">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between oasis-commission-header mt-2">
    <div class="oasis-search d-flex">

      <div class="dropdown">
        <button class="btn commission-filter-btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          过滤
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" v-preventreclick @click="filterCommissionV('1')">您已接收任务</a></li>
          <li><a class="dropdown-item" v-preventreclick  @click="filterCommissionV('2')">最近7天</a></li>
          <li><a class="dropdown-item" v-preventreclick   @click="filterCommissionV('3')">最近1天</a></li>
        </ul>
      </div>
      <form class="nosubmit" onsubmit="return false">
        <input @keyup.enter.native="retrieveOasisCommissionGridV" v-model="commissionTb_pagination.param.q" class="nosubmit commission-search-btn" type="search" placeholder="搜索...">
      </form>
    </div>
    <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#addTaskModal">
      <i class="bi bi-plus-circle-fill"></i> 新委托
    </button>

  </div>
  <div class="mt-2  commission-tb-container">
    <div class="table-responsive">


    <table class="table table-dark table-hover align-middle mb-0">
      <thead class="help-text">
        <tr>
          <th class="w-75"></th>
          <th>
            <div class="dropdown">
              <button class="btn commission-tb-filter btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                状态
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" v-preventreclick  @click="retrieveOasisCommissionByTagV('1')">待审核</a></li>
                <li><a class="dropdown-item" v-preventreclick  @click="retrieveOasisCommissionByTagV('6')">派发中</a></li>
                <li><a class="dropdown-item" v-preventreclick  @click="retrieveOasisCommissionByTagV('2')">处理中</a></li>
                <li><a class="dropdown-item" v-preventreclick  @click="retrieveOasisCommissionByTagV('4')">已交付</a></li>
                <li><a class="dropdown-item" v-preventreclick  @click="retrieveOasisCommissionByTagV('5')">已废除</a></li>
                <li><a class="dropdown-item" v-preventreclick  @click="retrieveOasisCommissionByTagV('')">全部</a></li>
              </ul>
            </div>
          </th>
          <th class="text-start">
            <div class="dropdown">
              <button class="btn commission-tb-filter btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                排序
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" v-preventreclick  @click="sortCommissionV('1')">最新发布</a></li>
                <li><a class="dropdown-item" v-preventreclick  @click="sortCommissionV('2')">更早发布</a></li>
              </ul>
            </div>
          </th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <tr v-for="record in commissionTb_pagination.records">
          <td class="commission-info">
            <div class="ms-3">
              <a :href="'/rainbow/arch/commission-ws?id=' + record.id" class="url-link">
                <h5>{{record.title}}</h5>
              </a>
              <span class="help-text text-small">佣金: {{record.bonus}}</span>
              <span v-if="!!record.workerName" class="help-text text-small">履行: {{record.workerName}}</span>
              <span class="help-text text-small">在 {{record.addDate}} 由 {{record.founderName}} 创建</span>
            </div>
          </td>
          <td class="commission-tag">
            {{explainOasisCommissionTagV(record.tag)}}
          </td>
          <td class="text-start">
            <button v-if="record.tag=='6' && !isOasisFounder()"  v-preventreclick   @click="openViewTaskModalV(record)" type="button" 
              data-bs-custom-class="custom-popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-content="接委托"
              class="btn btn-commission-action">
              <i class="bi bi-briefcase"></i>
            </button>

            <button v-if="record.tag=='5' && isOasisFounder()"  v-preventreclick   @click="deleteCommissionV(record.id)" type="button" 
              data-bs-custom-class="custom-popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-content="删除委托"
              class="btn btn-commission-action">
              <i class="bi bi-trash"></i>                            
            </button>
            
            <button v-if="(record.tag=='1' || record.tag=='6' || record.tag=='7') && isOasisFounder()"  v-preventreclick   @click="openEditTaskModalV(record)" type="button" 
              data-bs-custom-class="custom-popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-content="编辑任务"
               class="btn btn-commission-action">
               <i class="bi bi-pencil-square"></i>
            </button>

            <button v-if="record.tag=='1' && isOasisFounder()"  v-preventreclick   @click="openAuditTaskModalV(record)" type="button" 
              data-bs-custom-class="custom-popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-content="审核任务"
              class="btn btn-commission-action ms-3">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3 13.5L3.00188 10.5161C3.00188 10.4167 3.04138 10.3213 3.11171 10.251C3.18204 10.1806 3.27742 10.1411 3.37688 10.1411H7.12762C7.47337 10.1411 7.4715 9.83437 7.4715 9.10462C7.4715 8.37487 5.63325 7.76025 5.63325 5.19487C5.63325 2.6295 7.5375 1.875 9.12 1.875C10.7025 1.875 12.4264 2.6295 12.4264 5.19487C12.4264 7.76025 10.5979 8.16825 10.5979 9.10462C10.5979 10.041 10.5979 10.1411 10.8904 10.1411H14.6254C14.7248 10.1411 14.8202 10.1806 14.8905 10.251C14.9609 10.3213 15.0004 10.4167 15.0004 10.5161V13.5H3Z" stroke="white" stroke-linejoin="round"/>
                <path d="M3 15.75H15" stroke="white" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                              
            </button>


          </td>
        </tr>
      </tbody>
    </table>
    <div v-show="isEmptyObjV(commissionTb_pagination.records)" class="empty-content-block">

      没有可用的内容！

    </div>
    <nav v-if="!!commissionTb_pagination.paging" aria-label="Page navigation" class="millstone-pagination">
      <ul class="pagination pagination-lg pagination-dark  border-0">
        <li class="page-item" @click="pagePre(commissionTb_pagination)">
          <a class="page-link"  aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"  v-for="page in commissionTb_pagination.paging.items" :class="{'current-page-active': commissionTb_pagination.paging.current == page}" 
              @click="pageGo(commissionTb_pagination,page)"><a class="page-link">{{page}}</a></li>
        <li class="page-item" @click="pageNext(commissionTb_pagination)">
          <a class="page-link" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>

    </div>
    
  </div>
  
     
     


    </col-content>
    </main>
    
    
    <section class="modals">
      <div class="modal-container">
        <div class="modal fade fullscreen-modal" id="addTaskModal" data-bs-backdrop="static" tabindex="-1">
          <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content text-color-dark">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="addTaskModalLabel">新增任务</h1>
                <button @click="closeAddTaskModalHandlerV" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row mb-3 mt-3">
                  <label for="inputTitle" class="col-sm-4 col-form-label"> 
                    标题 <div class="help-text"> 任务标题(最大80字符,必填) </div>
                  </label>
                  <div class="col-sm-8">
                    <textarea id="inputTitle" v-model="commissionForm.title" class="form-control" maxlength="80" aria-label="With textarea"></textarea>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="inputBonus" class="col-sm-4 col-form-label"> 
                    佣金 <div class="help-text"> 任务佣金(单位为元,必填) </div>
                  </label>
                  <div class="col-sm-8">
                    <input type="number" @input="transformInputNumberV($event)" v-model="commissionForm.bonus" min="1" max="50000" step="1"  type="number" class="form-control" id="inputBonus">
                  </div>
                </div>
                <div class="row mb-5">
                  <label for="inputSow" class="col-sm-4 col-form-label"> 
                    摘要 <div class="help-text"> 任务工作范围等内容(必填) </div>
                  </label>
                  <div class="col-sm-8">
                    <textarea type="text" maxlength="4500" rows="15" v-model="commissionForm.sow" class="form-control" id="inputSow">
                    </textarea>
                  </div>
                </div>
               
              </div>

              <div class="modal-footer btn-light  "> 
                <button 
                :class="{'disabled': !validitateCommissionFormV(), 
                'btn-primary': validitateCommissionFormV() ,
                'btn-secondary': !validitateCommissionFormV()  }" 
                 type="button"  v-preventreclick   @click="addCommissionV" class="btn btn-primary">提交任务</button>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="modal-container">
        <div class="modal fade fullscreen-modal" id="auditTaskModal" data-bs-backdrop="static" tabindex="-1">
          <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content text-color-dark">
              <div class="modal-header">
                <h1 class="modal-title fs-5">审核委托任务</h1>
                <button @click="closeAuditTaskModalHandlerV" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p><strong>任务:</strong></p>
                <p>{{auditingCommission.title}}</p>
                <p><strong>摘要:</strong></p>
                <p>{{auditingCommission.sow}}</p>
                <p><strong>佣金:</strong></p>
                <p>{{auditingCommission.bonus}}</p>

              </div>
              <div class="modal-footer btn-light  "> 
                <button class="btn-primary btn" type="button" v-preventreclick   @click="addTaskToPoolV(auditingCommission.id)" >通过</button> 
                <button class="btn-outline-danger btn ms-4" type="button" v-preventreclick   @click="abortTaskV(auditingCommission.id)">否决</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-container">
        <div class="modal fade fullscreen-modal" id="acceptTaskModal" data-bs-backdrop="static" tabindex="-1">
          <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content text-color-dark">
              <div class="modal-header">
                <h1 class="modal-title fs-5">接受委托任务</h1>
                <button @click="closeAcceptTaskModalHandlerV" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
              </div>
              <div class="modal-body">
                <p><strong>任务:</strong></p>
                <p>{{viewCommission.title}}</p>
                <p><strong>摘要:</strong></p>
                <p>{{viewCommission.sow}}</p>
                <p><strong>佣金:</strong></p>
                <p>{{viewCommission.bonus}}</p>

              </div>
              <div class="modal-footer btn-light  "> 
                <button class="btn-primary btn" type="button"  v-preventreclick   @click="receiveCommissionV(viewCommission.id)">接受委托</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-container">
        <div class="modal fade fullscreen-modal" id="editTaskModal" data-bs-backdrop="static" tabindex="-1">
          <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content text-color-dark">
              <div class="modal-header">
                <h1 class="modal-title fs-5">编辑委托任务</h1>
                <button @click="closeEditTaskModalHandlerV" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">

                <div class="row mb-3 mt-3">
                  <label for="edit_inputTitle" class="col-sm-4 col-form-label"> 
                    标题 <div class="help-text"> 任务标题(最大80字符,必填) </div>
                  </label>
                  <div class="col-sm-8">
                    <textarea id="edit_inputTitle" v-model="editingCommission.title" class="form-control" maxlength="80" aria-label="With textarea"></textarea>
                  </div>
                </div>
                <div class="row mb-3">
                  <label for="eidt_inputBonus" class="col-sm-4 col-form-label"> 
                    佣金 <div class="help-text"> 任务佣金(单位为元,必填) </div>
                  </label>
                  <div class="col-sm-8">
                    <input type="number" @input="transformInputNumberV($event)" v-model="editingCommission.bonus" min="1" max="50000" step="1"  type="number" class="form-control" id="eidt_inputBonus">
                  </div>
                </div>
                <div class="row mb-5">
                  <label for="edit_inputSow" class="col-sm-4 col-form-label"> 
                    摘要 <div class="help-text"> 任务工作范围等内容(必填) </div>
                  </label>
                  <div class="col-sm-8">
                    <textarea type="text" maxlength="4500" rows="15" v-model="editingCommission.sow" class="form-control" id="edit_inputSow">
                    </textarea>
                  </div>
                </div>


              </div>

              <div class="modal-footer btn-light  "> 
                <button :class="{'disabled': !validitateCommissionEditFormV(), 
                'btn-primary': validitateCommissionEditFormV() ,
                'btn-secondary': !validitateCommissionEditFormV()  }" class="btn-primary btn" type="button" v-preventreclick   @click="changeCommissionV" >保存</button> 
                <button class="btn-outline-danger btn ms-4" type="button" v-preventreclick   @click="deleteCommissionV(editingCommission.id)">删除</button>
              </div>

            </div>
          </div>
        </div>
      </div>

    </section>
  </micro-app>
  <section class="feedback_offcanvas" id="section_feedback_offcanvas">

    <div class="offcanvas offcanvas-end" tabindex="-1" id="feedback_offcanvas_right" aria-labelledby="feedbackOffcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="feedbackOffcanvasRightLabel">发送反馈到小蔚</h5>
        <button id="closeFeedbackOffcanvas" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form id="feedback-form">
          <div class="mt-3">
            <label for="input_issue" class="form-label">您遇到的具体问题是什么(必填,300字以内)</label>
            <textarea  rows="8" type="text" maxlength="300" class="form-control"  id="input_issue"></textarea>
          </div> 
          <div class="mt-3">
            <label class="form-label">附件图片(选填)</label>
            <div class="feedback-attachment-upload-container dropzone-wrapper">
              <img  id="lastestFeedbackAttachment" >
              <div class="dropzone-desc">
                <i class="bi bi-cloud-plus"></i>
              </div>
              <input type="file" id="input_issue_attachment"  accept="image/jpg, image/png, image/jpeg" class="dropzone">
            </div>
          </div>  
          <div class="mt-3">
            <label for="input_issue_contact" class="form-label">您的联系方式(选填)</label>
            <input id="input_issue_contact"  min="1" max="50000" step="1" type="text" class="form-control" placeholder="请留下邮箱或电话，使我们快速反馈">
          </div> 
          <button type="submit" class="btn btn-primary mt-5 w-100">提交</button>
        </form>
      </div>
    </div>

  </section>
  <script type="module" src="/common/javascripts/feedback.js"></script>
  <script type="module" src="/common/javascripts/tm.js"></script>
  <script type="module" src="/rainbow/javascripts/oasis/commission.js"></script>


</body>
</html>