<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <meta http-equiv ='content-language' content ='zh-cn'>

    <link rel="icon" href="https://www.bluvarri.com/favicon.png">
    <title>活跃成员</title>
    <script src="/common/javascripts/avif-webp.min.js"></script>


    <link rel="stylesheet" href="/common/stylesheets/style.scss">
    <link rel="stylesheet" href="/rainbow/stylesheets/teixcalaanli.scss">
    <link rel="stylesheet" href="/rainbow/stylesheets/oasis.scss">
    <link rel="stylesheet" href="/rainbow/arch/stylesheets/teixcalaanli-arch.scss">
    <link rel="stylesheet" href="/rainbow/stylesheets/transparent.scss">
    <link rel="stylesheet" href="/rainbow/stylesheets/oasis-action-compoent.scss">
    <link rel="stylesheet" href="/rainbow/oasis/stylesheets/fast-link-container.scss">
</head>
<body>
  <micro-app  id="app" v-cloak>
    <main class="d-flex flex-row">
      <div class="offcanvas-xxl offcanvas-start" tabindex="-1" id="mcSidebar" aria-labelledby="mcSidebarOffcanvasLabel">
        <div class="sidebarContainer d-flex flex-row">
          <col-nav-main>
          <div class="nav-container-wrapper">
            <a href="/rainbow/teixcalaanli" data-bs-custom-class="custom-popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-content="彩虹部落"> 
              <div class="nav-item-default nav-teixcalaanli d-flex align-items-center justify-content-center ms-3">
                <i class="bi bi-rainbow"></i>
              </div>
            </a>
            <a href="/messages" data-bs-custom-class="custom-popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-content="私信"> 
              <div class="nav-private nav-item-default  d-flex align-items-center justify-content-center   ms-3 mt-2">
                <i class="bi bi-soundwave"></i>             
              </div>
            </a>
            <a :key="oasis.id" v-for="oasis in joinedoases.records"  :href="'/rainbow/oasis/home?oasis_id='+oasis.id" data-bs-custom-class="custom-popover" data-bs-placement="right" data-bs-trigger="hover" data-bs-toggle="popover" :data-bs-content="oasis.title">
              <div class="nav-item-default  d-flex align-items-center justify-content-center   ms-3 mt-2"
                   :class="{'active': oasis.id==oasisId}">
                <div class="oasis-avatar-wrapper">
                  <img class="oasis-avatar-tiny" 
                :src="adaptiveImageUriV(oasis.avatar) || oasisAvatarDefault" @error="e => { e.target.src = oasisAvatarDefault }">  
                </div>
              </div>
            </a>

          </div>
          
          <div class="nav-setting">
            <div class="nav-item-default nav-gear d-flex align-items-center justify-content-center ms-3">
              <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle button_user_vue brand-avatar" data-bs-toggle="dropdown" aria-expanded="false">
                  <img  :src="adaptiveImageUriV(getIdentity().avatar)  || defaultAvatarImage" @error.once="e => { e.target.src = defaultAvatarImage }">
                </button>
                <ul class="dropdown-menu dropdown-menu-end dropdown-dark ms-5">
                  <li>
                    <a href="/estudio/studio-setting-profile">
                      <button class="dropdown-item" type="button">
                        <i class="bi bi-person-vcard me-1"></i> 品牌形象
                       </button>
                    </a>
                  </li>
                  <li>
                      <button @click="logout()" class="dropdown-item" type="button">   
                        <i class="bi bi-box-arrow-right me-1"></i> 退出登录 
                      </button>
                  </li>
                  <li>
                    <a href="/mall/delete-account">
                      <button class="dropdown-item" type="button">
                        <i class="bi bi-trash3 me-1"></i> 删除账号
                       </button>
                    </a>
                  </li>
                  
                  <li>
                    <button class="dropdown-item" type="button" data-bs-toggle="offcanvas" data-bs-target="#feedback_offcanvas_right" aria-controls="feedback_offcanvas_right">
                      <i class="bi bi-flag me-1"></i> 问题反馈
                    </button>
                  </li>
                </ul>
              </div>
    
            </div>
          </div>
    </col-nav-main>
    <col-nav-sub>
      <div>
        <oasisoptions  @unfollow-success="handleUnfollowSuccessEventV" @follow-success="handleJoinSuccessEventV"  ref="oasisinvitationModal"  :joinedoasis="joinedoases" :oasis_announce="announce"  :oasis_id="oasisId"  :brand_id="getIdentity().brandId"/>
      </div>
      <div class="nav-sub-container">
        <div>
          <div>
            <fastlinks  :links="fastlinks"/>
          </div>

          <a  class="nav-link nav-sub-link-active p-2 ms-3 d-flex flex-row align-items-center">
            <i class="bi bi-house"></i>
              
        
            <span>主页</span>  
          </a>
          <a class="nav-link  nva-link-default p-2 ms-3  d-flex flex-row align-items-center" :href="'/rainbow/arch/channel-0001?oasis_id='+ oasisId">
            <i class="bi bi-fan"></i>
            <span class="link-title">日常</span>   
          </a>
          <div v-for="channel in channelSort" 
             :class="{'channel-active': currentOch==channel}"
             class="w-100 position-relative sub-channel-box">
            <a  
            :class="{
              'nva-link-default': currentOch!=channel,
              'nav-sub-link-active ':  currentOch==channel}"
                class="nav-link   p-2 ms-3  d-flex flex-row align-items-center" :href="'/rainbow/oasis/mini?och='+getChannelDataV(channel,oaisiChannelList).oasisChannelId + '&oasis_id=' + oasisId">
           
              <img :src="getChannelDataV(channel,oaisiChannelList).appLogo" alt="logo">
              <span class="link-title">{{getChannelDataV(channel,oaisiChannelList).channelName}}</span>  

            </a>
            <div :class="{'isAdmin': initiatorRoleV()}" class="channel-options">
              <div class="channel-options-ctl">
                  <a  :href="getChannelDataV(channel,oaisiChannelList).appAdminUrl + '?och=' + channel" class="option-channel-setting">
                      <button type="button" class="btn  btn-secondary"><i class="bi bi-gear"></i></button>
                  </a>
              </div>
            </div>
          </div>

        
        </div>
        
        
      </div>
    </col-nav-sub>
        </div>
      </div>
      <col-content>
      <div class="hero-container">
        <div class="hero-info">
            <div>
              <img class="oasis-avatar" :src="adaptiveImageUriV(announce.avatar) || oasisAvatarDefault" @error.once="e => { e.target.src = oasisAvatarDefault }">
            </div>
           <div class="oasis-info">
            <h2>{{announce.title}}</h2>
            <p>{{announce.subTitle}}</p>
           </div>
        </div>
      </div>
    <!-- 组织导航栏 -->
    <div class="oasis-nav-tabs">
      <div class="nav-tabs-inner">
        <nav class="tabs-list">
          <a class="tab-item"  :href="'/rainbow/oasis/home?oasis_id='+oasisId">
            <i class="bi bi-megaphone"></i>
            <span>公告</span>
          </a>
          <a class="tab-item" :href="'/rainbow/oasis/commission?oasis_id='+oasisId">
            <i class="bi bi-stickies"></i>
            <span>委托</span>
          </a>
          <a class="tab-item active" :href="'/rainbow/oasis/value-journey?oasis_id='+oasisId">
            <i class="bi bi-activity"></i>
            <span>数据</span>
          </a>
        </nav>
        <div class="toggle-nav">
          <button class="menu-toggle" type="button" data-bs-toggle="offcanvas" data-bs-target="#mcSidebar" aria-controls="bdSidebar" aria-label="Toggle mcSidebar navigation">
            <i class="bi bi-list"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="insight-container ">

      <div class="mt-2 mx-3 d-flex ">

        <div class="insight-menu">
          <div class="transparent-category">
            <ul>

              <li>
                <a :href="'/rainbow/oasis/value-journey?oasis_id='+oasisId" class="text-decoration-none">
                  <div class="transparent-category-item help-text-color"><i class="bi bi-bar-chart me-1"></i> 部落概况</div>
                </a>
              </li>
              <li>
                <a :href="'/rainbow/oasis/transparent?oasis_id='+oasisId" class="text-decoration-none text-white">
                  <div class="transparent-category-item active"><i class="bi  bi-heart-pulse me-1"></i> 活跃成员</div>
                </a>
              </li>
              <li>
                <a :href="'/rainbow/oasis/membership-order?oasis_id='+oasisId" class="text-decoration-none">
                  <div class="transparent-category-item help-text-color"><i class="bi  bi-file-text me-1"></i> 会员订阅</div>
                </a>
              </li>
            </ul>
          </div>

        </div>

        <div class="menu-content">

          <div class="small-device-menu">
            <button class="btn  dropdown-toggle small-device-menu-trigger me-1" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="contents"><i class="bi bi-heart-pulse"></i> 活跃成员</div>
            </button>
            <ul class="dropdown-menu">
              <li>
                <a :href="'/rainbow/oasis/value-journey?oasis_id='+oasisId" class="dropdown-item">
                  <i class="bi bi-bar-chart ms-4"></i> 部落概况
                </a>
              </li>
              <li>
                <a :href="'/rainbow/oasis/transparent?oasis_id='+oasisId" class="dropdown-item">
                  <i class="bi bi-check-lg me-1"></i>  <i class="bi bi-heart-pulse"></i> 活跃成员
                </a>
              </li>
              <li>
                <a :href="'/rainbow/oasis/membership-order?oasis_id='+oasisId" class="dropdown-item">
                  <i class="bi bi-file-text ms-4"></i> 会员订阅
                </a>
              </li>
            </ul>

          </div>



          <section class="section-member-grid">
            <!-- 搜索栏 -->
            <div class="member-search-bar">
              <div class="search-input-wrapper">
                <i class="bi bi-search"></i>
                <input @keyup.enter.native="loadMemberV" v-model="q" type="search" placeholder="搜索成员..." autocomplete="off">
              </div>
            </div>

            <!-- 有数据时显示 -->
            <template v-if="member && member.records && member.records.length > 0">
              
              <!-- 排行榜列表 -->
              <div class="ranking-list">
                <div class="ranking-header">
                  <span class="col-rank">排名</span>
                  <span class="col-member">成员</span>
                  <span class="col-contrib">贡献</span>
                </div>
                <div class="ranking-body">
                  <div v-for="(record, index) in member.records" 
                      class="ranking-item"
                      :class="{'is-top-3': index < 3}"
                      :style="{'--i': index}">
                    <div class="rank-badge" :class="['rank-' + (index + 1)]">
                      <template v-if="index === 0"><i class="bi bi-trophy-fill"></i></template>
                      <template v-else-if="index === 1"><i class="bi bi-award-fill"></i></template>
                      <template v-else-if="index === 2"><i class="bi bi-award"></i></template>
                      <template v-else>{{index + 1}}</template>
                    </div>
                    <div class="member-profile">
                      <div class="avatar-wrapper">
                        <img :src="adaptiveImageUriV(record.avatar) || defaultAvatarImage" @error.once="e => { e.target.src = defaultAvatarImage }">
                      </div>
                      <div class="profile-text">
                        <div class="name ellipsis-1">{{record.brandName}}</div>
                        <div class="title ellipsis-1">{{record.title}}</div>
                      </div>
                    </div>
                    <div class="contrib-info">
                      <div class="contrib-value">
                        <i class="bi bi-heart-fill"></i>
                        <span>{{record.amount}}</span>
                      </div>
                      <div class="contrib-bar">
                        <div class="contrib-fill" :style="{width: getContributionPercent(record.amount) + '%'}"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </template>

            <!-- 空状态 -->
            <div v-if="!member || !member.records || member.records.length==0" class="member-empty-state">
              <div class="empty-visual">
                <div class="pulse-ring"></div>
                <div class="pulse-ring delay-1"></div>
                <div class="pulse-ring delay-2"></div>
                <div class="orbit-ring">
                  <div class="orbit-dot"></div>
                  <div class="orbit-dot delay"></div>
                </div>
                <div class="empty-icon-box">
                  <i class="bi bi-people"></i>
                </div>
              </div>
              <h4>暂无数据</h4>
              <p>未找到有关记录<br/>邀请更多成员加入，一起建设部落吧</p>
            </div>
          </section>

        </div>

      </div>

    </div>
    
     
     


    </col-content>
    </main>
    
    
  </micro-app>
  <section class="feedback_offcanvas" id="section_feedback_offcanvas">

    <div class="offcanvas offcanvas-end" tabindex="-1" id="feedback_offcanvas_right" aria-labelledby="feedbackOffcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="feedbackOffcanvasRightLabel">发送反馈到小蔚</h5>
        <button id="closeFeedbackOffcanvas" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form id="feedback-form">
          <div class="mt-3">
            <label for="input_issue" class="form-label">您遇到的具体问题是什么(必填,300字以内)</label>
            <textarea  rows="8" type="text" maxlength="300" class="form-control"  id="input_issue"></textarea>
          </div> 
          <div class="mt-3">
            <label class="form-label">附件图片(选填)</label>
            <div class="feedback-attachment-upload-container dropzone-wrapper">
              <img  id="lastestFeedbackAttachment" >
              <div class="dropzone-desc">
                <i class="bi bi-cloud-plus"></i>
              </div>
              <input type="file" id="input_issue_attachment"  accept="image/jpg, image/png, image/jpeg" class="dropzone">
            </div>
          </div>  
          <div class="mt-3">
            <label for="input_issue_contact" class="form-label">您的联系方式(选填)</label>
            <input id="input_issue_contact"  min="1" max="50000" step="1" type="text" class="form-control" placeholder="请留下邮箱或电话，使我们快速反馈">
          </div> 
          <button type="submit" class="btn btn-primary mt-5 w-100">提交</button>
        </form>
      </div>
    </div>

  </section>
  <script type="module" src="/common/javascripts/feedback.js"></script>
  <script type="module" src="/common/javascripts/tm.js"></script>
  <script type="module" src="/rainbow/javascripts/oasis/transparent.js"></script>


</body>
</html>