.millstone-title h5{
    line-height: 1.765;
    font-size: 18px;
    font-weight: 600;
}
.sow-cell-title{
    max-width: 400px;
    min-height: 30px;
    white-space: pre-wrap;
    word-break: break-all;
    font-size: 16px;
    line-height: 1.875;
  }
  .sow-brand-name{
    max-width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
    display: inline-block;
  }
  body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#millstone-sub-tablist{
    border-bottom: 1px solid #fff3;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  #millstone-sub-tablist .nav-link {
    font-size: 20px;
    background-color: unset;
    color: #a7a7a7;
    letter-spacing: .1rem;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    font-weight: 800;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  #millstone-sub-tablist  .nav-link.active{
    color: #fff;
    background-color: unset;
  }

.timeline-item > json-node{
  padding-left: 1rem;
  color: #87888c;
  font-size: 12px;
  padding-top: 4px ;
  padding-bottom: 4px ;
  display: block;
  font-weight: 800;

}
.timeline-item > json-node:first-child{
  padding-left: 0;
  color: #fff;  
}
json-node > json-node{
  padding-left: 1.5rem;
  display: block;
}
json-node  span{
  font-size: 12px;
  font-weight: 400;
}
.workspace-pps{
  color: #87888c;
  font-size: 12px;
}
.main-content-container{
  min-width: 780px;
}
.sow-container{
  overflow-y: auto;
}
/* Fix for scrolling behavior on mobile browsers */
.sow-container {
  -webkit-overflow-scrolling: touch; 
  scrollbar-width: none; /* Hide scrollbar for cleaner look */
}

.sow-container::-webkit-scrollbar {
  display: none;
}
.room-msg-panel,.sow-container{
  height: calc(100vh - 230px);
}
.room-msg-container {
  height: calc(100% - 112px);
  position: relative;
  padding: 8px 28px 16px 32px;
  overflow-y: auto;
}

pt-app content main {
  overflow-x: scroll;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 0;
}

.timeline .timeline-item:before {
  top: 2px;
}
@media (max-width: 1162px) {
    .chat-action-wrapper{
        display: block;
      }
      .chat-send-btn{
        margin-top: 1rem;
      }
      .room-msg-container {
        height: calc(100% - 166px);
      }
      .room-msg-panel{
        height: calc(100vh - 283px);
      }
}
@media (max-width: 767px) {
    .timeline {
        padding-left: .5rem;
    }
    .timeline .timeline-item:after {
        left: 0rem;
    }
    .millstone-title h5{
        line-height: 1.665;
        font-size: 16px;
        font-weight: 600;
    }
    json-node h6{
        line-height: 1.565;
        font-size: 14px;
        font-weight: 600;
    }
    json-node span{
        font-size: 12px;
    }
}

@media (width <= 576px) {
  .room-msg-container {
    height: calc(100% - 176px);
  }
  pt-app content main {
    padding-top: 32px;
  }
}