.input-normal-search {
    width: 15%;
    min-width: 500px;
    left: 0;
}

.top-search-input{
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: #fff;
  border: 1px solid #6c757d;
}

.top-search-input::placeholder {
  color: #bbb;
}
.top-search-input:focus {
  border: 1px solid #6c757d;
  box-shadow: none;
  outline: none;
  background: transparent;
  caret-color: #fff;
  color: #fff;

}
.material-item{
    padding: .25rem;
    padding-right: 2rem;
    position: relative;
    display: flex;
}
.material-item a{
    position: absolute;
    right: 8px;
    text-decoration: none;
}
.material-item:hover{
    background-color: #e3e5e7;
}

.filter-bar{
    flex-wrap: nowrap;
    column-gap: .5rem;
    display: flex;
    -moz-column-gap: .5rem;
  }
  .filter-bar .filter-item {
    flex-grow: 1;
  }
  
  
  .btn-dropdown {
    cursor: pointer;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-right: 4px;
    margin-bottom: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: none .1s ease;
    color: hsl(210 calc(1 * 9.091%) 87.059% / 1);
    font-size: 14px;
    font-weight: 500;
    outline: 0;
  
    display: flex;
    align-items: center;
    gap: 4px;
    height: 32px;
    background-color: hsl(240 calc(1 * 4%) 4.902% / 1);
    padding: 8px 8px 8px 12px;
    border-radius: 4px;
    border: 1px solid #6c757d;
    min-height: 38px;
  
  }
  
  .tagsContainer .dropdown-menu {
    --bs-dropdown-min-width: 12rem;
    background-color: hsl(0 calc(1 * 0%) 0.784% / 1);
    box-shadow: none;
    color: hsl(210 calc(1 * 9.091%) 87.059% / 1);
    border: 1px solid #fff3;
  
  }
  .tagsContainer .form-check-reverse{
  text-align: unset;
  display: inherit;
  vertical-align: middle;
  line-height: normal;
  }
  
  .tagsContainer .dropdown-item{
    padding: 6px 8px;
    color: hsl(210 calc(1 * 9.091%) 87.059% / 1);
    box-sizing: border-box;
    min-height: 32px;
    margin: 2px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
  
  }
  
  .tagsContainer .dropdown-item:hover{
    background-color: #2d2c2ce6;
  }
  .separator{
    box-sizing: border-box;
    margin: 4px;
    border-bottom: 1px solid hsl(228 calc(1 * 6.024%) 32.549% / 0.48);
  }
  .groupLabel{
    font-weight: 800 !important;
    font-size: 12px !important;
  }
  .groupLabel:hover{
    background-color: unset !important;
  }
  .tagsContainer .form-check-input:checked{
    background-color: #248045;
    border-color: #248045;
  
  }
  .tagsContainer .form-check-input{
    background-color: transparent;
    outline: unset;
    box-shadow: none;
    border-width: 2px;
  }
  .only-show-bottom{
    border: none;
    border-bottom:1px solid #61666D;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    padding-left: 0;
  }
  .only-show-bottom:focus{
    outline: none;
    color: #61666D;
    box-shadow: none;
    border-color: #61666D;
  }
  .tagsContainer{
    position: relative;
    display: flex;
    align-items: center;
  }
  .tagsContainer .form-check-label{
    width: 100%;
  }
  .peacemaker-avatar{
     height: 24px;
     width: 24px;
     border-radius: 50%;
  }
  .btn-close{
    outline: none;
    box-shadow: none;
    --bs-btn-close-focus-shadow: 0 0 0 .25rem transparent;
  }
  .tb-url-link{
    color: #fff;
  }
  .tb-url-link:hover{
    text-decoration: underline dashed #fff;
  }


.col-soulution{
  width: 18;
}
.col-people{
  width: 5%;
}
.col-case-desc{
  width: 15%;
}

.col-snippet{
   width: 10%;
}
.col-status{
  width: 6%;
}
.col-type,.col-scene,.col-time{
  width: 12%;
}
.main-content-container {
  min-width: 1000px;
}