.millstone-title h5{
    line-height: 1.765;
    font-size: 18px;
    font-weight: 600;
}
json-node h6{
    line-height: 1.665;
    font-size: 16px;
    font-weight: 600;
}
.sow-cell-title{
    width: 400px;
    min-height: 30px;
    white-space: pre-wrap;
    word-break: break-all;
    font-size: 16px;
    line-height: 1.875;
  }
  .sow-brand-name{
    width: 200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    overflow: hidden;
    display: inline-block;
  }
@media (max-width: 767px) {
    .timeline {
        padding-left: .5rem;
    }
    .timeline .timeline-item:after {
        left: -.8rem;
    }
    .millstone-title h5{
        line-height: 1.665;
        font-size: 16px;
        font-weight: 600;
    }
    json-node h6{
        line-height: 1.565;
        font-size: 14px;
        font-weight: 600;
    }
    json-node span{
        font-size: 12px;
    }
}