
@media (min-width: 768px) {
    .display-dialog-wrapper{
        max-width: 46vw; 
    }
}
.section-payway-info .card-body{
    min-height: 200px;
}

.card-body-bg{
    background-color: darken(#112629,10%);
}



.pay-binary-code img {
    object-fit: cover;
    width: 100%;
}
.pay-binary-code, .pay-binary-code img {
    max-width: 18rem;
    height: 180px;
}
.option-th{
    width: 2% !important;
}



.pay_link{
    font-size: 12px;
}
.error-notice{
    width: 100%;
      margin-top: 0.25rem;
      font-size: .875em;
      color: #dc3545
  }
  .disabled{
    color: gray;
  }

  #focusModal form{
    width: 100%;
  }

  .col-product {
    width: 25%;
    min-width: 240px;
}
.col-bill-item{
    width: 30%;
    min-width: 240px;
}
.col-brand{
    width: 20%;
    min-width: 120px;
}