
html, body, mall-app {
    height: 100%;
}
mall-app {
    height: auto;
    min-height: 100%;
    display: block;
}
mall-app main {
    flex: 1;
}
content{
    background: linear-gradient(#d8dcf01a 0%, #3a303000 100%);
}
.back-link{
    font-size: 14px;
    font-weight: 500;
    height: 22px;
    letter-spacing: normal;
    line-height: 22px;
    margin-bottom: 24px;
    cursor: pointer;
}
.app-container {
    height: auto;
    flex-direction: column;
    padding-bottom: 100px;
    display: flex;
}
footer {
    margin-top: -100px;
    position: relative;
}
header{
    z-index: 1020;
    position: sticky;
    top: 0;
    background-color: #000;
}
.toggle-nav {
    font-weight: 600;
    font-size: 24px;
}
.content-main,.header-container{
    padding-bottom: 100px;
    --gutterWidth: 24px;
    --containerWidth: 680px;
    max-width: var(--containerWidth);
    padding: 0 var(--gutterWidth);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 96px;
    margin-top: 50px;
}
.header-container{
    margin-bottom: 0;
    margin-top: 0; 
    height: 55px;
    position: relative;
}
.blog-cta{
    position: absolute;
    right: 26px;
    top: 16px;
}
.blog-cta a{
   color: #fff;
   text-decoration: none;
   background-color: #BF5A03;
   padding: .8rem;
   border-radius: 5px;
   font-size: 14px;
}
.tm-rotate-m30 {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
    display: inline-block;
  }
h3,p{
    margin-bottom: 30px;
}


.highlight-blog-wrapper,.blog-list-container,.blog-item-wrapper{
    padding: 1rem;
    border-radius: 1rem;
}
.highlight-blog,.blog-item{
    text-decoration: none;
    color: whitesmoke;

}
.highlight-blog:hover,.blog-item:hover{
    color: whitesmoke;
}
.highlight-blog-wrapper:hover,.blog-item-wrapper:hover{
    background-color:#373b3e;
    color: whitesmoke;
}

.highlight-blog-img-container{
    position: relative;
}
.highlight-blog-img-container img{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.blog-item-img-container img{
    width: 100%;
    aspect-ratio: 16 / 9;
}
.blog-title{
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}
.highlight-blog-wrapper .blog-title{
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
}
.blog-desc{
    line-height: 21px;
    font-size: 14px;
    font-weight: 400;
}
.blog-time time{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    color: #828a92;
}

.author-container{
    margin: 24px auto 16px;
    width: fit-content;
    text-align: left;
}
.author-wrapper{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 16px;
    color: inherit;
}
.author-avatar-container{
    color: rgb(105, 155, 247);
    flex: 0 0 36px;
}
.author-avatar-container img{
    width: 36px;
    height: 36px;
    border-radius: 36px;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 2.5px, 0px 0px 0px 4.5px;
    margin: 0px auto;
    display: block;
    object-fit: cover;
}
.author-info{
    font-size: 16px;
    line-height: 1.5;
    color: inherit;
    margin-top: 0px;
    margin-left: 18px;
}
.author-title{
    display: block;
    color: rgb(106, 106, 106);
}

.article-widget-head h1{
    text-align: center;
}
.article-widget-head .blog-time{
    text-align: center;
}
.article-content-wrapper{
    line-height: 1.5;
    font-size: var(--t2-fs);
    letter-spacing: var(--t2-ls);
    max-width: 670px;
    counter-reset: orderedListCounter 0;
    --breakoutMarginDistance: calc(((min(100vw, var(--containerWidth)) - 100%) / -2) + var(--gutterWidth));
    margin: 56px auto 0px;
}
h1{
    padding-left: calc(50% - 340px);
    padding-right: calc(50% - 340px);
    line-height: 1.425;

}
.article-content-wrapper p{
    word-break: break-all;
    line-height: 1.875;
    font-size: 16px;
    min-height: 30px;
}
.article-content-wrapper img{
    width: 100%;
    margin-bottom: 30px;
}
.nav-link{
    cursor: pointer;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
}
.nav-link:hover{
    color: #3887fe;
}
.header-navbar > li{
    padding: 10px;
}
.nav-link.active::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -4px;
    height: 3px;
    width: 100%;
    background:#3887fe;
}
.article-content-wrapper p a{
  outline: none;
  text-decoration: none;
  color: #00aafc;
}
.article-content-wrapper p a:hover {
    text-decoration-line: underline;
    text-decoration-color: #00aafc;
    text-decoration-style: dashed;
    text-underline-offset: 0.25em;
}
.article-link-wrapper a{
    outline: none;
    text-decoration: none;
    padding: 0.1875rem 0.125rem;
    margin-top: 0.125rem;
    margin-left: 1rem;
    color: white;
}
.article-link-wrapper a:hover{
    font-weight: 600;
    color: #4CFFA9;
}
.article-link-wrapper .bi-star-fill{
    color: #4CFFA9;
}

.phenomenon,.phenomenon p,.phenomenon_img_container{
    padding: 1rem;
}
.phenomenon .source{
    text-decoration: none;
}
.phenomenon_img_container img{
    width: 100%;
    height: 100%;
}
.what_if p{
    padding-left: 1rem;
}
.logo_link {
    min-width: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    display: flex;
}
.logo_link img {
    width: 32px;
    height: 32px;
}
.content-main ul{
    margin-bottom: 30px;
  }
  .content-main ul li{
    margin-bottom: 8px;
  }
@media (max-width: 1399.98px) {
    .header-container {
        justify-content: space-between;
    }
    .blog-cta{
        display: none;
    }
}
@media (min-width: 768px) and  (max-width: 1024px) {
    .content-main{
        --gutterWidth: 12px;
    }
    .header-container {
        --gutterWidth: 24px;
    }
}
@media (max-width: 576px) {
    .mx-120 {
      grid-template-columns: 1fr 1fr;
    }
    .logo{
      justify-content: flex-end !important;
    }
    .highlight-blog-img-container img{
        height: 262px;
    }
    .blog-item-img-container img{
        height: 200px;
    }
    .content-main, .header-container {
        --gutterWidth: 12px;
    }
    .highlight-blog-wrapper, .blog-item-wrapper{
       padding: 0;
       margin-bottom: 32px;
    }
    
}