textarea{
  word-wrap: break-word;
  word-break: break-all;
}
.chain-setting-container{
  --gutterWidth: 24px;
  --containerWidth: 1200px;
  max-width: var(--containerWidth);
  padding-bottom: 100px;
  padding: 0 var(--gutterWidth);
  margin: 50px auto 96px;
}
.mps-panel{
  background-color: #1a1a1a;
}
.mps-panel-detail{
  background-color: #272727;
  padding: 2rem;
}

// customize select search start 
.iput {
  height: 25px;
  width: 200px;
  padding-left: 5px;
}
.iput::-webkit-input-placeholder {
  /* placeholder颜色 */
  color: #aab2bd;
  /* placeholder字体大小 */
  font-size: 12px;
}

.iop {
  height: 25px;
  margin-left: 5px;
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  display: inline-block;
  overflow: hidden;
}

.iop:hover {
  background-color: #1E90FF;
}

.op-list {
  border: solid 1px #767676;
  width: 200px;
  height: 125px;
  overflow-y: auto;
}

::-webkit-scrollbar {
  /*隐藏滚轮*/
  display: none;
}

.hidden {
  display: none;
}

// customize select search end 

.template-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: .5rem;
}
.tp-desc{
  color: #666;
  width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  padding-top: .5rem;
  padding-bottom: .2rem;
  font-size: 12px;
}
.deltail-title{
  text-align: center;
}
.piece-head{
  width: 48px;
}
.piece-detail{
  width: calc(100% - 48px);
}
.piece-detail span{
  word-break: break-all;
  line-height: 1.6;
}
.highlight{
  font-weight: 600;
}
.detail-sow{
  white-space: pre-line;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.modal-content{
  background-color: #fff;
}
#editChainTemplateModal .modal-dialog,#newChainTemplateModal .modal-dialog{
  margin: 0;
  max-width: 100%;
  height: 100%;
}
#editChainTemplateModal .modal-content,#newChainTemplateModal .modal-content{
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important; 
  height: 100%;
  border: none;
}
#editChainTemplateModal form,#newChainTemplateModal form{
  width: 100%;
}
.deltail-title{
  padding-top: 16px;
  text-align: center;
  word-break: break-all;
}
.detail-item{
  display: flex;
} 
.detail-sow-heading{
  font-weight: 700;
  line-height: 44px;
  padding-top: 26px;
  padding-bottom: 4px;
  font-size: 28px;
}
.detail-sow-content{
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 1.875;
  font-size: 16px;
  min-height: 30px;
  color: #aaa;
  padding-left: 12px;
}
.detail-item-head{
  width: 130px;
  font-weight: 600;
}
.detail-item-content{
  width: calc(100% - 130px);
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 16px;
}
// xxl
@media (min-width: 1400px) { 
  #editChainTemplateModal form,#newChainTemplateModal form, #editChainTemplateModal  .modal-header,#newChainTemplateModal  .modal-header{
    padding-left: calc(50% - 700px);
    padding-right: calc(50% - 700px) ;
  }
 }
@media (max-width: 576px) {
  pt-app content main {
    margin-left: 16px;
    margin-right: 16px;
}
.chain-setting-container{
  padding: 0;
}
.mps-panel-detail{
  padding: .5rem;
}
}