

.pay-binary-code, .pay-binary-code img
{
   max-width: 18rem;
   height: 180px;
   border: 2px dashed #91b0b3;
}
.pay-binary-code img{
    object-fit: cover;
    width: 100%;
}
.td-option {
    width: 100px;
}