// @import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


$midnight: #2c3e50;
$clouds: #ecf0f1;
$accordion-icon-color: #ecf0f1;
$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");




.store-tab,.new-cell {
    margin-bottom: 80px;
}
.btn-light {
    color: #212529;
    background-color: #f5f5f6;
    border-color: #f5f5f6
}

.btn-light:hover {
    color: #212529;
    background-color: #e1e1e4;
    border-color: #dadade
}

#cell-define-container .accordion
{
    --bs-accordion-bg: #2c3e50;
    --bs-accordion-color: $clouds;
    --bs-accordion-border-color: none;
    --bs-accordion-border-width: none;
    --bs-accordion-btn-color: $clouds;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-color: $clouds;
    --bs-accordion-active-bg: #2F2F2F;
    --bs-accordion-btn-icon: #{escape-svg($accordion-button-icon)};
}
#cell-define-container  .accordion-button:hover
{
    background-color: darken(#2c3e50, 10%);
}
#cell-define-container  .accordion-body
{
    background-color: #2B2B2B;
}
#cell-define-container  .accordion-button
{
  font-size: 32px;
  font-weight: bold;
}
// #cell-define-container textarea
// {
//     height: 80px;
// }

// file upload
  
 .cover-upload-container {
    height: 200px;
    width: 200px;
    border: 2px dashed #91b0b3;
 }
 .cover-upload-container img{
    width: 100%;
    object-fit: cover;
    height: 100%;

 }

 .span-sbu{
    width: 80px;
 }
 .cell-intro-cover{
    height: 300px;
    width: 100%;
 }
 .cell-intro-cover img{
    width: 100%;
    height: 300px;
    object-fit: cover;
 }
 .cell-content-item-box {
    font-size: 20px;
    font-weight: normal;
    background-color: #2c3e50;
    color: white;
    border-radius: 5px;
    border: none;
}
.text-paragraph-wrapper{
    width: 100%;
}
.text-paragraph-wrapper:hover
{
    background-color: darken(#2c3e50, 10%);
}
.item-setting-plus i
{
    color: #1890ff;
}
.item-setting-x i
{
    color:  #fa541c;
}

.item-setting-x i:hover,.item-setting-plus i:hover
{
    background-color: #2c3e50;
}

.banner-modal-dialog-wrapper { 
    max-width: 66vw; 
}
.banner-upload-container, .banner-upload-container img
{
    max-width: 1000px;
    width: 100%;
    height: 300px;
    border: 2px dashed #91b0b3;
}
.tip-font-sm {
    font-size: small;
}
.banner-upload-container img
{
    object-fit: cover;
}
.switch-wrapper {
    padding-left: 3.5em;
}
.disable-text
{
    color: #aaaaaa;
    font-size: 18;
}
.td-option{
    width: 100px;
}

.pricing-card{
    background-color: #2f2f2f;
}
.add-new-text-container{
    padding: 10px;
}
.add-new-text-container:hover{
    background-color: #2c3e50;
    color: darken( #f5f5f6,  30%);
}
table td{
    font-size: 14px;
    line-height: 1.565;
}
.td-title{
    max-width: 600px;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    display: inline-block;
    overflow: hidden;

}
.bird-option{
    opacity: .8;
    background: linear-gradient(90deg, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 100%);
    border: none;
}
.eagle-option{
    opacity: .8;
    background: linear-gradient(90deg, #ABD4D1 0%, rgba(160, 255, 249, 0.00) 100%);
    border: none;
}
.albatross-option{
    opacity: .8;
    background: linear-gradient(90deg, #B7FFDC 0%, rgba(1, 224, 117, 0.00) 100%);
    border: none;
}
.help-text{
    font-size: 12px;
}

@media (max-width: 576px) {
    .input-sbu,.span-sbu{
        font-size: 10px;
    }
    .span-sbu{
        width: 40px;
        padding: 0.155 0.35;
    }
    .cell-intro-cover, .cell-intro-cover img {
        height: 130px;
    }
}

  

  