.col-bill-item{
  width: 33%;
  min-width: 330px;
}
.col-bill-item-have-commission{
  width: 20%;
  min-width: 200px;
}
.col-bill-item-no-option{
  width: 40%;
  min-width: 240px;
}
.col-product {
  width: 22%;
  min-width: 200px;
}

.col-brand{
  width: 15%;
  min-width: 120px;
}
.col-fee{
  width: 10%;
  min-width: 100px;
}
.col-addTime{
  width: 13%;
  min-width: 130px;
}
.col-option {
  width: 7%;
  min-width: 70px;
}