// @import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";


$midnight: #2c3e50;
$clouds: #ecf0f1;
$accordion-icon-color: #ecf0f1;
$accordion-button-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{$accordion-icon-color}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");




.btn-light {
    color: #212529;
    background-color: #f5f5f6;
    border-color: #f5f5f6
}

.btn-light:hover {
    color: #212529;
    background-color: #e1e1e4;
    border-color: #dadade
}

#cell-define-container .accordion
{
    --bs-accordion-bg: #2c3e50;
    --bs-accordion-color: $clouds;
    --bs-accordion-border-color: none;
    --bs-accordion-border-width: none;
    --bs-accordion-btn-color: $clouds;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-color: $clouds;
    --bs-accordion-active-bg: #2F2F2F;
    --bs-accordion-btn-icon: #{escape-svg($accordion-button-icon)};
}
#cell-define-container  .accordion-button:hover
{
    background-color: darken(#2c3e50, 10%);
}
#cell-define-container  .accordion-body
{
    background-color: #2B2B2B;
}
#cell-define-container  .accordion-button
{
  font-size: 32px;
  font-weight: bold;
}
// #cell-define-container textarea
// {
//     height: 80px;
// }

// file upload
  
 .cover-upload-container {
    height: 200px;
    aspect-ratio: 4 / 3;
    border: 2px dashed #91b0b3;
 }
 .cover-upload-container img{
    width: 100%;
    object-fit: cover;
    height: 100%;

 }

 .span-sbu{
    width: 80px;
 }
 .cell-intro-cover, .cell-intro-cover img{
    aspect-ratio: 3.23 / 1;
    width: 100%;
 }
 .cell-intro-cover img{
    object-fit: cover;
 }
 .cell-content-item-box {
    font-size: 20px;
    font-weight: normal;
    background-color: #2c3e50;
    color: white;
    border-radius: 5px;
    border: none;
}
.text-paragraph-wrapper{
    width: 100%;
}
.text-paragraph-wrapper:hover
{
    background-color: darken(#2c3e50, 10%);
}
.item-setting-plus i
{
    color: #1890ff;
}
.item-setting-x i
{
    color:  #fa541c;
}

.item-setting-x i:hover,.item-setting-plus i:hover
{
    background-color: #2c3e50;
}


.tip-font-sm {
    font-size: small;
}

.switch-wrapper {
    padding-left: 3.5em;
}
.disable-text
{
    color: #aaaaaa;
    font-size: 18;
}


.pricing-card{
    background-color: #2f2f2f;
}
.add-new-text-container{
    padding: 10px;
}
.add-new-text-container:hover{
    background-color: #2c3e50;
    color: darken( #f5f5f6,  30%);
}

.bird-option{
    opacity: .8;
    background: linear-gradient(90deg, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 100%);
    border: none;
}
.eagle-option{
    opacity: .8;
    background: linear-gradient(90deg, #ABD4D1 0%, rgba(160, 255, 249, 0.00) 100%);
    border: none;
}
.widget-cal{
    opacity: .8;
    background: linear-gradient(90deg, #F18E32 0%, rgba(253, 255, 253, 0.00) 100%);
    border: none;
    color: wheat;
}
.widget-cal:hover{
    color: whitesmoke;
}
.widget-cal:after{
  content: none;
}
.auto-cal-form{
    width: 240px;
}
.albatross-option{
    opacity: .8;
    background: linear-gradient(90deg, #B7FFDC 0%, rgba(1, 224, 117, 0.00) 100%);
    border: none;
}
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}
#panelsStayOpen-collapseTwo .card-footer{
    border: none;
}

.modal-content{
    background-color: #fff;
  }
  .tool-btn {
    color: #c3bfbf;
    background-color: #212529;
    border: 1px solid #555;
    border-radius: 5px;
    max-width: 140px;
    font-size: 12px;
    line-height: 1.125;
}
.new-cell{
    border-color: #1890ff;
    color: #1890ff;
}
.col-index{
    width: 10%;
    min-width: 100px;
}
.col-option {
    width: 10%;
    min-width: 100px;
}
.col-product {
    width: 30%;
    min-width: 240px;
}


  .tool-btn{
    min-height: 32px;
    height: 32px;
  }

.tb-search-group{
    min-height: 32px;
    height: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-block: 4px;
    padding-inline: 16px 4px;
    outline: none;
    border-radius: 5px;
    color: #c3bfbf;
    background-color: #212529;
    border: 1px solid #555;

}
.tb-search-group .input_search{
    appearance: textfield;
    all: unset;
    flex: 1;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    outline: none;
}
.tb-search-group:has(.input_search:active, .input_search:focus) {
    border-color: #aaa;
}

.app-pannel-head-dropdown-box .dropdown-toggle:after{
    content: none;
  }
 .app-pannel-head-dropdown-box .dropdown-menu {
    box-shadow: none;
    color: #dbdee1;
    background-color: #020202;
  }
  .app-pannel-head-dropdown-box .dropdown-item {
    color: #dbdee1;
    box-sizing: border-box;
    cursor: pointer;
    min-height: 32px;
    margin: 2px 0;
    padding: 6px 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }
  .app-pannel-head-dropdown-box .dropdown-item:hover{
    background-color: #2d2c2ce6;
    color: unset;
  }
  .app-pannel-head-dropdown-box .dropdown-item:active ,.app-pannel-head-dropdown-box .dropdown-item:focus{
    background-color: unset;
  }
  .app-pannel-head-dropdown-box .app-pannel-head-dropdown-box{
    min-height: 30px;
    min-width: 60px;
  }
  .app-pannel-head-dropdown-box .dropdown-toggle{
    display: none;
    border: 1px solid #555;
    height: 32px;
    width: 32px;
    border-radius: 5px;
  }
  .app-pannel-head-dropdown-box .dropdown-toggle{
    --bs-btn-padding-x: .375rem;
   --bs-btn-padding-y: .25rem;
  }
  
  .app-pannel-head-dropdown-box:hover .dropdown-toggle{
    display: block;
  }
  .app-pannel-head-dropdown-box .btn-content i{
    color: #555;;
  }

  @media (max-width: 767px) {
    .input-sbu,.span-sbu{
        font-size: 10px;
    }
    .span-sbu{
        width: 40px;
        padding: 0.155 0.35;
    }
    .app-pannel-head-dropdown-box .dropdown-toggle{
        display: block;
        margin-left: .5rem;
    }
    .tb-link-box{
        display: none;
    }
    .new-cell{
        padding-left: .25rem;
        padding-right: .25rem;
    }
    .tb-search{
        width: 47%;
    }
}