.item-setting-check i
{
    color: #1890ff;
}
.item-setting-x i
{
    color:  #fa541c;
}
.item-setting-x:hover,.item-setting-check:hover
{
    background-color: darken(#2c3e50, 10%);
    border-radius: 15px;
    width: 30px;
    height: 30px;
}
.flex-tool{
    height: 100px;
    width: 50px;
    border-radius: 25px;
    background-color: #2c3e50;
}
.section-flex-tool{
    display: none;
}
td a{
    text-decoration: none;
    color: white;
}
td a:hover{
    color: #c3bfbf;
}
.td-option {
    width: 100px;
}
table td{
    font-size: 14px;
    line-height: 1.565;
}
.td-stage,.td-service{
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    display: inline-block;
    overflow: hidden;
}
.td-stage{
    max-width: 200px;
}
.td-service{
    max-width: 600px;
}