.peacemaker-avatar{
  height: 24px;
  width: 24px;
  border-radius: 2px;
  position: relative;
}
.btn-close{
 outline: none;
 box-shadow: none;
 --bs-btn-close-focus-shadow: 0 0 0 .25rem transparent;
}
.tb-url-link{
 color: #fff;
}
.tb-url-link:hover{
  text-decoration-line: underline;
  text-decoration-color: #fff;
  text-decoration-style: dashed;
  text-underline-offset: 0.25em;
}

.col-oasis{
  width: 26%;
}

.col-task{
  width: 30%;
}
.col-status{
  width: 10%;
}
.col-time{
  width: 12%;
}  

.main-content-container {
  min-width: 1000px;
}

.tb-options{
  display: flex;
  gap: 6px;
}