html, body, mall-app {
  height: 100%;
}
mall-app {
  height: auto;
  min-height: 100%;
  display: block;
}
mall-app main {
  flex: 1;
}
.app-container {
  height: auto;
  flex-direction: column;
  padding-bottom: 100px;
  display: flex;
}
footer {
  margin-top: -100px;
  position: relative;
}
.content-main{
  padding-bottom: 100px;
  --gutterWidth: 24px;
  --containerWidth: 1100px;
  max-width: var(--containerWidth);
  padding: 0 var(--gutterWidth);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 96px;
  margin-top: 50px;
}
h3,p{
  margin-bottom: 30px;
}
.visit-brand-link{
  color: #3887FE;
  text-decoration: none;
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
}

.deltail-title{
  text-align: center;
  word-break: break-all;
}
.detail-item{
  display: flex;
} 
.detail-sow-heading{
  font-weight: 700;
  line-height: 44px;
  padding-top: 26px;
  padding-bottom: 4px;
  font-size: 28px;
}
.detail-sow-content{
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 1.875;
  font-size: 16px;
  min-height: 30px;
}
.detail-item-head{
  width: 100px;
  font-weight: 600;
}
.detail-item-content{
  width: calc(100% - 100px);
  white-space: pre-wrap;
  word-break: break-all;
}