.section-container{
    --gutterWidth: 24px;
    --containerWidth: 1200px;
    max-width: var(--containerWidth);
    padding-bottom: 100px;
    padding: 0 var(--gutterWidth);
    margin: 50px auto 0;
}
.section-container{
  background-color:unset;
}
.mps-panel,.msg-room-panel,.deliver-panel-header{
    background-color: #1a1a1a;
  }
.mps-panel-detail,.room-msg-panel,.deliver-record-container{
background-color: #272727;
}

.mps-panel-detail{
  padding-left: 2rem;

}
.deliver-record{
  padding: 1rem;
  border-bottom: 1px solid #efeff046;
  opacity: .7;
}
.deliver-record:hover{
  opacity: 1;
}
.content-block{
  height: 240px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background-color: #272727;
}

.deltail-title{
  padding-top: 16px;
  text-align: center;
  word-break: break-all;
}
.detail-item{
  display: flex;
} 
.detail-sow-heading{
  font-weight: 700;
  line-height: 44px;
  padding-top: 26px;
  padding-bottom: 4px;
  font-size: 28px;
}
.detail-sow-content{
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 1.875;
  font-size: 16px;
  min-height: 30px;
  color: #aaa;
  padding-left: 12px;
}
.detail-item-head{
  width: 120px;
  font-weight: 600;
}
.detail-item-content{
  width: calc(100% - 120px);
  white-space: pre-wrap;
  word-break: break-all;
}
.paper-head{
  color: #666;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  padding-top: .5rem;
  padding-bottom: .2rem;
  font-size: 12px;
}
.dot-info{
  top: -1.5em;
}
.record-filename{
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  overflow: hidden;
  display: inline-block;
}
.delivery-remark-heading{
  width: 50px;
}
.delivery-remark-content{
  width: calc(100% - 50px);

}
.delivery-remark{
  white-space: pre-wrap;
  word-break: break-all;
  line-height: 1.875;
    font-size: 14px;
    min-height: 30px;
}
.room-msg-container{
  min-height: 400px;
}

#tob-tablist{
  border-bottom: 1px solid #fff3;
}
#tob-tablist .nav-link {
  font-size: 20px;
  background-color: unset;
  color: #a7a7a7;
  letter-spacing: .1rem;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  font-weight: 800;
}
#tob-tablist  .nav-link.active{
  color: #fff;
  background-color: unset;
}
.paper-info-container,.chat-container,.deliver-panel-container {
  min-width: 1000px;
}

.paper-info-container,.deliver-panel-container{
  height: calc(100vh - 142px);
  overflow-y: scroll;
}
.opt_item_container {
  text-align: center;
  min-width: 66px;
}
.opt_item_head {
  padding-bottom: .5rem;
}
.opt_item_desc {
  color: #aaa;
  margin-bottom: 8px;
  font-size: smaller;
}
.opt_item_head .btn {
  color: #aaa;
  text-align: center;
  vertical-align: middle;
  background-color: #474545;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  position: relative;
}
.opt_item_head .btn:hover{
  border-radius: 5px;
  color: #fff;
}
.record-filename{
  width: 50%;
}
.msg-room-panel{
  overflow-y: scroll;
}
.room-msg-panel,.msg-room-panel{
  height: calc(100vh - 142px);
}
.room-msg-container {
  height: calc(100% - 118px);
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 8px 28px 16px 32px;
  margin: 0 4px 0 0;
  overflow-y: auto;
}
.chat-input-wrapper{
  position: relative;
}
pt-app content main {
  overflow-x: scroll;
  padding: 32px;
}
pt-app content main {
  padding-bottom: 0;
}
.room-msg-panel{
  width: calc(100% - 144px);
}
.msg-room-panel{
  width: 144px;
}
.channel_active{
  border-radius: 5px !important;
}
.channel_active i{
  color: #4cffa9;
}
.visit-brand-link {
  color: #3887fe;
  background-color: #0000;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  padding: .25rem .5rem;
  border: 1px solid #3887fe;
  border-radius: 5px;
}
.visit-brand-link:hover{
  color: #fff;
  border-color: #fff;
}
.paper-head-wrapper{
  width: 100%;
  color: #666;
  display: contents;
}
@media (max-width: 1162px) {
  .chat-action-wrapper{
      display: block;
    }
    .chat-send-btn{
      margin-top: 1rem;
    }
    .record-filename{
      width: 200px;
    }
    .room-msg-container {
      height: calc(100% - 166px);
    }
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.modal-content{
  background-color: #fff;
}

@media (width <= 576px) {
  .room-msg-panel , .room-msg-panel, .msg-room-panel{
    height: calc(100vh - 174px);
  }

  .room-msg-container {
    height: calc(100% - 206px);
  }
  pt-app content main {
    padding: 32px 0;
  }
  .room-msg-container{
    min-height: unset;
  }
  .nav-tabs .nav-link{
    padding: 6px 6px !important;
  }
  .tab-content{
    width: calc(100vw - 24px);
    overflow-x: auto;
  }

}