
.section-branding{
    margin-top: 150px;
    background-color: #2B2B2B;
    margin-right: 30%;
}
.section-seller-banner
{
    margin-right: 30%;
    background-color: #2B2B2B;
}
.section-header{
    font-weight: 700 !important;
    font-size: 1.5rem;

}
 .brand-intro-cover img{
    object-fit: cover;
    margin-right: 0px;
    height: 300px;
    width: 100%;
}
#bannerModal .modal-dialog{
    max-width: 1200px;
}
.banner-upload-container,.banner-upload-container img{
    height: 300px;
    max-width: 1000px;
    width: 100%;
}
.banner-upload-container img{
    object-fit: cover;
}

.avator-upload-container, .avator-upload-container img{
    width: 160px;
    height: 160px;
}

 .brand-avator,.brand-avator img
{
    width: 160px;
    height: 160px;
    border-radius: 80px;
    background-color: #2B2B2B;
} 
.brand-avator
{
    margin-top: 220px;
    margin-left: 100px;
}

.brand-avator img {
    width: 100%;
    object-fit: cover;
}
.brand-identity
{
    max-width: 900px;
    min-height: 150px;
    margin-left: 100px;
    margin-top: 100px;
}
.brand-identity .brand-name{
    font-size: 24px;
    font-weight: bold;
}
.brand-identity .brand-title{
    font-size: 20px;
    font-weight: normal;
}
.ip-location{
    font-size: 16px;
    font-weight: normal;
    color: #949494;
}
.section-seller-banner,.section-branding{
    padding-left: 1.3rem;
    padding-top: 1.3rem;
    padding-bottom: 2rem;
}
.section-seller-experience,.section-seller-skills,.section-seller-links
{
    margin-top: 40px;
    min-height: 300px;
    margin-right: 30%;
    padding-left: 1.3rem;
    padding-top: 1.3rem;
    padding-bottom: 2rem;
}

@media (max-width: 992px) {
    .section-seller-banner,.section-seller-experience,.section-seller-skills,.section-branding,.section-seller-links
{
    margin-top: 40px;
    min-height: 300px;
    margin-right: 25px;
}

}

@media (max-width: 48rem) {
    main > section{
        width: 48rem;
    }
}
.input-box{
    height: calc(3.5rem + 2px);
    line-height: 1.25;
}
.input-box::placeholder,.input-box::-ms-input-placeholder{
    color: #383838;
    opacity: 1; /* Firefox */
}
.form-floating > label {
    color: #383838;
    opacity: 1; /* Firefox */ 
}
.was-invalid input{
    border-color: #dc3545;
}
.was-invalid > label{
    color: #dc3545;
}
.exeperince-millstone
{
    background-color: #2c3e50;
}
.me-skills 
{
    padding-left: 36px;
    padding-bottom: 36px;
}
.millstone-header img
{
    width: 60px;
    height: 60px;
}
.form-new-experience{
    min-width: 400px;
}
.disable-text-coler{
  color: #949494;
}
.disabled{
    color: #949494;
    background-color: #d3d3d3;
    border: none;
}
.error-feedback{
    font-size: 1rem;
    display: none;
}
.error-wrapper{
    color: #cf0007;
}
.error-wrapper select{
    border-color: #cf0007;
}
.error-wrapper .error-feedback
{
    display: block;
}
.option-edit-wrapper{
    display: none;
}
.timeline-item:hover .option-edit-wrapper{
    display: block;
}
.timeline-item:hover{
    background-color: darken(#2c3e50, 3%);
    color: darken( #f5f5f6,  30%);
}
.circle{
    border-radius: 50%;
}
.circle:hover{
    background-color: darken(#2c3e50, 12%);;
}
.display-el{
    display: block;
}
.option-container{
    min-width: 5rem;
    min-height: 5rem;
}

.item-setting-x i
{
    color:  #fa541c;
}

.item-setting-x:hover
{
    background-color: darken(#fa541c, 22%);
}
.btn-upload{
    color: #3887FE;
    text-decoration: none;
    background-color: transparent;
}
.tool-container,.item-setting-edit,.item-setting-plus{
    padding: 10px;
}
// .item-setting-edit:hover,.item-setting-plus:hover{
//     color: darken( #f5f5f6,  30%);
//     background-color: darken(#2c3e50, 12%);;
// }
.tool-container:hover{
    background-color: darken(#2c3e50, 12%);
    color: darken( #f5f5f6,  30%);
}
.story-wrapper{
    max-width: 1000px;
}
.option-edit-wrapper{
    position: absolute;
    right: 30px;
}
.item-setting li{
    padding: .55rem;
}
.item-setting li:hover{
    background-color:  lighten(#dfdbdb, 12%);;
    color: darken( #f5f5f6,  30%);
}
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}