
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.col-msg {
    width: 77%;
    min-width: 770px;
}
.col-addTime{
    width: 13%;
    min-width: 130px;
}
.col-type{
    width: 10%;
    min-width: 100px;
}
