
.form-withdraw{
    width: 400px;
}
.btn-go-back{
    height: 45px;
    width: 45px;
    background-color: #2d2c2ce6;
    border-radius: 60px;
}
.btn-go-back:hover{
    opacity: 0.7;
}
.form-control:disabled{
    background: rgba(221, 220, 220, 0.934);
    opacity: .8;
}
.add-icon{
    background-color: inherit;
    border: none;
    color: #3483fa;
    opacity: .7;
}
.add-icon:hover{
    background-color: inherit;
    opacity: 1;
    color: #3483fa;

}
@media (max-width: 576px) {
    .form-box{
        width: 100%;
    }
    .form-withdraw{
       width: 100%;
    }
    .add-icon{
      font-size: 12px;
    }

}
    
.modal-content{
    background-color: #fff;
  }
