col-content {
  overflow-y: scroll;
  height: 100vh;

}
header{
  z-index: 1035;
}
/* 大型设备（笔记本电脑/台式机，992 像素及以上） */
@media only screen and (min-width: 1400px) {
  header{
    display: none;
  }
  col-content{
    background-color: #1A1A1A;
    height: 100vh;
    width: calc(100% - 340px);
  }
}
@media only screen and (max-width: 1399.99px){
  .xxl-hiden-menu{
    height: 100%;
    overflow-x: unset;
    overflow-y: unset;
  }
  .xxl-hiden-menu col-content{
    height: 100%;
    min-height: 100vh;
    overflow-y: unset;
    overflow-x: unset;
    scrollbar-width: none;
  }
}
col-content{
  width: 100%;
}
.offcanvas-xxl.offcanvas-start {
  width: 340px;
}
header{
  position:sticky;
  top: 0;
  left: 0;
  background: #161416;
  height: 56px;
}
.toggle-nav{
  background: inherit;
}
.team-banner-container{
  height: 32%;
  min-height: 200px;
  width: calc(100% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  background-image: url("/rainbow/images/discovery-oasis-banner.jpg");
  background-size: 100% 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.Search-Button-Placeholder{
  font-size: 1rem;
  color: #757a81;
}
.section-top-serach{
  max-width: 800px;
  min-width: 200px;
  width: calc(100% - 100px);
}
.search{
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
  display: flex;
  font-weight: 500;
  justify-content: space-between;

}

.search input{

  height: 50px;
  text-indent: 25px;
  padding-right: 2.3rem;
}

.search input:focus{

  box-shadow: none;
  border: 4px solid rgba(222, 151, 246, 0.673);;

}
.ms-n5 {
    margin-left: -60px;
    padding-right: 0.75rem;
}

.list-title{
  margin-left: 20px;
  margin-top: 40px;
}
.section-team-grid{
  margin-left: 20px;
  margin-right: 20px;
}
.team-card-container{
  background-color: #2e2e2e9d;
  border-radius: 10px;
  height: 100%;
}
.team-card-container:hover{
  background-color: #2E2E2E;
}
.team-card-container img{
  background-color: #141414;
  aspect-ratio: 1;
  width: 100%;
  border-radius: 5px;

}
.oasis-title-wrapper h6{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
  line-height: 1.765;

}
.oasis-intro-wrapper p{
  margin-bottom: 0;
  width: 100%;
  white-space:pre-wrap;
  text-overflow:ellipsis;       //用...省略号显示
  display:-webkit-box;          //将对象作为弹性伸缩盒子模型显示
  -webkit-box-orient:vertical;  //从上到下垂直排列子元素
  -webkit-line-clamp:3;         //显示的行数
  overflow:hidden;              //超出盒子宽度内容，便溢出隐藏  
}
.oasis-intro-wrapper{
  height: 80px;
}
.help-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.575;
}
.nav-title h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #fff;
  width: 200px;
  overflow: hidden;
}
.nav-sub-container .nav-link{
  margin-bottom: 2px;
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 576px) {
  .logo{
    justify-content: flex-end !important;
  }
}
.not-found-resource{
  border-radius: 10px;
  padding: 16px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #141414;
  width: 100%;
}
.not-found-resource img{
  height: 145px;
  background-repeat: no-repeat;
  background-size: contain;
}
.not-found-resource  p{
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: #61666d;
}
.not-found-resource h4{
  font-size: 20px;
  line-height: 1.25;
  font-weight: 600;
  margin-bottom: 8px;
  color: #b5bac1;
}

