.kanban-container{
    margin-top: 160px;
}
.kanban-link-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.kanban-link-item:hover {
    color: #00aafc;
}

.kanban-link h6{
    margin-bottom: 0;
}
.capital-category{
    text-align: center;
}