.oasis-avatar-sm{
    width: 80px;
    height: 80px;
    border-radius: 5px;
  }
  .oasis-info-header,.oasis-info-body{
    border-bottom: 1px solid #4d515445;
    padding: 1rem;
  }
  .oasis-info-container{
    min-width: 200px;
    margin-top: 60px;
    margin-right: 10%;
    margin-left: 10%;
  }
  .oasis-info-detail{
    width: 80px;
  }


  @media (min-width: 768px) and (max-width: 1024px) {
    .oasis-info-container{
      margin-left: 0px;
      margin-right: 0px;
    }
}
  @media (max-width: 48rem) {
    .oasis-info-container{
      margin-left: 0px;
      margin-right: 0px;
    }
  }