
a{
    text-decoration: none;
}
.modal-dialog-top-right {
    min-height: calc(100% - 24px);
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
}

#orderDetailModal .modal-content {
    min-height: 100%;
    background-color: #fff;
}

#orderDetailModal .modal-dialog {
    width: 360px;
}

#orderDetailModal .modal-body {
    padding: 0;
}

.buyer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #343434;
}

.buyer-avatar {
    width: 144px;
    height: 144px;
    background-color: #141414;
    position: relative;
    border-radius: 72px;
    overflow: hidden;
}

.buyer-avatar img {
    width: 100%;
    height: 100%;
    background-color: #141414;

}



.product-info,
.total-info {
    padding: 12px;
    border-bottom: 1px solid #343434;
}

.product-thumbnail {
    aspect-ratio: 4/3;
    position: relative;

}

.product-thumbnail img {
    position: relative;
    width: 100%;
    height: 100%;
}

.buyer-contact-info {
    display: flex;
    gap: 8px;
    flex-direction: row;
}


.small-info {
    color: #6c757d;
    font-size: 10px;
}

.order-status {
    color: #fff;
    background-color: #d2691e;
    border-radius: 2px;
    padding: 4px 8px;
    font-size: 10px;
}
.meta{
    color: #fff;
    background: none !important;
    padding-left: 0;
    margin-bottom: 6px;
    margin-top: 4px;
}


.price-unit {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: -1px;
    margin-right: 2px;
}

.price-value {
    font-size: 20px;
    line-height: 22px;
}

.setction-title {
    font-weight: 500;
    word-break: break-all;
    font-size: 14px;
    line-height: 16px;
}

.content-core-box {
    min-width: 1280px;
}

.btn-cta-primary {
    color: #fff;
    border: 1px solid #555;
    border-radius: 4px;
    outline: 0;
    justify-content: center;
    align-items: center;
    min-height: 38px;
    margin-top: 8px;
    padding: 2px 12px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    display: flex
;
}

.btn-cta-primary:hover {
    background-color: #34343495;
}

.product-hi {
  grid-auto-flow: column;
  gap: 8px;
  width: fit-content;
  padding-top: 8px;
  padding-bottom: 8px;
  display: grid
;
color: #fff;
}

.modal-release-reminder {
  background-color: #00aafc;
  color: #fff;
}
.modal-release-reminder {
  border-radius: 2px;
  width: fit-content;
  padding: 4px 8px;
  font-size: 10px;
}


.price-wrapper {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    height: 24px;
    margin-bottom: 0px;
    margin-top: 4px;
    color: #4cffa9;
  }
  
  .price-unit {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: -1px;
    margin-right: 2px;
  }
  
  .price-value {
    font-size: 20px;
    line-height: 22px;
  }

  .member-card-container {

    position: relative;
    grid-template-columns: auto 1fr;
    gap: 8px;
    display: grid;
}

.member-title {
    width: unset;
    font-size: 15px;
}
.member-intro {
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #dbdee1;
    margin-top: 1rem;
    margin-bottom: 12px;
}



//orderDetailModal
#orderDetailModal .modal-body {
    padding: 0;
  }
  
  #orderDetailModal .modal-content {
    min-height: 100%;
    color: #dbdee1;
    background-color: #1a1a1a;
    min-width: 220px;
    box-shadow: 0 0 10px #6d757a;
  }
  
  #orderDetailModal .btn-close {
    color: #fff;
    background-color: #343434;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0;
    outline: none;
    box-shadow: none;
    --bs-btn-close-bg: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%23fff%22%20class%3D%22bi%20bi-x-circle%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M8%2015A7%207%200%201%201%208%201a7%207%200%200%201%200%2014m0%201A8%208%200%201%200%208%200a8%208%200%200%200%200%2016%22%2F%3E%3Cpath%20d%3D%22M4.646%204.646a.5.5%200%200%201%20.708%200L8%207.293l2.646-2.647a.5.5%200%200%201%20.708.708L8.707%208l2.647%202.646a.5.5%200%200%201-.708.708L8%208.707l-2.646%202.647a.5.5%200%200%201-.708-.708L7.293%208%204.646%205.354a.5.5%200%200%201%200-.708%22%2F%3E%3C%2Fsvg%3E");
  }

@media (max-width: 48rem) {

    .mobile-full-screen-modal{
        min-height: 100%;
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
    .mobile-full-screen-modal .modal-content {
        height: 100%;
    }
    #orderDetailModal .modal-dialog {
        width: 100%;
    }

}

