.modal-backdrop.show{
    display: none;
}
#reportOasisModal .modal-content ,#adminWidthdrawModal .modal-content ,#invitationModal .modal-content,#topUpToOasisModal .modal-content,#inputPrivateCodeModal .modal-content,#collectAccountModal .modal-content{
    color: rgb(97, 102, 109);
    word-spacing: .5px;
    background-color: #1a1a1a;
    border-radius: 10px;
    box-shadow: rgb(109, 117, 122) 0px 0px 10px;

}
#reportOasisModal .btn-close, #adminWidthdrawModal .btn-close,#invitationModal .btn-close,#topUpToOasisModal .btn-close,#inputPrivateCodeModal .btn-close,#collectAccountModal .btn-close{
    color: #fff;
    background-color: #343434;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 0;
    outline: none;
    box-shadow: none;
    --bs-btn-close-bg: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%23fff%22%20class%3D%22bi%20bi-x-circle%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M8%2015A7%207%200%201%201%208%201a7%207%200%200%201%200%2014m0%201A8%208%200%201%200%208%200a8%208%200%200%200%200%2016%22%2F%3E%3Cpath%20d%3D%22M4.646%204.646a.5.5%200%200%201%20.708%200L8%207.293l2.646-2.647a.5.5%200%200%201%20.708.708L8.707%208l2.647%202.646a.5.5%200%200%201-.708.708L8%208.707l-2.646%202.647a.5.5%200%200%201-.708-.708L7.293%208%204.646%205.354a.5.5%200%200%201%200-.708%22%2F%3E%3C%2Fsvg%3E");
}
#reportOasisModal .modal-header,#adminWidthdrawModal .modal-header,#invitationModal .modal-header,#topUpToOasisModal .modal-header,#inputPrivateCodeModal .modal-header,#collectAccountModal .modal-header
{
    border-color: #2f2f2f;
}
#reportOasisModal .modal-footer, #adminWidthdrawModal .modal-footer,#invitationModal .modal-footer,#topUpToOasisModal .modal-footer,#inputPrivateCodeModal .modal-footer,#collectAccountModal .modal-footer
{
    border: none;
    background-color: #4e50584d;
}
#adminWidthdrawModal  .form-control:disabled, #topUpToOasisModal  .form-control:disabled,#collectAccountModal .form-control:disabled{
    background-color: #4e50584d;
    border: none;
    color: #dbdee1;
}
#adminWidthdrawModal input[type="number"], #topUpToOasisModal input[type="number"],#collectAccountModal input[type="number"]{
    background-color: rgba(147, 115, 238, 0.04);
    color: #3498db;
    font-weight: bold;
    border: 4px solid #de97f6ac;
    outline: none;
    box-shadow: none;
}
#adminWidthdrawModal input[type="number"]:-moz-placeholder, /* Firefox 18- */
#adminWidthdrawModal input[type="number"]::-moz-placeholder, /* Firefox 19+ */
#adminWidthdrawModal input[type="number"]:-ms-input-placeholder, /* IE 10+ */
#adminWidthdrawModal input[type="number"]::-webkit-input-placeholder, /* Webkit based */
#adminWidthdrawModal input[type="number"]::placeholder,

#topUpToOasisModal input[type="number"]:-moz-placeholder, /* Firefox 18- */
#topUpToOasisModal input[type="number"]::-moz-placeholder, /* Firefox 19+ */
#topUpToOasisModal input[type="number"]:-ms-input-placeholder, /* IE 10+ */
#topUpToOasisModal input[type="number"]::-webkit-input-placeholder, /* Webkit based */
#topUpToOasisModal input[type="number"]::placeholder,

#collectAccountModal input[type="number"]:-moz-placeholder, /* Firefox 18- */
#collectAccountModal input[type="number"]::-moz-placeholder, /* Firefox 19+ */
#collectAccountModal input[type="number"]:-ms-input-placeholder, /* IE 10+ */
#collectAccountModal input[type="number"]::-webkit-input-placeholder, /* Webkit based */
#collectAccountModal input[type="number"]::placeholder

{ /* Modern browsers */
  color: #de97f6ac;
}


.friend-list-container{
    height: 200px;
    overflow-y: auto;
    margin-top: 1rem;
    scrollbar-width: none;
    border-top: 1px solid rgb(47, 47, 47);
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .friend-list-container::-webkit-scrollbar{
    display: none; 
  }
  .friend-list-container .list-group-item{
    display: flex;
    justify-content: space-between;
    border: unset;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 5px;
    align-items: center;
    background-color: #1a1a1a;
    color: rgb(97, 102, 109);
    margin-bottom: 1px;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column;
  }
  
  
  
  .invite-link-container {
      box-sizing: border-box;
      position: relative;
      border: none;
      cursor: pointer;
      border-radius: 3px;
      height: 40px;
      margin-top: 10px;
      background-color: #fff;
  }
  .invite-link-wrp{
    display: flex;
    justify-content: start;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-wrap: nowrap;
    flex: 1 1 auto;
    padding: 8px;
  
  }
  .link-content-block{
    display: flex;
    position: relative;
    flex: 1 1 auto;
    margin-right: 10px;
    justify-content: start;
  }
  #invitationModal .oasis-avatar{
    height: 48px;
    width: 48px;
    border-radius: 50%;
  }
  #invitationModal {
      .tb-search-group{
        min-height: 40px;
        height: 40px;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        gap: 8px;
        padding-block: 4px;
        padding-inline: 16px 4px;
        outline: none;
        border-radius: 5px;
        color: #c3bfbf;
        background-color: #212529;
        border: 1px solid #555;

      }
      .tb-search-group .input_search{
        appearance: textfield;
        all: unset;
        flex: 1;
        width: 100%;
        height: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border: none;
        outline: none;
      }
      .tb-search-group:has(.input_search:active, .input_search:focus) {
        border-color: #aaa;
      }
  }
  #invitationModal .modal-body{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  .search-container,.invite-link-container,.other-invite{
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .link-invite-section{
    background-color: #4e50584d;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .input-link{
    width: 100%;
    border: none;
    background-color: unset;
    color: #6d757a;
  }
  .invite-link-wrp{
    background-color: #343434;
  }
  
  .link-btn{
    padding: 2px 10px !important;
    border-radius: 2px;
    font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      height: 28px;
      width: 70px;
  }
  .other-invite{
    font-size: 12px;
      line-height: 1.3333333333333333;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: .02em;
      color: #6d757a;
  }
  .modal-body form{
    width: 100%;
  }
  .modal-title{
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
  }
  .friend-head{
    text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-right: 10px;
      width: calc(100% - 70px);
  }
  .friend-list-container .list-group-item:hover{
    background-color: #2f2f2f;
    opacity: .75;

  }

  .btn-oasis-option,.btn-oasis-option:hover{
    background-color: unset;
    border: none;
    color: #fff;
    opacity: .7;
  }
  .btn-oasis-option.btn.show {
    background-color: unset;
  }
  .nav-item:hover{
    box-shadow:none;
  }
  .btn-oasis-option:hover{
    opacity: 1;
  }

#oasis-more-option-menu{
    width: 100%;
  }
  .nav-title{
    display: flex;
    width: 100%;
  
  }
  .nav-title .dropdown-toggle:after {
    content: none;
  
  }
  .nav-title .dropdown-menu{
    min-width: 220px;
    box-shadow: none;
      color: #dbdee1;
      background-color: #1a1a1a;
      box-shadow: 0 0 10px #6d757a;
  }
  
  .btn-oasis-option{
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .nav-title h3 {
    text-align: left;
    margin-bottom: 0;
    font-size: 20px;
  }
  .btn-oasis-option i{
    -webkit-text-stroke: 1.5px;
  }
  
  .nav-title  .dropdown-item {
    color: #dbdee1;
    box-sizing: border-box;
    cursor: pointer;
    min-height: 32px;
    margin: 2px 0;
    padding: 1px 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
  }
  .oasis-option{
    background: unset;
    color: #dbdee1;
    border: none;
    font-size: 14px;
    font-weight: 500;
  }
  
  #oasis-more-option-menu .dropdown-item:hover, #oasis-more-option-menu .dropdown-item:focus,#oasis-more-option-menu .dropdown-item:active {
    background-color: unset;
    color: #fff;
  }
  .oasis-option{
    display: flex;
    justify-content: space-between;
      flex-direction: row-reverse;
      width: 100%;
  }
  .oasis-option:hover{
    background-color: #5865f2;
    color: #fff;
  }

  .go-topup{
    font-size: 10px;
    text-decoration: none;
    color: #5865f2;
  }

  /* Chrome, Safari, Edge, Opera */
#adminWidthdrawModal input::-webkit-outer-spin-button,
#adminWidthdrawModal input::-webkit-inner-spin-button,
#topUpToOasisModal input::-webkit-outer-spin-button,
#topUpToOasisModal input::-webkit-inner-spin-button,
#collectAccountModal input::-webkit-outer-spin-button,
#collectAccountModal input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#adminWidthdrawModal input[type=number] ,#topUpToOasisModal input[type=number] ,#collectAccountModal input[type=number] {
  -moz-appearance: textfield;
}

#reportOasisModal .list-group {
  --bs-list-group-bg: transparent;
  --bs-list-group-color: #b5bac1;
  --bs-list-group-border-color: transparent;
}
#reportOasisModal .list-group .list-group-item {
  background-color: #2e2e2e9d;
  border-radius: 5px;
  margin-bottom: 4px;
}
#reportOasisModal .form-check-input {
  outline: unset;
  box-shadow: none;
  background-color: #0000;
  border-width: 3px;
}

#reportOasisModal .list-group .list-group-item:hover {
  background-color: #343434;
}
#reportOasisModal .form-check-input:focus {
  border-color: #86b7fe;
  outline: 0;
}
#reportOasisModal .form-check-input:checked {
  background-color: #248045;
  border-color: #248045;
}
#reportOasisModal .field-label {
  text-transform: uppercase;
  letter-spacing: .02em;
  margin-bottom: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.33333;
}
#reportOasisModal .label-color {
  color: #c4c9ce;
}
#reportOasisModal .inputWrapper {
  flex-direction: column;
  display: flex
;
}
#reportOasisModal .inputMaxLength {
  position: relative;
}
#reportOasisModal .textAreaDefault {
  box-sizing: border-box;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 3px;
  width: 100%;
  font-size: 16px;
  outline: none;
}
#reportOasisModal .maxLength {
  pointer-events: none;
  color: #949ba4;
  font-size: 12px;
  position: absolute;
  bottom: 12px;
  right: 14px;
}
#reportOasisModal  .modal-content{
  max-height: 500px;
}