.insight-menu{
    padding-right: 20px;
    width: 220px;
}
.menu-content{
    width: calc(100% - 220px);
}
.transparent-category ul{
 list-style-type: none;
 padding-left: 0;
 margin-bottom: 0;
}
.transparent-category li{
    text-decoration: none;
    
}
.transparent-category-item{
    padding: .5rem;
    margin-bottom: 1px;
    font-size: 14px;
}
.transparent-category-item.active{
    background: #373b3e52;
    border-radius: .375rem;
}
.transparent-category-item:hover{
    background: #373b3e52;
    border-radius: .375rem;
    color: white;


}
.small-device-menu{
    display: none;
    margin-bottom: .5rem;
}
.small-device-menu-trigger.btn.show, .small-device-menu-trigger{
    display: flex;
    align-items: center;
    border:none;
    color: white;
    background-color: #373b3e52;
}

.small-device-menu .dropdown-menu{
    padding: 0;
    border: 1px solid #61666d;
    background-color: #141414;
}
.small-device-menu .dropdown-menu .dropdown-item{
    padding: 7px 12px;
    width: 200px;
    border-bottom: 1px solid #61666d;
    color: azure;

}
.small-device-menu .dropdown-menu .dropdown-item:hover{
    background-color: #000;
}
.small-device-menu .dropdown-menu li:first-child .dropdown-item{
    border-top-left-radius: .375rem;
    border-top-right-radius: .375rem;
}
.small-device-menu .dropdown-menu li:last-child .dropdown-item{
    border-bottom-left-radius: .375rem;
    border-bottom-right-radius: .375rem;
}

.tb-search-group{
    min-height: 40px;
    height: 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-block: 4px;
    padding-inline: 16px 4px;
    outline: none;
    border-radius: 5px;
    color: #c3bfbf;
    background-color: #212529;
    border: 1px solid #555;

}
.tb-search-group .input_search{
    appearance: textfield;
    all: unset;
    flex: 1;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    outline: none;
}
.tb-search-group:has(.input_search:active, .input_search:focus) {
    border-color: #aaa;
}

.member-avatar{
    display: flex;
    justify-content: center;
}
.member-avatar img{
    width: 36px;
    height: 36px;
    border-radius: 4px;
    position: relative;
}

.member-card-container{
    padding: 12px;
    border-bottom: 1px solid #555;
    line-height: 1.6;
    font-size: 18px;
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 200;
    border: 1px solid #555;
    align-items: flex-start;
    flex-direction: row;
}
.member-card-container:hover{
    background-color: #2e2e2e;
}
.member-card-container:first-of-type{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top: 1px solid #555;
}
.member-card-container:last-of-type{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.member-card-container {
    margin-bottom: 6px;
    border-radius: 8px;
}
.member-title{
    font-weight: 600;
    margin-right: 10px;
    font-size: 16px;
}
.member-intro,.member-title{
    width: 100%;
}
.member-title span{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.member-intro{
    font-size: .775rem;
    line-height: 1rem;
    margin-bottom: .315rem;
}
.meta-pill{
    color: #ffdfb1;
    box-shadow: 0 1px 4px #0000001a;
    background: linear-gradient(90deg, #f7e1c052 0, #e7b77452) !important;
    border-radius: 4px;
    padding: 4px 10px;
    height: auto;
    font-weight: 200;
    letter-spacing: .1em;
    display: flex;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    margin: 0;
    width: fit-content;
}
.not-found-resource{
    border-radius: 10px;
      height: 456px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background-color: #141414;
      width: 100%;
  }
  .not-found-resource img{
      height: 145px;
      background-repeat: no-repeat;
      background-size: contain;
  }
  .not-found-resource  p{
    font-size: 16px;
      line-height: 1.25;
      font-weight: 400;
      color: #61666d;
  }
  .not-found-resource h4{
    font-size: 20px;
      line-height: 1.25;
      font-weight: 600;
      margin-bottom: 8px;
      color: #b5bac1;
  }
.section-member-grid{
    padding-bottom: 200px;
}
@media (min-width: 768px) and (max-width: 1024px) {
    .small-device-menu{
        display: block;
    }
    .insight-menu{
        display: none;
    }
    .menu-content{
        width: 100%;
    }
}
  @media (max-width: 48rem) {
    .insight-menu{
        display: none;
    }
    .menu-content{
      width: 100%;
    }
    .small-device-menu{
        display: block;
    }
    .member-card-container{
       padding: 6px;
    }
  }