
.room-msg-container{
    height: calc(100% - 118px);
    overflow-y: scroll;
}
.nav-item-default:hover,.nav-item-default.active{
    border-radius: 5px;
}

.oasis-avatar-tiny.active,.nav-item-default.active .oasis-avatar-tiny{
    border-radius: 2px;
}
.oasis-avatar-tiny:hover{
    border-radius: 2px;
}
.friend-avatar-tiny-container{
    width: 40px;
    height: 40px;
    padding: 0;
}
.welcome i{
   font-size: 100px;
   color: dimgrey;
   display: flex;
   align-items: center;
}
.room-msg-container{
    overflow: overlay;

  &::-webkit-scrollbar {
      width: 0;
      height: 0;
  }

  &::-webkit-scrollbar-thumb {
      background-color: rgba(102, 102, 102, 0.1);
  }

  &:hover {
      &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
      }

      &::-webkit-scrollbar-thumb {
          background-color: rgba(170, 170, 170, 0.5);
      }
  }

  &::-webkit-scrollbar-thumb {
      background-color: rgba(102, 102, 102, 0.1);

      /* 滚动条里面小方块 */
      border-radius: 6px;
  }
}