<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="robots" content="noindex,nofollow">
  <meta http-equiv="content-language" content="zh-cn">
  <title>传单信息</title>
  <script src="/common/javascripts/avif-webp.min.js"></script>
  <link rel="icon" href="https://bluvarri.com/favicon.png">

  <link rel="stylesheet" href="/common/stylesheets/style.scss">
  <link rel="stylesheet" href="/common/stylesheets/report-modal.scss">
  <link rel="stylesheet" href="/rainbow/arch/stylesheets/digital-flier-info.scss">


</head>

<body>
  <div id="app" v-cloak>

    <div class="feed-container">

      <div class="slide-page">
      
        <div class="video-card" :style="{ backgroundImage: 'url(' + adaptiveImageUriV(flier.contentLink) + ')' }">
          <div class="ad-icon">AD</div>
      
          <div class="bottom-info">
            <div class="username">{{flier.title}}</div>
            <div class="description">{{flier.description}}</div>
          </div>
      
        </div>
      
        <div class="right-actions">
          <div class="avatar-box">
            <a :href="'/rainbow/discovery-partner/'+flier.authorBrandId" target="_blank">
              <img class="avatar" :src="adaptiveImageUriV(flier.authorAvatar) || defaultAvatarImage"
                @error.once="e => { e.target.src = defaultAvatarImage }" alt="avatar">
            </a>
          </div>
      
          <button  v-preventreclick @click="receiverFlierLikeInteractV(flier)" :class="{'liked': flier.hasLike=='1'}" class="action-btn">
            <svg viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
            </svg>
            <span class="action-label">{{formatCmpctNumberV(flier.likes)}}</span>
          </button>

          <button v-if="flier.ctaLink"  v-preventreclick @click="openCtaLinkV(flier)" class="action-btn">
            <svg viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.21.21-1.79L9 15v1c0 1.1.9 2 2 2v1.93zm6.9-2.53c-.26-.81-1-1.4-1.9-1.4h-1v-3c0-.55-.45-1-1-1h-6v-2h2c.55 0 1-.45 1-1V7h2c1.1 0 2-.9 2-2v-.41c2.93 1.19 5 4.06 5 7.41 0 2.08-.8 3.97-2.1 5.39z" />
            </svg>
            <span class="action-label">CTA</span>
          </button>
      

      
          <a :href="'/messages/'+flier.authorUserId" class="text-decoration-none">
            <button class="action-btn">
              <svg viewBox="0 0 24 24" fill="currentColor">
                <path
                  d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 9h12v2H6V9zm8 5H6v-2h8v2zm4-6H6V6h12v2z" />
              </svg>
              <span class="action-label">私信</span>
            </button>
          </a>


          <button  v-preventreclick @click="copyValueToClipboardV(flier.flierId)" class="action-btn">
            <svg viewBox="0 0 24 24" fill="currentColor">
              <path
                d="M18 16.08c-.76 0-1.44.3-1.96.77L8.91 12.7c.05-.23.09-.46.09-.7s-.04-.47-.09-.7l7.05-4.11c.54.5 1.25.81 2.04.81 1.66 0 3-1.34 3-3s-1.34-3-3-3-3 1.34-3 3c0 .24.04.47.09.7L8.04 9.81C7.5 9.31 6.79 9 6 9c-1.66 0-3 1.34-3 3s1.34 3 3 3c.79 0 1.5-.31 2.04-.81l7.12 4.16c-.05.21-.08.43-.08.65 0 1.61 1.31 2.92 2.92 2.92s2.92-1.31 2.92-2.92c0-1.61-1.31-2.92-2.92-2.92z" />
            </svg>
            <span class="action-label">分享</span>
          </button>

          <button  v-preventreclick @click="showOasisReportModalV(flier)" class="action-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flag-fill" viewBox="0 0 16 16">
              <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12 12 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A20 20 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a20 20 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
            </svg>
            <span class="action-label">举报</span>
          </button>

      

        </div>
      
      
      </div>
    </div>

    <div class="modal-container">
              
      <!-- Modal -->
      <div class="modal fade" id="reportOasisModal" data-bs-backdrop="static" tabindex="-1">
        <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content text-color-dark">
            <div class="modal-header">
              <h1 class="modal-title fs-5">举报&投诉</h1>
              <button type="button" v-preventreclick  @click="closeOasisReportModalV" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center">
              <form class="w-100">
                <div class="pt-3">
                  <ul class="list-group">
                    <li v-for="report in reportOptions" class="list-group-item">
                        <div class="form-check">
                        <input class="form-check-input" v-bind:value="report.itemCode"  v-model="reportForm.fraudType" type="radio" name="reportList">
                        <label class="form-check-label" for="reportList">
                            {{report.item}}
                        </label>
                        </div>
                    </li>
                  </ul>
               </div>
  
               <div class="py-3">
                <div class="label-color field-label">详细描述（必填）</div>
                <div class="inputWrapper">
                    <div class="inputMaxLength">
                        <textarea v-model="reportForm.caseDesc" type="text" placeholder="填写具体违规内容和详细描述，更容易举报成功喔~" maxlength="200" rows="3" autocorrect="off" class="inputDefault textAreaDefault" style="padding-right: 38.92px; height: 150px;"></textarea>
                        <div class="maxLength">{{ (!reportForm || !reportForm.caseDesc) ? 200 : 200-reportForm.caseDesc.length}}</div>
                    </div>
                </div>
                <div class="label-color field-label">图片材料提交，支持jpg、png等格式（选填）</div>
  
                <input style="font-size: 12px;" id="caseMaterialFile" class="form-control  only-show-bottom mb-3" type="file" placeholder="选择举报材料">
  
               </div>
  
              </form>
              
            </div>
            <div class="modal-footer btn-light">
              <button 
              :class="{'disabled': !validateReportFormV(), 
                'btn-primary': validateReportFormV() ,
                'btn-secondary': !validateReportFormV()  }"
               v-preventreclick @click="newReportCaseV" type="button"  class="btn">提交</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <script type="module" src="/common/javascripts/tm.js"></script>
  <script type="module" src="/rainbow/arch/javascripts/digital-flier-info.js"></script>
</body>

</html>