<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="PPT模版">
    <meta name="description" content="使用PPT模版加速工作，将想法和灵感优雅的可视化，这些由 bluvarri 团队提供的免费模板，将成为你的任务提供支持！">
  
    <script src="/common/javascripts/avif-webp.min.js"></script>
  
  
    <meta name=”robots” content=”index,follow”>
    <meta content="always" name="referrer">
    <meta http-equiv='content-language' content='zh-cn'>
  
    <link rel="icon" href="https://www.bluvarri.com/favicon.png">
    <title>PPT 设计模版库 | 班蔚</title>
  
    <link rel="stylesheet" href="/common/stylesheets/style.scss">
    <link rel="stylesheet" href="/blog/stylesheets/ppt-template.scss">

  
  
  </head>
  
  <body>
    <div id="app" v-cloak>
      <div class="page-container">
          <!-- header section start -->
        <div class="header-container">
          <header>
            <nav>
              <div class="header-primary-container">

                <div class="logo-contaienr">
                  <a class="logo_link" aria-current="page" href="/">
                    <img src="/common/icon/logo_blv-final-white.png" alt="logo">
                  </a>
                </div>

                <ul class="nav_links">
                  <li class="nav_link">
                    <a  href="/home">心选商店</a>
                  </li>
                  <li class="nav_link">
                    <a  href="/micro/discovery-oasis">彩虹职场</a>
                  </li>
                  <li class="nav_link">
                    <a  href="/estudio/studio-store">薪动工作室</a>
                  </li>
                </ul>
 

              </div>

              <div class="appButton">

                <a v-if="!user_already_login" class="btn btn-outline-dark button_login text-white" href="/login">
                  登录
                </a>
                <a v-if="!user_already_login" href="/signup" class="btn btn-primary join-now button_register text-white">注册</a>
  
                <div v-if="user_already_login" class="btn-group">
                  <button type="button" class="btn btn-secondary dropdown-toggle button_user brand-avatar" data-bs-toggle="dropdown" aria-expanded="false">
                    <img  :src="adaptiveImageUriV(getIdentity().avatar)  || defaultAvatarImage" @error.once="e => { e.target.src = defaultAvatarImage }">
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a href="/estudio/studio-setting-profile">
                        <button class="dropdown-item" type="button">
                          <i class="bi bi-person-vcard me-1"></i> 品牌形象
                         </button>
                      </a>
                    </li>
                    <li>
                        <button id="logout-btn" @click="logout()" class="dropdown-item" type="button">   
                          <i class="bi bi-box-arrow-right me-1"></i> 退出登录 
                        </button>
                    </li>
                    <li>
                      <a href="/mall/delete-account">
                        <button class="dropdown-item" type="button">
                          <i class="bi bi-trash3 me-1"></i> 删除账号
                         </button>
                      </a>
                    </li>
                    <li>
                      <button class="dropdown-item" type="button" data-bs-toggle="offcanvas" data-bs-target="#feedback_offcanvas_right" aria-controls="feedback_offcanvas_right">
                        <i class="bi bi-flag me-1"></i> 反馈
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
              
              
            </nav>

          </header>
        </div>
         <!-- header section end -->
        <!-- search search start -->

         <div class="search-section">
            <!-- search trigger start -->
            <div class="sc-dJjYzT eZdGJU">
                <div class="sc-dkqQuH bHRhSP">
                  <div class="sc-dJjYzT llxqUr">
                    <div class="sc-dJjYzT jyMnuD">
                      <form  class="sc-htJRVC ffdmbA" >
                        <div class="sc-cbTzjv jZwsWJ">
                          <div class="sc-dJjYzT ehdChx">
                            <div aria-expanded="false" aria-haspopup="true" aria-label="Search"
                               class="sc-iUKqMP lhpgSe">
                              <div class="sc-dJjYzT bmywFn">
                                <div fill="gray2" class="sc-egiyK hXhurX"><svg viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                      d="M14.258 15.804a6.5 6.5 0 1 1 1.546-1.546l3.277 2.804c.404.344.835.712.906 1.238.06.448-.087.918-.43 1.258-.34.342-.81.49-1.257.429-.526-.07-.894-.502-1.238-.906l-2.804-3.277zM15.5 10.5a5 5 0 1 1-10 0 5 5 0 0 1 10 0z">
                                    </path>
                                  </svg>
                                </div>
                                  <input @keyup.enter.native="retrievePptTemplateGridV" v-model="ppt_t_pagination.param.q" type="search" aria-label="Search" autocomplete="off" name="q"
                                  placeholder="搜索模版" class="sc-hjGZqJ SHYlA" value="">
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                   
                  </div>
                </div>
              </div>
              <!-- search trigger end -->
         </div>
         <!-- search search end -->
         <h1>PPT 模版库</h1>
         <!-- ppt_item_container start -->

         <div class="ppt_item_container">

          <!-- grid start -->
         <div id="template_grid" class="row g-2 g-md-special row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-4">
          

        <div v-for="template in ppt_t_pagination.records" class="col ppt-container">
          <div class="showcase-wrp">
            <div class="storyboard">
              <img :src="template.thumbnail" alt="template preview cover">
              <a :href="template.downloadUri" :download="template.title+'PPT模版'">
                <div class="download-btn">
                  <i class="bi bi-download"></i>
                </div>
              </a>
            </div>
            <div class="template-thumbnail-video">
              <div class="TemplateThumbnailVideo_container" style="aspect-ratio: 16/9;">
                <video :title="template.title" class="TemplateThumbnailVideo_videoPlayer"  :poster="template.thumbnail" preload="none"  autoplay loop muted>
                  <source :src="template.previewUri" type="video/mp4">
                  Your browser does not support the video tag.
                </video>

              </div>

            </div>
          </div>
          <div class="ppt-title ellipsis-1 ">{{template.title}}</div>
          <div class="ppt-format">
            <div class="tag-wrp">
               <span v-for="(tag, index) in template.tags" class="support-dim">{{tag}}</span>
            </div>

          </div>
      </div>
          




          
       </div>
       <!-- grid end -->

       <nav v-if="!!ppt_t_pagination.paging" aria-label="Page navigation" class="millstone-pagination mt-3">
        <ul class="pagination pagination-lg pagination-dark  border-0">
          <li class="page-item" @click="pagePre(ppt_t_pagination)">
            <a class="page-link"  aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"  v-for="page in ppt_t_pagination.paging.items" :class="{'current-page-active': ppt_t_pagination.paging.current == page}" 
                @click="pageGo(ppt_t_pagination,page)"><a class="page-link">{{page}}</a></li>
          <li class="page-item" @click="pageNext(ppt_t_pagination)">
            <a class="page-link" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

         </div>
                  <!-- ppt_item_container end -->

         
         
    
      </div>
    </div>
    <section class="feedback_offcanvas" id="section_feedback_offcanvas">

      <div class="offcanvas offcanvas-end" tabindex="-1" id="feedback_offcanvas_right" aria-labelledby="feedbackOffcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="feedbackOffcanvasRightLabel">发送反馈到小蔚</h5>
          <button id="closeFeedbackOffcanvas" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form id="feedback-form">
            <div class="mt-3">
              <label for="input_issue" class="form-label">您遇到的具体问题是什么(必填,300字以内)</label>
              <textarea  rows="8" type="text" maxlength="300" class="form-control"  id="input_issue"></textarea>
            </div> 
            <div class="mt-3">
              <label class="form-label">附件图片(选填)</label>
              <div class="feedback-attachment-upload-container dropzone-wrapper">
                <img  id="lastestFeedbackAttachment" >
                <div class="dropzone-desc">
                  <i class="bi bi-cloud-plus"></i>
                </div>
                <input type="file" id="input_issue_attachment"  accept="image/jpg, image/png, image/jpeg" class="dropzone">
              </div>
            </div>  
            <div class="mt-3">
              <label for="input_issue_contact" class="form-label">您的联系方式(选填)</label>
              <input id="input_issue_contact"  min="1" max="50000" step="1" type="text" class="form-control" placeholder="请留下邮箱或电话，使我们快速反馈">
            </div> 
            <button type="submit" class="btn btn-primary mt-5 w-100">提交</button>
          </form>
        </div>
      </div>
  
    </section>
    <script type="module" src="/common/javascripts/feedback.js"></script>
    <script type="module" src="/common/javascripts/tm.js"></script>
    <script  type="module" src="/blog/javascripts/ppt-template.js"></script>


  </body>

  </html>