<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”robots” content=”index,nofollow”>
    <meta http-equiv ='content-language' content ='zh-cn'>

    <meta name="keywords" content="市场服务供应商数字服务空间">
    <meta name="description" content="市场服务供应商数字服务、数字空间">
    <link rel="icon" href="https://www.bluvarri.com/favicon.png">
    <title>品牌主页 - 心选商店</title>
    <script src="/common/javascripts/avif-webp.min.js"></script>


    <link rel="stylesheet" href="/common/stylesheets/style.scss">
    <link rel="stylesheet" href="/mall/stylesheets/bubble.scss">

</head>
<body>
  <mall-app id="app" v-cloak>
    
    <!-- header section start -->
    <div class="header-container">
      <header>
        <nav>
          <div class="header-primary-container">

            <div class="logo-contaienr">
              <a href="/mall/gig-economy" class="logo_link" >
                <div class="d-flex align-items-center logo">
                  <img src="/common/icon/logo_blv-final-white.png" alt="logo">
                  <span class="mb-0 ms-2">心选商店</span>
                </div>
              </a>
            </div>



          </div>
          
          <div class="appButton">

            <div class="btn-group" style="margin-right: 8px;" >
          
              <button type="button" class="btn entry-nav" data-bs-toggle="dropdown" aria-expanded="false" >
                <div class="tooltip-nav" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-trigger="hover" data-bs-placement="bottom" data-bs-title="传送">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7623 3.25011C12.2215 3.25576 12.752 3.47285 13.0382 3.98431L13.2124 4.29565C15.8706 9.04584 18.0375 13.9835 19.6863 19.049C19.904 19.7181 19.5451 20.2857 19.097 20.5487C18.6585 20.806 18.0554 20.8404 17.5447 20.512L12.8173 17.4719C12.2948 17.1359 11.5857 17.135 11.0963 17.4441L6.46484 20.3691C5.94281 20.6988 5.33707 20.6351 4.9118 20.3799C4.48468 20.1236 4.10335 19.5712 4.30272 18.8969C5.78977 13.8676 7.79972 8.97844 10.3077 4.28867L10.472 3.98149C10.7563 3.44998 11.3042 3.24448 11.7623 3.25011ZM11.7551 4.76304L11.6305 4.99605C9.22521 9.49368 7.2879 14.1762 5.8404 18.9894L10.2954 16.1759C11.2941 15.5451 12.6321 15.5694 13.6286 16.2102L18.1247 19.1016C16.5242 14.2751 14.4428 9.56596 11.9034 5.02815L11.7551 4.76304Z" fill="white"/>
                    </svg>                  
                </div>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a href="/">
                    <button class="dropdown-item" type="button">
                      <img class="forward-icon me-2" src="/common/icon/logo_blv-final-black.png" alt="blv-logo"> 主站首页
                     </button>
                  </a>
                </li>
                <li>
                  <a href="/rainbow/teixcalaanli">
                    <button class="dropdown-item" type="button">
                      <img class="forward-icon me-2" src="/common/icon/community.svg" alt="shopping-logo"> 彩虹部落
                     </button>
                  </a>
                </li>
                <li>
                  <a href="/mall/gig-economy">
                    <button class="dropdown-item" type="button">
                      <img class="forward-icon me-2" src="/common/icon/choice-shopping.svg" alt="shopping-logo"> 心选商店
                     </button>
                  </a>
                </li>
                <li>
                  <a href="/estudio/studio-dashboard">
                    <button class="dropdown-item" type="button"><i class="bi bi-laptop me-2"></i> 薪动商号 </button>
                  </a>
                </li>
                <li>
                  <a href="/affiliate/dashboard">
                    <button class="dropdown-item" type="button" >
                      <i class="bi bi-megaphone-fill affiliate-icon me-2"></i> 带货中心
                     </button>
                  </a>
                </li>
                
                <li>
                  <a href="/epod/pod-packages-order">
                    <button class="dropdown-item" type="button" >
                      <i class="bi bi-tags me-2"></i> 个人中心
                     </button>
                  </a>
                </li>
              </ul>
  
            </div>

            <a v-if="!user_already_login" class="btn btn-outline-dark button_login text-white" href="/login">
              登录
            </a>
            <a v-if="!user_already_login" href="/signup" class="btn btn-primary join-now button_register text-white">注册</a>

            <div v-if="user_already_login" class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle button_user brand-avatar" data-bs-toggle="dropdown" aria-expanded="false">
                <img  :src="adaptiveImageUriV(getIdentity().avatar)  || defaultAvatarImage" @error.once="e => { e.target.src = defaultAvatarImage }">
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a href="/estudio/studio-setting-profile">
                    <button class="dropdown-item" type="button">
                      <i class="bi bi-person-vcard me-1"></i> 品牌形象
                     </button>
                  </a>
                </li>
                <li>
                    <button id="logout-btn" @click="logout()" class="dropdown-item" type="button">   
                      <i class="bi bi-box-arrow-right me-1"></i> 退出登录 
                    </button>
                </li>
                <li>
                  <a href="/mall/delete-account">
                    <button class="dropdown-item" type="button">
                      <i class="bi bi-trash3 me-1"></i> 删除账号
                     </button>
                  </a>
                </li>
                <li>
                  <button class="dropdown-item" type="button" data-bs-toggle="offcanvas" data-bs-target="#feedback_offcanvas_right" aria-controls="feedback_offcanvas_right">
                    <i class="bi bi-flag me-1"></i> 反馈
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </header>
    </div>
     <!-- header section end -->

     
    <content>
      <main>
        <!-- section bubble-->
        <section class="section-bubble-brand-info">
          <div class="brand-cover">
            <img :src="adaptiveImageUriV(homeInfo.cover) || defaultBannerImage" @error.once="e => { e.target.src = defaultBannerImage }">
          </div>
          <!-- brand avator -->
          <div class="d-flex portrait align-items-center my-4">
            <div class="d-flex  align-items-center brand-info ">
              <img class="service-brand" :src="adaptiveImageUriV(homeInfo.avator) || defaultAvatarImage" @error.once="e => { e.target.src = defaultAvatarImage }">
              <span class="service-brand-name mx-1">{{homeInfo.brand}}</span>
            </div>

            <span v-show="Number(homeInfo.enableBlue)" class="service-brand-blue mx-2 px-2">尊享蓝标</span>
          </div>
          
        </section>
        <section id="section-tabs" class="section-tabs">
          <!-- bubble tablist -->
          <ul class="nav nav-tabs border-0" id="bubble-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">虚拟商品</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="service-tab" data-bs-toggle="tab" data-bs-target="#service-tab-pane" type="button" role="tab" aria-controls="service-tab-pane" aria-selected="false">特约服务</button>
            </li>
            <li v-if="user_already_login" class="nav-item" role="presentation">
              <button class="nav-link" id="cooperation-tab" data-bs-toggle="tab" data-bs-target="#cooperation-tab-pane" type="button" role="tab" aria-controls="cooperation-tab-pane" aria-selected="false">互动</button>
            </li>
          </ul>
        </section>

        
        <div class="content-container">
          
            <!-- bubble tablist content-->
            <div class="tab-content" id="bubble-tab-content">
              <!-- home tab-->
              <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                
                <section class="section-list-render">
                  <div v-if="homeInfo.vr.length==0" class="not-found-resource">
                    <img src="https://d13-content.oss-cn-hangzhou.aliyuncs.com/common/image/not-found-result.png" alt="bluvarri-service-not-found">
                    <h4>未找到结果</h4>
                  </div>

                  <div class="row g-2 g-md-3  row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4">
                    <div v-for="cell in homeInfo.vr" class="col">
                      <div class="cell-item">
                        <div class="card border-0 cell-card-body-bg  pb-1">
                          <img :src="adaptiveImageUriV(cell.thumbnailUrl) || defaultCellPreviewImage" class="card-img-top cell-thumb" alt="..." @error.once="e => { e.target.src = defaultCellPreviewImage }">
                          <div class="card-body px-2">
                            <p class="card-text mt-2">
                              <a :href="'/mall/virtual/'+cell.productId + '?brand_id=' + cell.sellerBrandId "  class="url-link">
                                {{cell.productName}}
                              </a>
                            </p>
                          </div>
                          <div class="card-footer px-2 d-flex align-items-center justify-content-between card-footer-highlight">
                            <span class="vip-award">
                              <i class="bi bi-award-fill"></i>
                            </span>
                            <div class="price">
                              <i>￥</i>
                              <ins class="text-decoration-none price-txt">{{cell.productPrice}}</ins>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </section>
              </div>

              <div class="tab-pane fade" id="service-tab-pane" role="tabpanel" aria-labelledby="service-tab" tabindex="0">
                <section class="section-list-render" id="service_library">
                  <div v-if="!cells || cells.length==0" class="not-found-resource">
                    <img src="https://d13-content.oss-cn-hangzhou.aliyuncs.com/common/image/not-found-result.png" alt="bluvarri-service-not-found">
                    <h4>未找到结果</h4>
                  </div>
                  <div class="row g-2 g-md-3  row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4">
                    <div v-for="cell in cells" class="col">
                      <div class="cell-item">
                        <div class="card border-0 cell-card-body-bg pb-1">
                          <img :src="adaptiveImageUriV(cell.preview) || defaultCellPreviewImage" class="card-img-top cell-thumb" alt="..." @error.once="e => { e.target.src = defaultCellPreviewImage }">
                          <div class="card-body px-2">
                            <p class="card-text">
                              <a :href="'/mall/cell-detail?cell_id='+cell.id + '&brand_id=' + cell.brandId " class="url-link">
                                {{cell.title}}
                              </a>
                            </p>
                          </div>
                          <div class="card-footer px-2 d-flex align-items-center justify-content-between card-footer-highlight">
                            <span class="vip-award">
                              <i class="bi bi-award-fill"></i>
                            </span>
                            <div class="price">
                              <i>￥</i>
                              <ins class="text-decoration-none price-txt">{{cell.price}}</ins>
                              <div class="line">
                              </div>
                              <span class="price-sbu">
                                {{ transformSbuV(cell.sbu) }}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  <div v-if="queryParam.pages > queryParam.current" class="show-more-row">
                    <button v-preventreclick @click="infiniteHandler" type="button"  class="btn btn-show-more" >
                      显示更多
                    </button>
                  </div>
                </section>
              </div>
              <div class="tab-pane fade" id="cooperation-tab-pane" role="tabpanel" aria-labelledby="cooperation-tab" tabindex="0">
                <section class="section-list-render" id="cooperation_library">
                  <div  class="row gx-0 gy-0  row-cols-2 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 row-cols-xl-8 ms-3 me-3">
                    <div v-if="!!homeInfo.pdOasisId" class="col actio-item">
                      <a :href="'/rainbow/oasis/home?oasis_id='+homeInfo.pdOasisId" target="_blank">
                        <button type="button"  class="btn btn-primary option-swap" >
                          <i class="bi bi-forward"></i> 访问社区
                        </button>
                      </a>
                    </div>
                    <div  class="col actio-item">
                      <button type="button" @click="retrieveOasesCreatedV" class="btn btn-primary option-invitation" data-bs-toggle="modal" data-bs-target="#inviteModal">
                        <i class="bi bi-building-add"></i> 邀请加入部落
                      </button>
                    </div>
                  </div>
                </section>
              </div>
          </div>
        </div>
        
      </main>
      <section class="modals">
        <div class="modal-container">
          
          <!-- Modal -->
          <div class="modal fade" id="inviteModal" data-bs-backdrop="static" tabindex="-1">
            <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content text-color-dark">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="inviteModalLabel">邀请加入部落</h1>
                  <button type="button" id="closeInviteModal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="input-group mb-3">
                    <input  @keyup.enter.native="searchOasesV" v-model="searchOasesQ" class="bubble-search-btn form-control" type="search" placeholder="搜索部落...">
                  </div>
                  <div class="mt-3">
                    <ul class="list-group">
                      <li v-for="oasis in displayOases" class="list-group-item">
                        <div class="form-check">
                          <input class="form-check-input" v-bind:value="oasis.id"  v-model="checkedOasisId" type="radio" name="flexRadioDefault">
                          <label class="form-check-label" for="flexRadioDefault1">
                            {{oasis.title}}
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  
                </div>
                <div class="modal-footer btn-light">
                  <button @click="inviteBrandV" 
                  :class="{'disabled': !checkedOasisId  , 
                  'btn-primary': !!checkedOasisId  ,
                  'btn-secondary': !checkedOasisId }"
                   v-preventreclick  type="button"  class="btn">发出邀请</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </section>

     

    </content>
    <footer></footer>
  </mall-app>
  <section class="feedback_offcanvas" id="section_feedback_offcanvas">

    <div class="offcanvas offcanvas-end" tabindex="-1" id="feedback_offcanvas_right" aria-labelledby="feedbackOffcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="feedbackOffcanvasRightLabel">发送反馈到小蔚</h5>
        <button id="closeFeedbackOffcanvas" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form id="feedback-form">
          <div class="mt-3">
            <label for="input_issue" class="form-label">您遇到的具体问题是什么(必填,300字以内)</label>
            <textarea  rows="8" type="text" maxlength="300" class="form-control"  id="input_issue"></textarea>
          </div> 
          <div class="mt-3">
            <label class="form-label">附件图片(选填)</label>
            <div class="feedback-attachment-upload-container dropzone-wrapper">
              <img  id="lastestFeedbackAttachment" >
              <div class="dropzone-desc">
                <i class="bi bi-cloud-plus"></i>
              </div>
              <input type="file" id="input_issue_attachment"  accept="image/jpg, image/png, image/jpeg" class="dropzone">
            </div>
          </div>  
          <div class="mt-3">
            <label for="input_issue_contact" class="form-label">您的联系方式(选填)</label>
            <input id="input_issue_contact"  min="1" max="50000" step="1" type="text" class="form-control" placeholder="请留下邮箱或电话，使我们快速反馈">
          </div> 
          <button type="submit" class="btn btn-primary mt-5 w-100">提交</button>
        </form>
      </div>
    </div>

  </section>
  <script type="module" src="/common/javascripts/feedback.js"></script>
  <script  type="module" src="/common/javascripts/tm.js"></script>

  <script  type="module" src="/mall/javascripts/bubble.js"></script>

</body>
</html>