<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”robots” content=”index,nofollow”>
    <meta http-equiv ='content-language' content ='zh-cn'>

    <meta name="keywords" content="市场服务供应商数字服务空间">
    <meta name="description" content="市场服务供应商数字服务、数字空间">
    <link rel="icon" href="/favicon.png">
    <title>Bubble - 市场</title>
    <script src="/common/javascripts/avif-webp.min.js"></script>


    <link rel="stylesheet" href="/common/stylesheets/style.scss">
    <link rel="stylesheet" href="/mall/stylesheets/bubble.scss">

</head>
<body>
  <mall-app id="app" v-cloak>
    
    <!-- header section start -->
    <div class="header-container">
      <div class="header-wrapper">

        <header>
          <nav>
            <div class="header-primary-container">
  
              <div class="logo-contaienr">
                <a class="logo_link" aria-current="page" href="/">
                  <img src="/common/icon/logo_blv-final-white.png" alt="logo">
                </a>
              </div>
  
              <ul class="nav_links">
                <li class="nav_link active">
                  <a  href="/home">
                    <span>
                      精选商店
                    </span> 
                  </a>
                </li>
                <li class="nav_link">
                  <a rel="nofollow" href="/estudio/studio-store"  data-bs-custom-class="custom-popover" data-bs-placement="bottom" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-content="服务商业务区，快快乐乐工作，领取美美的薪水，薪动即行动，来上线你的第一个服务吧~"> 
                    <span>
                      薪动工作室
                    </span>
                  </a>
                </li>
                <li class="nav_link">
                  <a rel="nofollow" href="/epod/pod-millstone"  data-bs-custom-class="custom-popover" data-bs-placement="bottom" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-content="消费者服务区，你购买到的服务甚至账单，都在这里面喔~"> 
                    <span>
                      E-Pod
                    </span>
                  </a>
                </li>
              
              </ul>
  
  
            </div>
            
            <div class="appButton">
  
              <a v-if="!user_already_login" class="btn btn-outline-dark button_login text-white" href="/login">
                登录
              </a>
              <a v-if="!user_already_login" href="/signup" class="btn btn-primary join-now button_register text-white">注册</a>
  
              <div v-if="user_already_login" class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle button_user brand-avatar" data-bs-toggle="dropdown" aria-expanded="false">
                  <img  :src="adaptiveImageUriV(getIdentity().avatar)  || defaultAvatarImage" @error.once="e => { e.target.src = defaultAvatarImage }">
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a href="/estudio/studio-setting-profile">
                      <button class="dropdown-item" type="button">
                        <i class="bi bi-person-vcard me-1"></i> 品牌形象
                       </button>
                    </a>
                  </li>
                  <li>
                      <button id="logout-btn" @click="logout()" class="dropdown-item" type="button">   
                        <i class="bi bi-box-arrow-right me-1"></i> 注销 
                      </button>
                  </li>
                  <li>
                    <a href="/mall/delete-account">
                      <button class="dropdown-item" type="button">
                        <i class="bi bi-trash3 me-1"></i> 删除账号
                       </button>
                    </a>
                  </li>
                  <li>
                    <button class="dropdown-item" type="button" data-bs-toggle="offcanvas" data-bs-target="#feedback_offcanvas_right" aria-controls="feedback_offcanvas_right">
                      <i class="bi bi-flag me-1"></i> 反馈
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
  
        </header>

      </div>
      
    </div>
     <!-- header section end -->

     <!-- mobile  nav start -->
     <div class="mobile-nav-container">
      <ul class="nav_links">
        <li class="nav_link active">
          <a  href="/home">
            <span>精选商店</span> 
          </a>
        </li>
        <li class="nav_link">
          <a rel="nofollow" href="/estudio/studio-store" > 
            <span>
              薪动工作室
            </span>
          </a>
        </li>
        <li class="nav_link">
          <a rel="nofollow" href="/epod/pod-millstone"  > 
            <span>
              E-Pod
            </span>
          </a>
        </li>
      
      </ul>

     </div>

     <!-- mobile nav end -->
    <content>
      <main>
        <!-- section bubble-->
        <section class="section-bubble-brand-info">
          <div class="brand-cover">
            <img :src="adaptiveImageUriV(homeInfo.cover) || defaultBannerImage" @error.once="e => { e.target.src = defaultBannerImage }">
          </div>
          <!-- brand avator -->
          <div class="d-flex portrait align-items-center my-4">
            <img class="service-brand" :src="adaptiveImageUriV(homeInfo.avator) || defaultAvatarImage" @error.once="e => { e.target.src = defaultAvatarImage }">
            <span class="service-brand-name mx-1">{{homeInfo.brand}}</span>
            <span v-show="Number(homeInfo.enableBlue)" class="service-brand-blue mx-2 px-2">尊享蓝标</span>
          </div>
          
        </section>
        <section class="section-tabs">
          <!-- bubble tablist -->
          <ul class="nav nav-tabs border-0" id="bubble-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">主页</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="service-tab" data-bs-toggle="tab" data-bs-target="#service-tab-pane" type="button" role="tab" aria-controls="service-tab-pane" aria-selected="false">全部服务</button>
            </li>
            <li v-if="user_already_login" class="nav-item" role="presentation">
              <button class="nav-link" id="cooperation-tab" data-bs-toggle="tab" data-bs-target="#cooperation-tab-pane" type="button" role="tab" aria-controls="cooperation-tab-pane" aria-selected="false">合作</button>
            </li>
          </ul>
        </section>

        
        <div class="content-container">
          
            <!-- bubble tablist content-->
            <div class="tab-content" id="bubble-tab-content">
              <!-- home tab-->
              <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                
                <section class="section-list-render">
                  <div class="subheader">最新服务</div>
                  <div class="row gx-3 gy-3  row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-5">
                    <div v-for="cell in homeInfo.cells" class="col">
                      <div class="cell-item">
                        <div class="card border-0 cell-card-body-bg px-3 pb-1">
                          <img :src="adaptiveImageUriV(cell.preview) || defaultCellPreviewImage" class="card-img-top cell-thumb" alt="..." @error.once="e => { e.target.src = defaultCellPreviewImage }">
                          <div class="card-body">
                            <p class="card-text mt-2">
                              <a :href="'/mall/cell-detail?cell_id='+cell.id + '&brand_id=' + cell.brandId " class="url-link">
                                {{cell.title}}
                              </a>
                            </p>
                          </div>
                          <div class="card-footer d-flex align-items-center justify-content-between card-footer-highlight">
                            <span class="vip-award">
                              <i class="bi bi-award-fill"></i>
                            </span>
                            <div class="price">
                              <i>￥</i>
                              <ins class="text-decoration-none price-txt">{{cell.price}}</ins>
                              <div class="line">
                              </div>
                              <span class="price-sbu">
                                {{ transformSbuV(cell.sbu) }}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </section>
              </div>

              <div class="tab-pane fade" id="service-tab-pane" role="tabpanel" aria-labelledby="service-tab" tabindex="0">
                <section class="section-list-render" id="service_library">
                  <div class="row gx-3 gy-3  row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-5">
                    <div v-for="cell in cells" class="col">
                      <div class="cell-item">
                        <div class="card border-0 cell-card-body-bg px-3 pb-1">
                          <img :src="adaptiveImageUriV(cell.preview) || defaultCellPreviewImage" class="card-img-top cell-thumb" alt="..." @error.once="e => { e.target.src = defaultCellPreviewImage }">
                          <div class="card-body">
                            <p class="card-text">
                              <a :href="'/mall/cell-detail?cell_id='+cell.id + '&brand_id=' + cell.brandId " class="url-link">
                                {{cell.title}}
                              </a>
                            </p>
                          </div>
                          <div class="card-footer d-flex align-items-center justify-content-between card-footer-highlight">
                            <span class="vip-award">
                              <i class="bi bi-award-fill"></i>
                            </span>
                            <div class="price">
                              <i>￥</i>
                              <ins class="text-decoration-none price-txt">{{cell.price}}</ins>
                              <div class="line">
                              </div>
                              <span class="price-sbu">
                                {{ transformSbuV(cell.sbu) }}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </section>
              </div>
              <div class="tab-pane fade" id="cooperation-tab-pane" role="tabpanel" aria-labelledby="cooperation-tab" tabindex="0">
                <section class="section-list-render" id="cooperation_library">
                  <div  class="row gx-3 gy-0  row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 row-cols-xl-5 ms-3 me-3">
                    <div  class="col actio-item">
                      <button type="button" @click="retrieveOasesCreatedV" class="btn btn-primary option-invitation" data-bs-toggle="modal" data-bs-target="#inviteModal">
                        邀请成为基地成员
                      </button>
                    </div>
                  </div>
                </section>
              </div>
          </div>
        </div>
        
      </main>
      <section class="modals">
        <div class="modal-container">
          
          <!-- Modal -->
          <div class="modal fade" id="inviteModal" data-bs-backdrop="static" tabindex="-1">
            <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content text-color-dark">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="inviteModalLabel">邀请</h1>
                  <button type="button" id="closeInviteModal" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="input-group mb-3">
                    <input  @keyup.enter.native="searchOasesV" v-model="searchOasesQ" class="bubble-search-btn form-control" type="search" placeholder="搜索基地...">
                  </div>
                  <div class="mt-3">
                    <span>基地:</span>
                    <ul class="list-group ms-5">
                      <li v-for="oasis in displayOases" class="list-group-item">
                        <div class="form-check">
                          <input class="form-check-input" v-bind:value="oasis.id"  v-model="checkedOasisId" type="radio" name="flexRadioDefault">
                          <label class="form-check-label" for="flexRadioDefault1">
                            {{oasis.title}}
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  
                </div>
                <div class="modal-footer btn-light">
                  <button @click="inviteBrandV" 
                  :class="{'disabled': !checkedOasisId  , 
                  'btn-primary': !!checkedOasisId  ,
                  'btn-secondary': !checkedOasisId }"
                   v-preventreclick  type="button"  class="btn">发出邀请</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      </section>

     

    </content>
    <footer></footer>
  </mall-app>
  <section class="feedback_offcanvas" id="section_feedback_offcanvas">

    <div class="offcanvas offcanvas-end" tabindex="-1" id="feedback_offcanvas_right" aria-labelledby="feedbackOffcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="feedbackOffcanvasRightLabel">发送反馈到Bluvarri</h5>
        <button id="closeFeedbackOffcanvas" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form id="feedback-form">
          <div class="mt-3">
            <label for="input_issue" class="form-label">您遇到的具体问题是什么(必填,300字以内)</label>
            <textarea  rows="8" type="text" maxlength="300" class="form-control"  id="input_issue"></textarea>
          </div> 
          <div class="mt-3">
            <label class="form-label">附件图片(选填)</label>
            <div class="feedback-attachment-upload-container dropzone-wrapper">
              <img  id="lastestFeedbackAttachment" >
              <div class="dropzone-desc">
                <i class="bi bi-cloud-plus"></i>
              </div>
              <input type="file" id="input_issue_attachment"  accept="image/jpg, image/png, image/jpeg" class="dropzone">
            </div>
          </div>  
          <div class="mt-3">
            <label for="input_issue_contact" class="form-label">您的联系方式(选填)</label>
            <input id="input_issue_contact"  min="1" max="50000" step="1" type="text" class="form-control" placeholder="请留下邮箱或电话，使我们快速反馈">
          </div> 
          <button type="submit" class="btn btn-primary mt-5 w-100">提交</button>
        </form>
      </div>
    </div>

  </section>
  <script type="module" src="/common/javascripts/feedback.js"></script>
  <script  type="module" src="/common/javascripts/tm.js"></script>

  <script  type="module" src="/mall/javascripts/bubble.js"></script>

</body>
</html>