<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”robots” content=”index,nofollow”>
    <meta http-equiv ='content-language' content ='zh-cn'>

    <meta name="keywords" content="市场服务详情页">
    <meta name="description" content="市场服务介绍、品牌信息">
    <link rel="icon" href="https://www.bluvarri.com/favicon.png">
    <title>服务详情 - 心选商店</title>
    <script src="/common/javascripts/avif-webp.min.js"></script>

    <link rel="stylesheet" href="/common/stylesheets/style.scss">

    <link rel="stylesheet" href="/mall/stylesheets/cell-detail.scss">
</head>
<body>
  <mall-app id="app" v-cloak>

    <!-- header section start -->
    <div class="header-container">
      <header>
        <nav>
          <div class="header-primary-container">

            <div class="logo-contaienr">
              <a href="/mall/gig-economy" class="logo_link" >
                <div class="d-flex align-items-center logo">
                  <img src="/common/icon/logo_blv-final-white.png" alt="logo">
                  <span class="mb-0 ms-2">心选商店</span>
                </div>
              </a>
            </div>



          </div>
          
          <div class="appButton">

            <div class="btn-group" style="margin-right: 8px;" >
          
              <button type="button" class="btn entry-nav" data-bs-toggle="dropdown" aria-expanded="false" >
                <div class="tooltip-nav" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-trigger="hover" data-bs-placement="bottom" data-bs-title="传送">
                  <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7623 3.25011C12.2215 3.25576 12.752 3.47285 13.0382 3.98431L13.2124 4.29565C15.8706 9.04584 18.0375 13.9835 19.6863 19.049C19.904 19.7181 19.5451 20.2857 19.097 20.5487C18.6585 20.806 18.0554 20.8404 17.5447 20.512L12.8173 17.4719C12.2948 17.1359 11.5857 17.135 11.0963 17.4441L6.46484 20.3691C5.94281 20.6988 5.33707 20.6351 4.9118 20.3799C4.48468 20.1236 4.10335 19.5712 4.30272 18.8969C5.78977 13.8676 7.79972 8.97844 10.3077 4.28867L10.472 3.98149C10.7563 3.44998 11.3042 3.24448 11.7623 3.25011ZM11.7551 4.76304L11.6305 4.99605C9.22521 9.49368 7.2879 14.1762 5.8404 18.9894L10.2954 16.1759C11.2941 15.5451 12.6321 15.5694 13.6286 16.2102L18.1247 19.1016C16.5242 14.2751 14.4428 9.56596 11.9034 5.02815L11.7551 4.76304Z" fill="white"/>
                    </svg>                  
                </div>
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a href="/">
                    <button class="dropdown-item" type="button">
                      <img class="forward-icon me-2" src="/common/icon/logo_blv-final-black.png" alt="blv-logo"> 主站首页
                     </button>
                  </a>
                </li>
                <li>
                  <a href="/rainbow/teixcalaanli">
                    <button class="dropdown-item" type="button">
                      <img class="forward-icon me-2" src="/common/icon/community.svg" alt="shopping-logo"> 彩虹部落
                     </button>
                  </a>
                </li>
                <li>
                  <a href="/mall/gig-economy">
                    <button class="dropdown-item" type="button">
                      <img class="forward-icon me-2" src="/common/icon/choice-shopping.svg" alt="shopping-logo"> 心选商店
                     </button>
                  </a>
                </li>
                <li>
                  <a href="/estudio/studio-dashboard">
                    <button class="dropdown-item" type="button"><i class="bi bi-laptop me-2"></i> 薪动商号 </button>
                  </a>
                </li>
                <li>
                  <a href="/affiliate/dashboard">
                    <button class="dropdown-item" type="button" >
                      <i class="bi bi-megaphone-fill affiliate-icon me-2"></i> 带货中心
                     </button>
                  </a>
                </li>
                
                <li>
                  <a href="/epod/pod-millstone">
                    <button class="dropdown-item" type="button" >
                      <i class="bi bi-tags me-2"></i> 我的定制
                     </button>
                  </a>
                </li>
              </ul>
  
            </div>

            <a v-if="!user_already_login" class="btn btn-outline-dark button_login text-white" href="/login">
              登录
            </a>
            <a v-if="!user_already_login" href="/signup" class="btn btn-primary join-now button_register text-white">注册</a>

            <div v-if="user_already_login" class="btn-group">
              <button type="button" class="btn btn-secondary dropdown-toggle button_user brand-avatar" data-bs-toggle="dropdown" aria-expanded="false">
                <img  :src="adaptiveImageUriV(getIdentity().avatar)  || defaultAvatarImage" @error.once="e => { e.target.src = defaultAvatarImage }">
              </button>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a href="/estudio/studio-setting-profile">
                    <button class="dropdown-item" type="button">
                      <i class="bi bi-person-vcard me-1"></i> 品牌形象
                     </button>
                  </a>
                </li>
                <li>
                    <button id="logout-btn" @click="logout()" class="dropdown-item" type="button">   
                      <i class="bi bi-box-arrow-right me-1"></i> 退出登录 
                    </button>
                </li>
                <li>
                  <a href="/mall/delete-account">
                    <button class="dropdown-item" type="button">
                      <i class="bi bi-trash3 me-1"></i> 删除账号
                     </button>
                  </a>
                </li>
                <li>
                  <button class="dropdown-item" type="button" data-bs-toggle="offcanvas" data-bs-target="#feedback_offcanvas_right" aria-controls="feedback_offcanvas_right">
                    <i class="bi bi-flag me-1"></i> 反馈
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </header>
    </div>
     <!-- header section end -->

     <!-- sub nav start -->
     <div class="sub-nav-container">
      <ul class="nav nav-tabs" id="cell-detail-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="intro-tab" data-bs-toggle="tab" data-bs-target="#intro-tab-pane" type="button" role="tab" aria-controls="intro-tab-pane" aria-selected="true">介绍</button>
        </li>
        <li v-if="!isEmptyObjectV(cellplan.records)" class="nav-item" role="presentation">
          <button class="nav-link" id="plan-tab" data-bs-toggle="tab" data-bs-target="#plan-tab-pane" type="button" role="tab" aria-controls="plan-tab-pane" aria-selected="false">单品</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">品牌信息</button>
        </li>
      </ul>
     </div>

    <!-- sub nav end -->


    <content class="content-container">
      <main>
        <section class="section-cell-detail-tab" >
            
              <div v-show="profile.dataLoadFinish" class="tab-content" id="cell-detail-tab-content">
                <div  class="tab-pane fade show active" id="intro-tab-pane" role="tabpanel" aria-labelledby="intro-tab" tabindex="0">
           
                  <div class="can_opt_wrapper d-flex">

                    <div class="opt_item_container d-flex flex-column justify-content-center">
                      <div class="opt_item_head">
                        <a>
                          <button  class="btn btn-dark  copy-link d-flex justify-content-center" @click="copyWindowUrlToClipboardV(profile.title)">
                            <i class="bi bi-link-45deg"></i>
                          </button>
                        </a>
                      </div>
                      <span class="opt_item_desc">复制链接</span>
                    </div>

                    
                    <div class="opt_item_container d-flex flex-column justify-content-center">
                      <div class="opt_item_head">
                        <a :href="'/messages/'+ brandProfile.brandUserId" target="_blank">
                          <button  class="btn btn-dark  copy-link private-msg-link">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path d="M8.99991 11.9999H14.9999" stroke="#949494" stroke-width="2" stroke-linecap="round"/>
                              <path d="M9 18H8C4.68629 18 2 15.3137 2 12C2 8.68629 4.68629 6 8 6H9" stroke="#949494" stroke-width="2" stroke-linecap="round"/>
                              <path d="M15 6H16C19.3137 6 22 8.68629 22 12C22 15.3137 19.3137 18 16 18H15" stroke="#949494" stroke-width="2" stroke-linecap="round"/>
                              </svg>  
                            <div v-if="profile.brandMark=='3'"  class="online-indicator">
                              <div class="online-indicator-content">
                              </div>
                            </div>
                          </button>
                        </a> 
                      </div>
                      <span class="opt_item_desc">问一问商家</span>
                    </div>


                    <div v-if="!!brandProfile.pdOasisId" class="opt_item_container d-flex flex-column justify-content-center">
                      <div class="opt_item_head">
                        <a :href="'/rainbow/oasis/home?oasis_id='+brandProfile.pdOasisId" target="_blank">
                          <button  class="btn btn-dark  copy-link d-flex justify-content-center">
                            <i class="bi bi-people"></i>
                          </button>
                        </a>
                      </div>
                      <span class="opt_item_desc">社区</span>
                    </div>

                    <div v-if="user_already_login"  class="opt_item_container d-flex flex-column justify-content-center">
                      <div class="opt_item_head">
                        <a>
                          <button v-preventreclick  @click="showOasisReportModalV" class="btn btn-dark  copy-link d-flex justify-content-center">
                            <i class="bi bi-flag"></i>
                          </button>
                        </a>
                      </div>
                      <span class="opt_item_desc">举报</span>
                    </div>

                    
          
                  </div>
                  <div class="d-flex intro-content-container">
                    <!-- cell intro article -->
                    <div class="intro-content">
                          <!-- cell intro cover -->
                      <div class="cell-intro-cover">
                        <img v-if="profile.cellMark=='3'" class="offline-mark" src="/common/icon/offline.svg" alt="cell already offline">
                        <img class="cell-banner" :src="adaptiveImageUriV(profile.introCover)  || defaultCellIntroCoverImage" @error.once="e => { e.target.src = defaultCellIntroCoverImage }">
                      </div>
                      <!-- cell title -->

                      <div class="cell-coupon">
                        <span v-if="brandPromotionData.creditPointTag=='1' && !user_already_login" class="coupon-item">新用户体验金{{brandPromotionData.creditPoint}}元</span>
                        <span v-if="brandPromotionData.earlyBirdDiscountTag=='1' && !user_already_login"  class="ms-2 coupon-item">尝鲜神券{{brandPromotionData.earlyBirdDiscount}}%</span>
                        <span v-if="brandPromotionData.repurchaseDiscountTag=='1' && !user_already_login"  class="ms-2 coupon-item">复购尊享{{brandPromotionData.repurchaseDiscount}}%</span>

                        <span v-if="user_already_login && !!userPromotionBenefit.creditPoint && userPromotionBenefit.creditPoint>0" class="coupon-item">本单可用体验金{{userPromotionBenefit.creditPoint}}元</span>
                        <span v-if="brandPromotionData.earlyBirdDiscountTag=='1' && user_already_login && userPromotionBenefit.canUseEarlyBirdCoupon=='1'"  class="ms-2 coupon-item">尝鲜神券{{brandPromotionData.earlyBirdDiscount}}%</span>
                        <span v-if="brandPromotionData.repurchaseDiscountTag=='1' && user_already_login && userPromotionBenefit.canUseRepurchaseCoupon=='1'"  class="ms-2 coupon-item">复购尊享{{brandPromotionData.repurchaseDiscount}}%</span>
                        
                      </div>

                      <h1 class="cell-title my-4">{{profile.title}}</h1>
                      <div  class="cell-intro-content pb-5">
                        <p v-for="item in profile.content.items" class="cell-content-item">
                          {{item.section}}
                        </p>
                      </div>
                    </div>
                    <!-- right panel : pricing -->
                    <div class="fee-calculator-pannel">
                      <div class="card fee-calculator-bg fee-calculator">
                        <div class="d-flex justify-content-between">
                          <div class="card-header ps-3 font-w-500">
                            费用计算
                          </div>
                          <div>
                            <a class="btn btn-outline-primary price-list ms-2" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                              <i class="bi bi-tag"></i>
                              价目
                            </a>
                          </div>
                       
                        </div>
                        <div class="card-body">
                          <div class="collapse" id="collapseExample">
                            <div class="d-flex row row-cols-2">
                              <p v-for="item in profile.fee" class="col fee-sbu-wrapper price">
                                <i>￥</i>
                                <ins class="text-decoration-none price-txt">{{item.price}}</ins>
                                /
                                <span class="price-sbu">{{transformSbuV(item.sbu)}}</span>
                              </p>
                            </div>
                          </div>
                          <div class="input-group w-100 mb-3">
                            <input type="text" class="form-control border-0 option-sbu-input" min="1" max="50000" step="1" v-model="quantity" @change="computeFeeV" @input="transformInputNumberV($event)" aria-label="Text input with dropdown button">
                            <select class="form-select option-sbu" v-model="selectedSbu" @change="computeFeeV" aria-label="Default select example">
                              <option value="">计量</option>
                              <option :value="item.sbu" v-for="item in profile.fee">{{transformSbuV(item.sbu)}}</option>
                            </select>
                          </div>
                          <div class="help-text mb-3">
                            <span v-if="profile.provideInvoice==='1'"> 服务可申请开具发票</span>
                            <span v-else>服务不提供发票</span>
                          </div>
                          <div v-if="user_already_login" class="expense-container">
                            <div>
                              <ul class="expense">
                                <li><div class="d-flex justify-content-between"><div>服务费用</div><div>¥ {{cellExpense.amount}}</div> </div> </li>
                                <li v-if="(!!userPromotionBenefit.creditPoint) &&  userPromotionBenefit.creditPoint>0" ><div class="d-flex justify-content-between"><div>用户体验金</div><div>- ¥ {{cellExpense.promotionCreditPointDeductionDifference}}</div> </div> </li>
                                <li v-if="userPromotionBenefit.canUseRepurchaseCoupon=='1' && brandPromotionData.repurchaseDiscountTag=='1'"><div class="d-flex justify-content-between"><div>复购神券{{brandPromotionData.repurchaseDiscount}}%</div><div>- ¥ {{cellExpense.repurchaseDiscountDifference}}</div> </div> </li>
                                <li v-if="userPromotionBenefit.canUseEarlyBirdCoupon=='1' && brandPromotionData.earlyBirdDiscountTag=='1'"><div class="d-flex justify-content-between"><div>尝鲜尊享{{brandPromotionData.earlyBirdDiscount}}%</div><div>- ¥ {{cellExpense.earlyBirdDiscountDifference}}</div> </div> </li>
                              </ul>
                            </div>
                            <div class="d-flex justify-content-end">
                              <div class="sub-total">优惠 ¥ {{cellExpense.promotionDeduction}} &nbsp; &nbsp; 小计 ¥ {{cellExpense.total}}</div>
                            </div>
                          </div>
                          
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between card-footer-highlight">
                          <div class="price">
                            <i>￥</i>
                            <ins class="text-decoration-none">{{cellExpense.total}}</ins>
                          </div>
                          <button type="button" @click="orderNowV" v-preventreclick class="btn btn-primary">即刻预约</button>
                        </div>
                      </div>  
  
                    </div>

                  </div>
                  

                </div>
                <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                      <!-- seller info -->
                      <!-- seller banner -->
                      <section class="section-seller-banner position-relative">
                    
                        <div class="brand-intro-cover">
                          <img :src="adaptiveImageUriV(brandProfile.cover) || defaultBrandBannerImage" @error.once="e => { e.target.src = defaultBrandBannerImage }">
                        </div>
                        <div class="brand-container">
                          <div class="brand-avator">
                            <a :href="'/'+brandProfile.handle" class="url-link">
                              <img :src="adaptiveImageUriV(brandProfile.avator) || defaultAvatarImage" @error.once="e => { e.target.src = defaultAvatarImage }">
                            </a>
                          </div>
                          <div class="brand-identity">
                            <a :href="'/'+brandProfile.handle" class="url-link">
                              <div class="brand-name text-decoration-none">{{brandProfile.brand}}</div>
                            </a>
                            <p v-if="!!brandProfile.title" class="brand-title opt_item_desc">{{brandProfile.title}}</p>
                            <p class="ip-location ">IP属地：{{ !brandProfile.location ?  "未知" :brandProfile.location }}</p>
                          </div>
   

                        </div>
                        
                      </section>

                       <!-- seller experience -->
                       <section class="section-seller-experience">
                        <div class="section-header">品牌故事</div>
                        <div class="section-container">

                          <div v-for="millstone in brandProfile.experience" class="exeperince-millstone card mt-2">
                            <div class="card-header">
                              <div class="millstone-header d-flex">
                                <img :src="millstone.icon || defaultExperienceImage" @error.once="e => { e.target.src = defaultExperienceImage }">
                                <div class="inner-header d-flex flex-column mx-2">
                                  <span class="fw-semibold lh-lg mb-1">{{millstone.title}}</span>
                                  <span class="fw-normal">{{millstone.subTitle}}</span>
                                  <span class="help-text mb-2 fw-bold font-monospace date-info">{{millstone.start}} - {{ millstone.end ? millstone.end : "现在"}}</span>
                                </div>
                              </div>
                            </div>
                            <div class="card-body">
                              <ul class="timeline">
                                <li v-for="entry in millstone.entries" class="timeline-item mb-2">
                                  <h5 class="fw-bold mb-0">{{entry.title}}</h5>
                                  <p class="opt_item_desc mb-2 fw-bold date-info">{{entry.start}} - {{entry.end ? entry.end : "现在"}}</p>
                                  <p class="opt_item_desc">
                                    {{entry.story}}
                                  </p>
                                </li>
                              </ul>
                            </div>
                          </div>

                        </div>
                        
                      </section>

                       <!-- seller links -->
                    <section v-if="!isEmptyObjectV(brandProfile.links)" class="section-seller-links">
                      <div class="section-header">链接</div>
                      <div class="me-links">

                      <div v-for="link in brandProfile.links" class="me-link ms-2 py-2 ps-2">
                        <img class="link__favicon" width="24" height="24" :src="getLinkIconUrlV(link.uri)">
                        <div class="link-view-wrapper">
                           <span class="link-view-title">{{link.linkTitle}}</span>
                           <span class="link-view-url">
                            <a :href="parseLinkUriV(link.uri)" rel="nofollow" target="_blank" dir="auto" tabindex="0">
                                {{link.uri}}
                            </a>
                           </span>
                        </div>
                      </div>

                      </div>
                      
                    </section>

                     
                    <!-- seller skills -->
                    <section v-if="!isEmptyObjectV(brandProfile.skills)" class="section-seller-skills">
                      <div class="section-header">品牌词条</div>
                      <div class="me-skills">
                        <p v-for="skill in brandProfile.skills" class="fw-bold opt_item_desc ps-4"><i class="bi bi-stars"></i> <span>{{skill.entry}}</span> </p>
                      </div>
                    </section>

                    <!-- business scope -->
                    <section v-if="!!brandProfile.businessScope" class="section-seller-skills">
                      <div class="section-header">经营范围</div>
                      <div class="me-skills">
                        <p class="fw-bold opt_item_desc ps-4">{{brandProfile.businessScope}}</p>
                      </div>
                    </section>
                     




                </div>
                <div class="tab-pane fade " id="plan-tab-pane" role="tabpanel" aria-labelledby="plan-tab" tabindex="0">
                  <div class="plan-panel-header">
                    <div class="plan-panel-header-label">
                      套餐：
                    </div>
                    <div 
                      :class="{'active': displayPlan.planType==='bird' }"
                      @click="configRenderPlanV('bird')"  v-if="hasCellPlanV('bird')" class="plan-item-wrapper">
                      <div class="plan-item">
                        小鸟
                      </div>
                    </div>
                    <div 
                     :class="{'active': displayPlan.planType==='eagle' }"
                      @click="configRenderPlanV('eagle')"  v-if="hasCellPlanV('eagle')" class="plan-item-wrapper">
                      <div class="plan-item">
                        老鹰
                      </div>
                    </div>
                    <div 
                    :class="{'active': displayPlan.planType==='albatross' }"
                      @click="configRenderPlanV('albatross')"  v-if="hasCellPlanV('albatross')" class="plan-item-wrapper">
                      <div class="plan-item">
                        信天翁
                      </div>
                    </div>
                  </div>
                  <div class="plan-content-container">
                   
                   

                    <div class="plan-fast-view-block plan-block">
                      <div class="plan-content-header">
                        <p class="paragraph">
                         {{displayPlan.title}}
                        </p>
                      </div>
                      <div class="plan-content-info">
                        <p class="paragraph">
                            {{displayPlan.content}}
                        </p>
                      </div>
                    </div>

                    <div class="plan-content-feature mt-2 plan-block">
                      <div class="plan-feature-label">
                        套餐内容
                      </div>
                      <p class="paragraph">
                          {{displayPlan.feature}}
                      </p>
                    </div>

                    <div v-if="haveDiscount" class="plan-coupon-block  mt-2 plan-block">

                      <div  class="cell-coupon-label">
                        促销优惠
                      </div>
                      <div class="cell-coupon">
                        <span v-if="brandPromotionData.creditPointTag=='1' && !user_already_login" class="coupon-item">新用户体验金{{brandPromotionData.creditPoint}}元</span>
                        <span v-if="brandPromotionData.earlyBirdDiscountTag=='1' && !user_already_login"  class="ms-2 coupon-item">尝鲜神券{{brandPromotionData.earlyBirdDiscount}}%</span>
                        <span v-if="brandPromotionData.repurchaseDiscountTag=='1' && !user_already_login"  class="ms-2 coupon-item">复购尊享{{brandPromotionData.repurchaseDiscount}}%</span>
  
                        <span v-if="user_already_login && !!userPromotionBenefit.creditPoint && userPromotionBenefit.creditPoint>0" class="coupon-item">本单可用体验金{{userPromotionBenefit.creditPoint}}元</span>
                        <span v-if="brandPromotionData.earlyBirdDiscountTag=='1' && user_already_login && userPromotionBenefit.canUseEarlyBirdCoupon=='1'"  class="ms-2 coupon-item">尝鲜神券{{brandPromotionData.earlyBirdDiscount}}%</span>
                        <span v-if="brandPromotionData.repurchaseDiscountTag=='1' && user_already_login && userPromotionBenefit.canUseRepurchaseCoupon=='1'"  class="ms-2 coupon-item">复购尊享{{brandPromotionData.repurchaseDiscount}}%</span>
                        
                      </div>

                    </div>

                    <div v-if="planExpense.promotionDeduction>0"  class="plan-expense-block  mt-2 plan-block">

                      <div  class="plan-expense-label">
                        费用明细
                      </div>
  
                      <div v-if="planExpense.promotionDeduction>0">
                        <ul class="plan-expense">
                          <li><div class="d-flex justify-content-between"><div>服务费用</div><div>¥ {{planExpense.amount}}</div> </div> </li>
                          <li v-if="(!!userPromotionBenefit.creditPoint) &&  userPromotionBenefit.creditPoint>0" ><div class="d-flex justify-content-between"><div>用户体验金</div><div>- ¥ {{planExpense.promotionCreditPointDeductionDifference}}</div> </div> </li>
                          <li v-if="userPromotionBenefit.canUseRepurchaseCoupon=='1' && brandPromotionData.repurchaseDiscountTag=='1'"><div class="d-flex justify-content-between"><div>复购尊享{{brandPromotionData.repurchaseDiscount}}%</div><div>- ¥ {{planExpense.repurchaseDiscountDifference}}</div> </div> </li>
                          <li v-if="userPromotionBenefit.canUseEarlyBirdCoupon=='1' && brandPromotionData.earlyBirdDiscountTag=='1'"><div class="d-flex justify-content-between"><div>尝鲜神券{{brandPromotionData.earlyBirdDiscount}}%</div><div>- ¥ {{planExpense.earlyBirdDiscountDifference}}</div> </div> </li>
                        </ul>
                      </div>

                    </div>

                    <div class="py-4">
                      <div class="plan-content-option ">
                        <div class="price">
                          <i>￥</i>
                          <ins class="text-decoration-none">{{planExpense.total}}</ins>
                        </div>
                        <span v-if="planExpense.promotionDeduction>0" class="coupon-notice mx-2">优惠后共减{{planExpense.promotionDeduction}}元</span>
                        <s v-if="planExpense.promotionDeduction>0" class="plan-init-price"> ¥{{planExpense.amount}} </s>
                      </div>
                    </div>

                    <button type="button" @click="showOrderCellPlanFocusModalV" v-preventreclick class="btn btn-primary">购买单品</button>


                  </div>
                </div>
              </div>
        </section>
    </main>
    </content>
    <footer></footer>
    <section class="modals">

      <div class="modal-container">
              
        <!-- Modal -->
        <div class="modal fade" id="reportOasisModal" data-bs-backdrop="static" tabindex="-1">
          <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content text-color-dark">
              <div class="modal-header">
                <h1 class="modal-title fs-5">举报商品</h1>
                <button type="button"  class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body d-flex justify-content-center">
                <form class="w-100">
                  <div class="pt-3">
                    <ul class="list-group">
                      <li v-for="report in reportOptions" class="list-group-item">
                          <div class="form-check">
                          <input class="form-check-input" v-bind:value="report.itemCode"  v-model="reportForm.fraudType" type="radio" name="reportList">
                          <label class="form-check-label" for="reportList">
                              {{report.item}}
                          </label>
                          </div>
                      </li>
                    </ul>
                 </div>
    
                 <div class="py-3">
                  <div class="label-color field-label">详细描述（必填）</div>
                  <div class="inputWrapper">
                      <div class="inputMaxLength">
                          <textarea v-model="reportForm.caseDesc" type="text" placeholder="填写具体违规内容和详细描述，更容易举报成功喔~" maxlength="200" rows="3" autocorrect="off" class="inputDefault textAreaDefault" style="padding-right: 38.92px; height: 150px;"></textarea>
                          <div class="maxLength">{{ (!reportForm || !reportForm.caseDesc) ? 200 : 200-reportForm.caseDesc.length}}</div>
                      </div>
                  </div>
                  <div class="label-color field-label">图片材料提交，支持jpg、png等格式（选填）</div>
    
                  <input style="font-size: 12px;" id="caseMaterialFile" class="form-control  only-show-bottom mb-3" type="file" placeholder="选择举报材料">
    
                 </div>
    
                </form>
                
              </div>
              <div class="modal-footer btn-light">
                <button 
                :class="{'disabled': !validateReportFormV(), 
                  'btn-primary': validateReportFormV() ,
                  'btn-secondary': !validateReportFormV()  }"
                 v-preventreclick @click="newReportCaseV" type="button"  class="btn">提交</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-container">
              
        <!--Error  Modal -->
        <div  class="modal fade" id="errorModal" data-bs-backdrop="static" tabindex="-1">
          <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">

              <div class="modal-header justify-content-center">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-center">
                
                <!--begin::Alert-->
              <div class="d-flex text-center flex-column alert-info mb-5">


                <!--begin::Icon-->
                <i class="bi bi-exclamation-circle text-danger mb-2"></span><span class="path2"></span><span class="path3"></span></i>
                <!--end::Icon-->

                <!--begin::Wrapper-->
                <div class="text-center">
                    <!--begin::Title-->
                    <span class="fw-bold mb-2 modal-head">识别到异常</span>
                    <!--end::Title-->

                    <!--begin::Separator-->
                    <div class="separator separator-dashed border-danger opacity-25 mb-2"></div>
                    <!--end::Separator-->

                    <!--begin::Content-->
                    <div class="font12">
                        {{error}}
                    </div>
                    <!--end::Content-->

                    <!--begin::Buttons-->
                    <div class="d-flex justify-content-center flex-wrap pt-5">

                      <a href="/estudio/studio-shop" target="_blank" class="btn  btn-outline-dark  m-3">商城充值</a>
                      <a href="/mall/contact-us"  target="_blank" class="btn btn-dark m-3">寻求支持</a>

                    </div>
                    <!--end::Buttons-->
                </div>
                <!--end::Wrapper-->
              </div>
              <!--end::Alert-->

              </div>
              

            </div>
          </div>
        </div>
      </div>


      <div class="modal-container">
              
        <!--TopUp Fund  Modal -->
        <div  class="modal fade" id="goTopUpModal" data-bs-backdrop="static" tabindex="-1">
          <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">

              <div class="modal-header justify-content-center">
                <i class="bi bi-check-circle"></i>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body text-center">
                <div class="modal-head my-3">下单成功!</div>	
                <p>哇喔，成功下单，继续享受愉快的旅程，追寻更多发现吧！</p>
                <div class="d-flex justify-content-center flex-wrap pt-2">

                  <a href="/estudio/studio-shop" target="_blank" class="btn  btn-outline-dark  m-3">前往商城充值</a>
                  <a href="/epod/pod-millstone"  class="btn btn-dark m-3">查看履约</a>
                </div>
              </div>
              

            </div>
          </div>
        </div>
      </div>

         <!-- focus modal -->
         <div class="modal-container">
          <div class="modal fade" id="focusModal" data-bs-backdrop="static" tabindex="-1">
            <div class="modal-dialog  modal-dialog-centered modal-dialog-scrollable">
              <div class="modal-content">
                <!--begin::Alert-->
              <div class="d-flex text-center flex-column alert-info mb-5">


                <!--begin::Icon-->
                <i class="bi bi-exclamation-circle text-dark mb-2"></span><span class="path2"></span><span class="path3"></span></i>
                <!--end::Icon-->

                <!--begin::Wrapper-->
                <div class="text-center">
                    <!--begin::Title-->
                    <span class="fw-bold mb-2 modal-head">操作提示</span>
                    <!--end::Title-->

                    <!--begin::Separator-->
                    <div class="separator separator-dashed border-dark opacity-25 mb-2"></div>
                    <!--end::Separator-->

                    <!--begin::Content-->
                    <div class="font12">
                        {{focusModal.feed}}
                    </div>
                    <!--end::Content-->

                    <!--begin::Buttons-->
                    <div class="d-flex justify-content-center flex-wrap pt-5">

                        <a href="#" @click="closeOrderCellPlanFocusModalV" class="btn  btn-outline-dark btn-active-danger m-3">取消操作</a>
                        <a href="#"  v-preventreclick @click="focusModal.confirmHandler" class="btn btn-dark m-3">继续支付</a>
                    </div>
                    <!--end::Buttons-->
                </div>
                <!--end::Wrapper-->
              </div>
              <!--end::Alert-->
              </div>
            </div>
          </div>
        </div>
    </section>
   
  </mall-app>
  <section class="feedback_offcanvas" id="section_feedback_offcanvas">

    <div class="offcanvas offcanvas-end" tabindex="-1" id="feedback_offcanvas_right" aria-labelledby="feedbackOffcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="feedbackOffcanvasRightLabel">发送反馈到小蔚</h5>
        <button id="closeFeedbackOffcanvas" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form id="feedback-form">
          <div class="mt-3">
            <label for="input_issue" class="form-label">您遇到的具体问题是什么(必填,300字以内)</label>
            <textarea  rows="8" type="text" maxlength="300" class="form-control"  id="input_issue"></textarea>
          </div> 
          <div class="mt-3">
            <label class="form-label">附件图片(选填)</label>
            <div class="feedback-attachment-upload-container dropzone-wrapper">
              <img  id="lastestFeedbackAttachment" >
              <div class="dropzone-desc">
                <i class="bi bi-cloud-plus"></i>
              </div>
              <input type="file" id="input_issue_attachment"  accept="image/jpg, image/png, image/jpeg" class="dropzone">
            </div>
          </div>  
          <div class="mt-3">
            <label for="input_issue_contact" class="form-label">您的联系方式(选填)</label>
            <input id="input_issue_contact"  min="1" max="50000" step="1" type="text" class="form-control" placeholder="请留下邮箱或电话，使我们快速反馈">
          </div> 
          <button type="submit" class="btn btn-primary mt-5 w-100">提交</button>
        </form>
      </div>
    </div>

  </section>
  <script type="module" src="/common/javascripts/feedback.js"></script>

        <!-- 框架 -->
        <script  type="module" src="/common/javascripts/tm.js"></script>
        <script  type="module" src="/mall/javascripts/cell-detail.js"></script>

</body>
</html>