<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”robots” content=”index,nofollow”>
    <meta http-equiv ='content-language' content ='zh-cn'>

    <meta name="keywords" content="咘噜咓服务售后、咘噜咓支持中心">
    <meta name="description" content="咘噜咓对外通道,合作、咨询、支持和反馈建议随时与我们取得联系">
    <link rel="icon" href="https://www.bluvarri.com/favicon.png">
    <title>咘噜咓友好型客户支持随时为您提供帮助 - 咘噜咓</title>
    <script src="/common/javascripts/avif-webp.min.js"></script>
    <link rel="canonical" href="https://www.bluvarri.com/mall/contact-us" />
    <link rel="stylesheet" href="/common/stylesheets/style.scss">
    <link rel="stylesheet" href="/mall/stylesheets/contact-us.scss">

</head>
<body>
    <mall-app id="app" v-cloak>
      <div class="app-container">

        <!-- header section start -->
      <div class="header-container">
        <header>
          <nav>
            <div class="header-primary-container">

              <div class="logo-contaienr">
                <a class="logo_link" aria-current="page" href="/">
                  <img src="/common/icon/logo_blv-final-white.png" alt="logo">
                </a>
              </div>

              <ul class="nav_links">
                <li class="nav_link">
                  <a  href="/home">
                    <span>
                      心选商店
                    </span> 
                  </a>
                </li>
                <li class="nav_link">
                  <a  href="/estudio/studio-store" > 
                    <span>
                      薪动工作室
                    </span>
                  </a>
                </li>
                <li class="nav_link">
                  <a  href="/epod/pod-millstone" > 
                    <span>
                      我的定制
                    </span>
                  </a>
                </li>
              
              </ul>


            </div>
            
            <div class="appButton">

              <a v-if="!user_already_login" class="btn btn-outline-dark button_login text-white" href="/login">
                登录
              </a>
              <a v-if="!user_already_login" href="/signup" class="btn btn-primary join-now button_register text-white">注册</a>

              <div v-if="user_already_login" class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle button_user brand-avatar" data-bs-toggle="dropdown" aria-expanded="false">
                  <img  :src="adaptiveImageUriV(getIdentity().avatar)  || defaultAvatarImage" @error.once="e => { e.target.src = defaultAvatarImage }">
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a href="/estudio/studio-setting-profile">
                      <button class="dropdown-item" type="button">
                        <i class="bi bi-person-vcard me-1"></i> 品牌形象
                       </button>
                    </a>
                  </li>
                  <li>
                      <button id="logout-btn" @click="logout()" class="dropdown-item" type="button">   
                        <i class="bi bi-box-arrow-right me-1"></i> 退出登录 
                      </button>
                  </li>
                  <li>
                    <a href="/mall/delete-account">
                      <button class="dropdown-item" type="button">
                        <i class="bi bi-trash3 me-1"></i> 删除账号
                       </button>
                    </a>
                  </li>
                  <li>
                    <button class="dropdown-item" type="button" data-bs-toggle="offcanvas" data-bs-target="#feedback_offcanvas_right" aria-controls="feedback_offcanvas_right">
                      <i class="bi bi-flag me-1"></i> 反馈
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

        </header>
      </div>
       <!-- header section end -->


        <content>
          <main class="content-main">
              <div class="container text-center">
                  <div class="row" id="interface-content">
                      <div class="col-sm-8 col-sm-offset-2">
                          <h1>
                              联系我们
                          </h1>
                          <p class="mt-4" style="text-align: left;">
                              对群巅产品、技术支持、合作等有任何问题，请通过这些渠道随时与我们联系, 同时，如果你对我们的产品有任何建议， 也真诚欢迎与我们互动。     
                          </p>
                      </div>
                      <div class="col-sm-6 col-sm-offset-3 mt-3 pr-channel" >
                          <div class="email-address-title text-start">
                              <p class="mb-2">
                                  邮箱地址:
                              </p>
                          </div>
                          <div style="width: 100%; padding:16px;text-align:center;background:#1a1a1a;border-radius:4px;font-weight:600;font-size:24px;line-height:140%;color:#9373ee;">seven_norm@163.com</div>
                      </div>
                     
                  </div>
                  <div class="col-sm-6 col-sm-offset-3  mt-3 pr-channel" >
                    <div class="email-address-title text-start">
                      <p class="mb-0">
                        微信添加小助手:
                      </p>
                      <span class="help-text" style="font-size: 14px;">
                          为更好服务用户，添加小助手需备注：云吞面
                      </span>
                    </div>
                    <div style="padding:16px;text-align:center;border-radius:4px; display: flex; justify-content: center;">
                      <div class="weixin-contact-wrapper">
                        <img src="https://d13-content.oss-cn-hangzhou.aliyuncs.com/common/image/support_team.jpg" alt="qundian support weixin contact">
                      </div>
                    </div>
                  </div>
                
              </div>
          </main>

        </content>

      </div>
        
          
    </mall-app>
    <footer>
      <div class="copyright-container">
        <div class="copyright">
          <span>
            <span>
              <span>©2025 上海群巅科技有限公司&nbsp;</span>
              <span class="icp">
                <a rel="nofollow" class="nav-link" href="https://beian.miit.gov.cn/" target="_blank">沪ICP备2022021979号</a>
              </span>
            </span>
            <div class="line"></div>
          </span>
          <ul class="footer-nav">
            <li>
              <a class="nav-link" href="/mall/contact-us">联系我们</a>
            </li>
            <li>
              <a class="nav-link" href="/mall/legal">法律声明</a>
            </li>
            <li>
              <a class="nav-link" href="/mall/privacy-policy">隐私政策</a>
            </li>
          </ul>
        </div>
      </div>
    </footer>
    <section class="feedback_offcanvas" id="section_feedback_offcanvas">

      <div class="offcanvas offcanvas-end" tabindex="-1" id="feedback_offcanvas_right" aria-labelledby="feedbackOffcanvasRightLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="feedbackOffcanvasRightLabel">发送反馈到小咘</h5>
          <button id="closeFeedbackOffcanvas" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <form id="feedback-form">
            <div class="mt-3">
              <label for="input_issue" class="form-label">您遇到的具体问题是什么(必填,300字以内)</label>
              <textarea  rows="8" type="text" maxlength="300" class="form-control"  id="input_issue"></textarea>
            </div> 
            <div class="mt-3">
              <label class="form-label">附件图片(选填)</label>
              <div class="feedback-attachment-upload-container dropzone-wrapper">
                <img  id="lastestFeedbackAttachment" >
                <div class="dropzone-desc">
                  <i class="bi bi-cloud-plus"></i>
                </div>
                <input type="file" id="input_issue_attachment"  accept="image/jpg, image/png, image/jpeg" class="dropzone">
              </div>
            </div>  
            <div class="mt-3">
              <label for="input_issue_contact" class="form-label">您的联系方式(选填)</label>
              <input id="input_issue_contact"  min="1" max="50000" step="1" type="text" class="form-control" placeholder="请留下邮箱或电话，使我们快速反馈">
            </div> 
            <button type="submit" class="btn btn-primary mt-5 w-100">提交</button>
          </form>
        </div>
      </div>
  
    </section>
    <script type="module" src="/common/javascripts/feedback.js"></script>
    <script type="module" src="/common/javascripts/tm.js"></script>
    <script type="module" src="/mall/javascripts/contact-us.js"></script>

</body>
</html>