<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/common/javascripts/avif-webp.min.js"></script>

    <meta name=”robots” content=”index,follow”>
    <meta http-equiv ='content-language' content ='zh-cn'>

    <link rel="icon" href="https://www.bluvarri.com/favicon.png">
    <title>无形有价，你的世界由你定义 - 虚拟商品</title>
    <meta name="description" content="想买什么就买什么。在线课程、数字下载、会员、IP、游戏道具，或其他任何数字产品，班蔚 让一切变得简单。">

    <link rel="stylesheet" href="/common/stylesheets/style.scss">

    <link rel="stylesheet" href="/mall/stylesheets/virtual.scss">
</head>

<body>
  <mall-app id="app" v-cloak>
    <div class="app-container">

      <!-- header section start -->
      <div class="header-container">
        <header>
          <nav>
            <div class="header-primary-container">

              <div class="logo-contaienr">
                <a href="/mall/gig-economy" class="logo_link" >
                  <div class="d-flex align-items-center logo">
                    <img src="/common/icon/logo_blv-final-white.png" alt="logo">
                    <span class="mb-0 ms-2">心选商店</span>
                  </div>
                </a>
              </div>


            </div>
            
            <div class="appButton">

              <div class="btn-group" style="margin-right: 8px;" >
          
                <button type="button" class="btn entry-nav" data-bs-toggle="dropdown" aria-expanded="false" >
                  <div class="tooltip-nav" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-trigger="hover" data-bs-placement="bottom" data-bs-title="传送">
                    <i class="bi bi-map"></i>                 
                  </div>
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a href="/">
                      <button class="dropdown-item" type="button">
                        <img class="forward-icon me-2" src="/common/icon/logo_blv-final-black.png" alt="blv-logo"> 主站首页
                       </button>
                    </a>
                  </li>
                  <li>
                    <a href="/rainbow/teixcalaanli">
                      <button class="dropdown-item" type="button">
                        <i class="bi bi-rainbow me-2"></i> 彩虹部落
                       </button>
                    </a>
                  </li>
                  <li>
                    <a href="/mall/gig-economy">
                      <button class="dropdown-item" type="button">
                        <i class="bi bi-bag-heart me-2"></i> 心选商店
                       </button>
                    </a>
                  </li>
                  <li>
                    <a href="/estudio/studio-dashboard">
                      <button class="dropdown-item" type="button"><i class="bi bi-laptop me-2"></i> 薪动商号 </button>
                    </a>
                  </li>
                  <li>
                    <a href="/affiliate/dashboard">
                      <button class="dropdown-item" type="button" >
                        <i class="bi bi-megaphone me-2"></i> 带货中心
                       </button>
                    </a>
                  </li>
                  
                  <li>
                    <a href="/epod/pod-packages-order">
                      <button class="dropdown-item" type="button" >
                        <i class="bi bi-tags me-2"></i> 奇迹工坊
                       </button>
                    </a>
                  </li>
                </ul>
    
              </div>

              <a v-if="!user_already_login" class="btn btn-outline-dark button_login" href="/login">
                登录
              </a>
              <a v-if="!user_already_login" href="/signup" class="btn btn-primary join-now button_register text-white">注册</a>

              <div v-if="user_already_login" class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle button_user brand-avatar" data-bs-toggle="dropdown" aria-expanded="false">
                  <img  :src="adaptiveImageUriV(getIdentity().avatar)  || defaultAvatarImage" @error.once="e => { e.target.src = defaultAvatarImage }">
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a href="/estudio/studio-setting-profile">
                      <button class="dropdown-item" type="button">
                        <i class="bi bi-person-vcard me-1"></i> 品牌形象
                       </button>
                    </a>
                  </li>
                  <li>
                      <button id="logout-btn" @click="logout()" class="dropdown-item" type="button">   
                        <i class="bi bi-box-arrow-right me-1"></i> 退出登录 
                      </button>
                  </li>
                  <li>
                    <a href="/mall/delete-account">
                      <button class="dropdown-item" type="button">
                        <i class="bi bi-trash3 me-1"></i> 删除账号
                       </button>
                    </a>
                  </li>
                  <li>
                    <button class="dropdown-item" type="button" data-bs-toggle="offcanvas" data-bs-target="#feedback_offcanvas_right" aria-controls="feedback_offcanvas_right">
                      <i class="bi bi-flag me-1"></i> 反馈
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

        </header>
      </div>
       <!-- header section end -->
      
      <!-- top search start-->
      <div class="search-container">
        <top-search class="section-top-serach">
  
          <div class="input-search-wrapper">
           
            <div class="input-search-area">
              <div class="d-flex">
                <input @keyup.enter.native="retrieveCellProductGridV" v-model="virtual_pagination.param.q" class="form-control top-search-input" type="text" placeholder="搜会员、藏品" aria-label="Search">
                <div class="search-btn-container">
                  <button v-preventreclick @click="retrieveCellProductGridV" class="btn btn-outline-secondary" type="button">
                    <i class="bi bi-search"></i>
                  </button>
                </div>
              </div>
            </div>

            <div class="location-container ms-2 d-flex align-items-center ">
              
              <div class="dropdown">
                <button type="button" class="btn dropdown-toggle d-flex align-items-center local-input-btn" data-bs-toggle="dropdown" aria-expanded="false" >
                  <i class="bi bi-geo-alt-fill"></i>
                  <span class="ms-1 local-city">{{!currentLocalCity ? '中国大陆' : currentLocalCity}}</span> 
                </button>
                <form class="dropdown-menu p-4 location-select-form" onsubmit="return false">
                  <div class="mb-3">
                    <label for="localCity" class="form-label">城市</label>
                    <input v-model="virtual_pagination.param.location" type="text" class="form-control" id="localCity">
                  </div>
                  <button v-preventreclick @click="retrieveCellProductGridV"  type="submit" id="btn_local_confirm" class="btn btn-dark">确定</button>
                </form>
              </div>

            </div>

          </div>

          <div class="s_type_wrapper">
  
            <div class="s_type">
              <a href="/mall/gig-economy">
                <i class="bi bi-calendar3"></i>
                <span class="ms-1">特约</span>
              </a>
            </div>
            <div class="s_type  ms-3">
              <a href="/mall/packages-economy">
                <i class="bi bi-box"></i>
                <span class="ms-1">单品</span>
              </a>
            </div>
            <div class="s_type active ms-3">
              <i class="bi bi-badge-vr"></i>
              <span class="ms-1">虚拟商品</span>
            </div>
  
          </div>
        </top-search>
      </div>
       <!-- top search end-->
      
      <content>
        <div id="section_filter_wrapper" class="topbar-wrapper">
          <section  class="section-filter">
            <div class="top-bar d-flex flex-row justify-content-between">
              <div class="dropdown ">
                <button class="btn dropdown-toggle top-bar-filter-budget" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  筛选
                </button>
                <form class="dropdown-menu  p-4 budget-filter-form" onsubmit="return false">
                  <div class="row g-3">
                    <div class="col-6 input-wrapper">
                      <label for="input_budget_min" class="form-label">最小预算</label>
                      <input v-model="virtual_pagination.param.budgetMin" type="text" min="1" max="50000" step="1" class="form-control" id="input_budget_min" @input="transformInputNumberV($event)">
                      <i>￥</i>
                    </div>
                    <div class="col-6 input-wrapper">
                      <label for="input_budget_max" class="form-label">最大预算</label>
                      <input  v-model="virtual_pagination.param.budgetMax" type="text" min="1" max="50000" step="1" class="form-control" id="input_budget_max" @input="transformInputNumberV($event)">
                      <i>￥</i>
                    </div>
                  </div>
                  <div class="row g-3 pb-4">
                    <div class="col-6">
                      <div class="form-check">
                        <label for="input_online" class="form-check-label">仅显示在线品牌</label>
                        <input v-model="virtual_pagination.param.online" type="checkbox" class="form-check-input"  id="input_online">
                      </div>
                    </div>
                  </div>
                  
                  <button id="btn_budget_confirm" @click="filterCellProductGridV" type="submit" class="btn btn-dark">确定</button>
                </form>
              </div>
              <div class="select-container row gx-0">
                <div class="col ms-1">
                  <select @change="filterCellProductGridV" v-model="virtual_pagination.param.sort" class="form-select sort-by">
                    <option value="">排序</option>
                    <option value="1">最新发布</option>
                    <option value="2">价格降序</option>
                    <option value="3">价格升序</option>
                  </select>
                </div>
              </div>
              
            </div>  
          </section>
        </div>
        <main>                    
                <!-- service grid -->
                <section class="section-service-grid">
                  <!-- service top bar -->
                
                  <div v-show="isEmptyObjV(virtual_pagination.records)" class="service_not_found_container">
                    <div class="service_not_found_illustration">
                      <img src="https://d13-content.oss-cn-hangzhou.aliyuncs.com/common/image/not-found-result.png" alt="bluvarri-service-not-found">
                    </div>
                    <div class="service_not_found_description">
                      <p class="sorry">抱歉，未找到商品</p>
                      <p class="sub_command">尝试新搜索或告诉我们你的需要,另外,你也可以前往商单助手发布需求</p>
                    </div>
                    <div class="service_not_found_option mt-2">
  
                      <button type="button" class="btn btn-outline-primary" data-bs-toggle="offcanvas" data-bs-target="#user_need_feedback_offcanvas_right" aria-controls="user_need_feedback_offcanvas_right">
                        告诉我们
                      </button>
  
                      <a  class="btn btn-primary ms-4" href="/estudio/studio-mps">
                        发布需求
                      </a>
  
  
                    </div>
  
                   </div> 
                  
                 
                  <div id="div_gri_panel" 
                    class="row g-2 g-md-3  row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 row-cols-xxl-6">
                    <div v-for="item in virtual_pagination.records" class="col cell-col">
                      <div class="cell-item">
                        <div class="card border-0">
                          <div class="cell-thumbnail-box">
                            <a target="_blank" :href="'/mall/virtual/'+item.productId + '?brand_id=' + item.brandId "  class="url-link">
                              <img :src="adaptiveImageUriV(item.thumbnailUrl) || defaultCellPreviewImage" class="card-img-top cell-thumbnail" alt="..." @error.once="e => { e.target.src = defaultCellPreviewImage }">
                            </a>

                            <div class="cell-meta-box">
                              <div class="cell-meta__stats">
                                <span v-if="!!item.views" class="cell-meta__stats--item">
                                  <i class="bi bi-eye-fill"></i>
                                  <span class="cell-meta__stats--text">
                                    {{formatCmpctNumberV(item.views)}}
                                  </span>
                                </span>
                                <span v-if="!!item.salesVolume" class="cell-meta__stats--item">
                                  <i class="bi bi-cart4"></i>
                                  <span class="cell-meta__stats--text">
                                    {{formatCmpctNumberV(item.salesVolume)}}
                                  </span>
                                </span>
                              </div>
                            </div>

                          </div>
                      
                   
                          <div class="card-body">
                            <div class="d-flex portrait align-items-center">
                              <div class="brand-logo-container">
                                <img class="service-brand" :src="adaptiveImageUriV(item.avatar) || defaultAvatarImage" @error.once="e => { e.target.src = defaultAvatarImage }">
                                <div v-if="item.brandMark=='3'" class="online-indicator">
                                  <div class="online-indicator-content">
                                  </div>
                                </div>
                              </div>
                              <h6 class="service-brand-name ms-1 my-0">{{item.brand}}</h6>
                            </div>
                            <p class="card-text mt-2">
                              <a target="_blank" :href="'/mall/virtual/'+item.productId + '?brand_id=' + item.brandId " class="url-link">
                                {{item.productName}}
                              </a>
                            </p>
                          </div>
                          <div class="card-footer d-flex align-items-center justify-content-between card-footer-highlight">
                            <span class="vip-award"
                              :class="{'enable-blue': Number(item.enableBlue)}">
                              <i class="bi bi-award-fill"></i>
                            </span>
                            <div class="price">
                              <i>￥</i>
                              <ins class="text-decoration-none price-txt">{{item.productPrice}}</ins>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>

                  <div  v-show="virtual_pagination.pages > virtual_pagination.current"  class="show-more-row">
                    <button v-preventreclick @click="showMoreCellProductV" type="button" class="btn btn-show-more"> 显示更多 </button>
                  </div>

                </section>
              </main>
      </content>
    </div>
   
  </mall-app>
  <section class="feedback_offcanvas" id="section_feedback_offcanvas">

    <div class="offcanvas offcanvas-end" tabindex="-1" id="feedback_offcanvas_right" aria-labelledby="feedbackOffcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="feedbackOffcanvasRightLabel">发送反馈到小蔚</h5>
        <button id="closeFeedbackOffcanvas" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form id="feedback-form">
          <div class="mt-3">
            <label for="input_issue" class="form-label">您遇到的具体问题是什么(必填,300字以内)</label>
            <textarea  rows="8" type="text" maxlength="300" class="form-control"  id="input_issue"></textarea>
          </div> 
          <div class="mt-3">
            <label class="form-label">附件图片(选填)</label>
            <div class="feedback-attachment-upload-container dropzone-wrapper">
              <img  id="lastestFeedbackAttachment" >
              <div class="dropzone-desc">
                <i class="bi bi-cloud-plus"></i>
              </div>
              <input type="file" id="input_issue_attachment"  accept="image/jpg, image/png, image/jpeg" class="dropzone">
            </div>
          </div>  
          <div class="mt-3">
            <label for="input_issue_contact" class="form-label">您的联系方式(选填)</label>
            <input id="input_issue_contact"  min="1" max="50000" step="1" type="text" class="form-control" placeholder="请留下邮箱或电话，使我们快速反馈">
          </div> 
          <button type="submit" class="btn btn-primary mt-5 w-100">提交</button>
        </form>
      </div>
    </div>

  </section>
  <section class="user_needs_feedback_offcanvas" id="section_user_need_feedback_offcanvas">

    <div class="offcanvas offcanvas-end" tabindex="-1" id="user_need_feedback_offcanvas_right" aria-labelledby="userNeedFeedbackOffcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="userNeedFeedbackOffcanvasRightLabel">告诉我们您的需要</h5>
        <button id="closeUserNeedFeedbackOffcanvas" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form id="user-need-feedback-form">
          <div class="mt-3">
            <label for="input_need_description" class="form-label">您的需求是什么？(必填,300字以内)</label>
            <textarea  rows="8" type="text" maxlength="300" class="form-control"  id="input_need_description"></textarea>
          </div>
          <div class="mt-3">
            <label for="input_need_budget" class="form-label">预算上限(选填)</label>
            <input id="input_need_budget"  min="1" max="50000" step="1" type="text" class="form-control">
          </div> 
          <div class="mt-3 mb-2">
            <label for="input_need_contact" class="form-label">您的联系方式(选填)</label>
            <input id="input_need_contact"  maxlength="300" type="text" class="form-control" placeholder="请留下邮箱或电话，使我们快速反馈">
          </div> 
          
          <button type="submit" class="btn btn-primary mt-5 w-100">提交</button>
        </form>
      </div>
    </div>

  </section>
  <script type="module" src="/common/javascripts/feedback.js"></script>
  <script type="module" src="/common/javascripts/user_need_story.js"></script>


  <script type="module" src="/common/javascripts/tm.js"></script>
  <script type="module" src="/mall/javascripts/virtual.js"></script>


</body>
</html>