header{
    z-index: 1035;
  }
.content-wrapper{
    padding: 80px 24px;
    height: auto;
}
.core-data-block{
    padding: 16px;
    background-color: #161616;
    border-radius: 10px;
}
.core-data-block .heading{
    padding-bottom: 32px;
}
.pannel-container{
    background-color: #0f0f0f;
    width: 100%;
    border-radius: 10px;
    padding: 12px;
}
.data-span {
    padding-bottom: 24px;
}
.data-label{
    color: #87888C;
    font-size: 12px;
    padding-bottom: 8px;
}
.pannel-container .data{
    padding: 8px 0;
    font-size: large;
    font-weight: bold;
}
.data-span .btn{
    margin-left: 12px;
}

.time-span .btn{
    height: 24px;
    /* line-height: 32px; */
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    padding: 4px 12px;
}
.time-span .btn:first-child{
    margin-left: 0;
}
.data-content{
    height: 72px;
    padding-top: 6px;
}
.empty-content-block{
    width: 100%;
    height: 240px;
    font-size: 12px;
    background-color: unset;
}
table{
    font-size: 12px;
}
tbody tr{
    height: unset;
}
.ellipsis-2 {
    -webkit-line-clamp: 2;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}
.col-brand,.col-product,.col-chn{
    min-width: 320px;
    width: 20%;
}

@media (max-width: 1199.98px){
    table{
        min-width: 1000px;
    }
}
@media (max-width: 576px) {
    .content-wrapper{
        padding: 40px 12px;
        padding-bottom: 140px; // moblie browser bootom
    }
}
