<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="/common/javascripts/avif-webp.min.js"></script>


    <meta name=”robots” content=”index,follow”>
    <meta http-equiv ='content-language' content ='zh-cn'>

    <link rel="icon" href="https://www.bluvarri.com/favicon.png">
    <title>看遍全球、比较价格、 预约服务 & 分步交付  - 咘噜咓特约</title>
    <meta name="description" content="浏览咘噜咓全球特约，查找你正在寻找的服务，比较价格，预约服务，敲定服务内容，分阶段交付。">


    <link rel="stylesheet" href="common/stylesheets/style.scss">

    <link rel="stylesheet" href="mall/stylesheets/home.scss">
</head>

<body>
  <mall-app id="app" v-cloak>
    <div class="app-container">

      <!-- header section start -->
      <div class="header-container">
        <header>
          <nav>
            <div class="header-primary-container">

              <div class="logo-contaienr">
                <a class="logo_link" aria-current="page" href="/">
                  <img src="/common/icon/logo_blv-final-white.png" alt="logo">
                </a>
              </div>

              <ul class="nav_links">
                <li class="nav_link active">
                  <a  href="#">
                    <span>
                      心选商店
                    </span> 
                  </a>
                </li>
                <li class="nav_link">
                  <a  href="estudio/studio-store"  data-bs-custom-class="custom-popover" data-bs-placement="bottom" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-content="服务商业务区，快快乐乐工作，领取美美的薪水，薪动即行动，来上线你的第一个服务吧~"> 
                    <span>
                      薪动工作室
                    </span>
                  </a>
                </li>
                <li class="nav_link">
                  <a  href="epod/pod-millstone"  data-bs-custom-class="custom-popover" data-bs-placement="bottom" data-bs-trigger="hover" data-bs-toggle="popover" data-bs-content="消费者服务区，你购买到的服务甚至账单，都在这里面喔~"> 
                    <span>
                      我的定制
                    </span>
                  </a>
                </li>
              
              </ul>


            </div>
            
            <div class="appButton">

              <a v-if="!user_already_login" class="btn btn-outline-dark button_login text-white" href="/login">
                登录
              </a>
              <a v-if="!user_already_login" href="/signup" class="btn btn-primary join-now button_register text-white">注册</a>

              <div v-if="user_already_login" class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle button_user brand-avatar" data-bs-toggle="dropdown" aria-expanded="false">
                  <img  :src="adaptiveImageUriV(getIdentity().avatar)  || defaultAvatarImage" @error.once="e => { e.target.src = defaultAvatarImage }">
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a href="/estudio/studio-setting-profile">
                      <button class="dropdown-item" type="button">
                        <i class="bi bi-person-vcard me-1"></i> 品牌形象
                       </button>
                    </a>
                  </li>
                  <li>
                      <button id="logout-btn" @click="logout()" class="dropdown-item" type="button">   
                        <i class="bi bi-box-arrow-right me-1"></i> 退出登录 
                      </button>
                  </li>
                  <li>
                    <a href="/mall/delete-account">
                      <button class="dropdown-item" type="button">
                        <i class="bi bi-trash3 me-1"></i> 删除账号
                       </button>
                    </a>
                  </li>
                  <li>
                    <button class="dropdown-item" type="button" data-bs-toggle="offcanvas" data-bs-target="#feedback_offcanvas_right" aria-controls="feedback_offcanvas_right">
                      <i class="bi bi-flag me-1"></i> 反馈
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

        </header>
      </div>
       <!-- header section end -->

       <!-- mobile  nav start -->
       <div class="mobile-nav-container">
        <ul class="nav_links">
          <li class="nav_link active">
            <a  href="#">
              <span>心选商店</span> 
            </a>
          </li>
          <li class="nav_link">
            <a  href="estudio/studio-store" > 
              <span>
                薪动工作室
              </span>
            </a>
          </li>
          <li class="nav_link">
            <a  href="epod/pod-millstone"  > 
              <span>
                我的定制
              </span>
            </a>
          </li>
        
        </ul>

       </div>

       <!-- mobile nav end -->

      <!-- top search start -->

      <div class="search-container">
        <top-search class="section-top-serach">

          <div class="input-search-wrapper">
           
            <div class="input-search-area">
              <div class="d-flex">
                <input @keyup.enter.native="retrieveCellGridV" v-model="cellgrid_pagination.param.q" class="form-control top-search-input" type="text" placeholder="搜索服务" aria-label="Search">
                <div class="search-btn-container">
                  <button v-preventreclick @click="retrieveCellGridV" class="btn btn-outline-secondary" type="button">
                    <i class="bi bi-search"></i>
                  </button>
                </div>
              </div>
            </div>
      
            <div class="location-container ms-2 d-flex align-items-center ">
              
              <div class="dropdown">
                <button type="button" class="btn dropdown-toggle d-flex align-items-center local-input-btn" data-bs-toggle="dropdown" aria-expanded="false" >
                  <i class="bi bi-geo-alt-fill"></i>
                  <span class="ms-1 local-city">{{!currentLocalCity ? '中国大陆' : currentLocalCity}}</span> 
                </button>
                <form class="dropdown-menu p-4 location-select-form" onsubmit="return false">
                  <div class="mb-3">
                    <label for="localCity" class="form-label">城市</label>
                    <input v-model="cellgrid_pagination.param.location" type="text" class="form-control" id="localCity">
                  </div>
                  <button v-preventreclick @click="retrieveCellGridV"  type="submit" id="btn_local_confirm" class="btn btn-dark">确定</button>
                </form>
              </div>

            </div>
          </div>
          <div class="s_type_wrapper">
            <div class="s_type active">
              <i class="bi bi-calendar3"></i>
              <span class="ms-1">特约</span>
            </div>
            <div class="s_type ms-5">
              <a href="/mall/mall-plan">
                <i class="bi bi-box"></i>
                <span class="ms-1">单品</span>
              </a>
            </div>
    
  
          </div>
        </top-search>
      </div>

    <!-- top search end -->

      
      <content>
        <div id="section_filter_wrapper" class="topbar-wrapper">
          <section  class="section-filter">
            <div class="top-bar d-flex justify-content-between">
              <div class="dropdown ">
                <button class="btn dropdown-toggle top-bar-filter-budget" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  筛选
                </button>
                <form class="dropdown-menu  p-4 budget-filter-form" onsubmit="return false">
                  <div class="row g-3">
                    <div class="col-6 input-wrapper">
                      <label for="input_budget_min" class="form-label">最小预算</label>
                      <input v-model="cellgrid_pagination.param.budgetMin" type="text" min="1" max="50000" step="1" class="form-control" id="input_budget_min" @input="transformInputNumberV($event)">
                      <i>￥</i>
                    </div>
                    <div class="col-6 input-wrapper">
                      <label for="input_budget_max" class="form-label">最大预算</label>
                      <input  v-model="cellgrid_pagination.param.budgetMax" type="text" min="1" max="50000" step="1" class="form-control" id="input_budget_max" @input="transformInputNumberV($event)">
                      <i>￥</i>
                    </div>
                  </div>
                  <div class="row g-3 pb-4">
                    <div class="col-6">
                      <div class="form-check">
                        <label for="input_online" class="form-check-label">仅显示在线品牌</label>
                        <input v-model="cellgrid_pagination.param.online" type="checkbox" class="form-check-input"  id="input_online">
                      </div>
                    </div>
                  </div>
                  
                  <button id="btn_budget_confirm" @click="filterCellGridV" type="submit" class="btn btn-dark">确定</button>
                </form>
              </div>
              <div class="select-container row gx-0">
                <div class="col">
                  <select @change="filterCellGridV" v-model="input_sbu" class="form-select sbu-option">
                    <option value="">标准收费单元</option>
                    <option value="second">秒</option>
                    <option value="minute">分钟</option>
                    <option value="hour">小时</option>
                    <option value="day">天</option>
                    <option value="week">周</option>
                    <option value="month">月</option>
                    <option value="quarter">季度</option>
                    <option value="year">年</option>
                  </select>
                </div>
                <div class="col ms-1">
                  <select @change="filterCellGridV" v-model="cellgrid_pagination.param.sort" class="form-select sort-by">
                    <option value="">排序</option>
                    <option value="1">最新发布</option>
                    <option value="2">价格降序</option>
                    <option value="3">价格升序</option>
                  </select>
                </div>
              </div>
              
            </div>  
          </section>
        </div>
        <main>                    
                      <!-- service grid -->
          
                <section class="section-service-grid">
                  <!-- service top bar -->
                
                 <div v-show="isEmptyObjV(cellgrid_pagination.records)" class="service_not_found_container">
                  <div class="service_not_found_illustration">
                    <img src="https://d13-content.oss-cn-hangzhou.aliyuncs.com/common/image/service-not-found-6x4.png" alt="bluvarri-service-not-found">
                  </div>
                  <div class="service_not_found_description">
                    <p class="sorry">抱歉，我们未搜索到相关服务</p>
                    <p class="sub_command">尝试新搜索或告诉我们你的需要,当然,你也可以前往合约助手发布需求</p>
                  </div>
                  <div class="service_not_found_option mt-2">

                    <button type="button" class="btn btn-outline-primary" data-bs-toggle="offcanvas" data-bs-target="#user_need_feedback_offcanvas_right" aria-controls="user_need_feedback_offcanvas_right">
                      告诉我们
                    </button>

                    <a  class="btn btn-primary ms-4" href="/estudio/studio-mps">
                      发布需求
                    </a>


                  </div>

                 </div> 
                 
                  <div id="div_gri_panel" 
                    class="row g-2 g-md-3  row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-5">
                    <div v-for="cell in cellgrid_pagination.records" class="col cell-col">
                      <div class="cell-item">
                        <div class="card border-0">
                          <a :href="'/mall/cell-detail?cell_id='+cell.id + '&brand_id=' + cell.brandId " class="url-link">
                            <img loading="lazy" :src="adaptiveImageUriV(cell.preview) || defaultCellPreviewImage" class="card-img-top cell-thumbnail" alt="..." @error.once="e => { e.target.src = defaultCellPreviewImage }">
                          </a>
                          <div class="card-body">
                            <div class="d-flex portrait align-items-center">
                              <div class="brand-logo-container">
                                <img loading="lazy" class="service-brand" :src="adaptiveImageUriV(cell.avator) || defaultAvatarImage" @error.once="e => { e.target.src = defaultAvatarImage }">
                                <div v-if="cell.brandMark=='3'" class="online-indicator">
                                  <div class="online-indicator-content">
                                  </div>
                                </div>
                              </div>
                              <h6 class="service-brand-name ms-2 my-0">{{cell.brand}}</h6>
                            </div>
                            <p class="card-text mt-2">
                              <a :href="'/mall/cell-detail?cell_id='+cell.id + '&brand_id=' + cell.brandId " class="url-link">
                                {{cell.title}}
                              </a>
                            </p>
                          </div>
                          <div class="card-footer d-flex align-items-center justify-content-between card-footer-highlight">
                            <span class="vip-award"
                              :class="{'enable-blue': Number(cell.enableBlue)}">
                              <i class="bi bi-award-fill"></i>
                            </span>
                            <div class="price">
                              <i>￥</i>
                              <ins class="text-decoration-none price-txt">{{cell.price}}</ins>
                              <div class="line">
                              </div>
                              <span class="price-sbu">
                                {{ transformSbuV(cell.sbu) }}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  <nav v-if="!!paging" aria-label="Page navigation" class="millstone-pagination mt-3">
                    <ul class="pagination pagination-lg pagination-dark  border-0">
                      <li class="page-item" @click="pagePre(cellgrid_pagination)">
                        <a class="page-link"  aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                        </a>
                      </li>
                      <li class="page-item"  v-for="page in paging.items" :class="{'current-page-active': paging.current == page}" 
                            @click="pageGo(cellgrid_pagination,page)"><a class="page-link">{{page}}</a></li>
                      <li class="page-item" @click="pageNext(cellgrid_pagination)">
                        <a class="page-link" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </section>
              </main>
      </content>
    </div>
   
  </mall-app>
  <footer>
    <div class="copyright-container">
      <div class="copyright">
        <span>
          <span>
            <span>©2024 上海群巅科技有限公司&nbsp;</span>
            <span class="icp">
              <a rel="nofollow" class="nav-link" href="https://beian.miit.gov.cn/" target="_blank">沪ICP备2022021979号</a>
            </span>
          </span>
          <div class="line"></div>
        </span>
        <ul class="footer-nav">
          <li>
            <a class="nav-link" href="/mall/contact-us">联系我们</a>
          </li>
          <li>
            <a class="nav-link" href="/mall/legal">法律声明</a>
          </li>
          <li>
            <a class="nav-link" href="/mall/privacy-policy">隐私政策</a>
          </li>
        </ul>
      </div>
  </div>
  </footer>
  <section class="feedback_offcanvas" id="section_feedback_offcanvas">

    <div class="offcanvas offcanvas-end" tabindex="-1" id="feedback_offcanvas_right" aria-labelledby="feedbackOffcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="feedbackOffcanvasRightLabel">发送反馈到Bluvarri</h5>
        <button id="closeFeedbackOffcanvas" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form id="feedback-form">
          <div class="mt-3">
            <label for="input_issue" class="form-label">您遇到的具体问题是什么(必填,300字以内)</label>
            <textarea  rows="8" type="text" maxlength="300" class="form-control"  id="input_issue"></textarea>
          </div> 
          <div class="mt-3">
            <label class="form-label">附件图片(选填)</label>
            <div class="feedback-attachment-upload-container dropzone-wrapper">
              <img  id="lastestFeedbackAttachment" >
              <div class="dropzone-desc">
                <i class="bi bi-cloud-plus"></i>
              </div>
              <input type="file" id="input_issue_attachment"  accept="image/jpg, image/png, image/jpeg" class="dropzone">
            </div>
          </div>  
          <div class="mt-3">
            <label for="input_issue_contact" class="form-label">您的联系方式(选填)</label>
            <input id="input_issue_contact"  min="1" max="50000" step="1" type="text" class="form-control" placeholder="请留下邮箱或电话，使我们快速反馈">
          </div> 
          <button type="submit" class="btn btn-primary mt-5 w-100">提交</button>
        </form>
      </div>
    </div>

  </section>
  <section class="user_needs_feedback_offcanvas" id="section_user_need_feedback_offcanvas">

    <div class="offcanvas offcanvas-end" tabindex="-1" id="user_need_feedback_offcanvas_right" aria-labelledby="userNeedFeedbackOffcanvasRightLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="userNeedFeedbackOffcanvasRightLabel">告诉我们您的需要</h5>
        <button id="closeUserNeedFeedbackOffcanvas" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <form id="user-need-feedback-form">
          <div class="mt-3">
            <label for="input_need_description" class="form-label">您的需求是什么？(必填,300字以内)</label>
            <textarea  rows="8" type="text" maxlength="300" class="form-control"  id="input_need_description"></textarea>
          </div>
          <div class="mt-3">
            <label for="input_need_budget" class="form-label">预算上限(选填)</label>
            <input id="input_need_budget" type="text" min="1" max="50000" class="form-control" >

          </div> 
          <div class="mt-3 mb-2">
            <label for="input_need_contact" class="form-label">您的联系方式(选填)</label>
            <input id="input_need_contact"  maxlength="300" type="text" class="form-control" placeholder="请留下邮箱或电话，使我们快速反馈">
          </div> 
          
          <button type="submit" class="btn btn-primary mt-5 w-100">提交</button>
        </form>
      </div>
    </div>

  </section>
  <script type="module" src="/common/javascripts/user_need_story.js"></script>
    <script type="module" src="common/javascripts/tm.js"></script>
    <script type="module" src="mall/javascripts/home.js"></script>
    <script type="module" src="/common/javascripts/feedback.js"></script>



</body>
</html>