

/*----------------------------------------------------
    1. layout
------------------------------------------------------*/
/* mall-app {
    height: 100vh;
    display: flex;
    flex-direction: column;
  } */
  mall-app header{
    height: 150px;
    top: 0;
    background-color: #2F2F2F;
  }



  mall-app footer {
    height: 40px;
  }

  /* mall-app content {
    display: flex;
    height: calc(100% - 240px);
  } */



  mall-app main {
    flex: 1;
  }


 .section-bubble-brand-info {
    margin-top: 150px;
} 
.section-bubble-brand-info .nav-link
{
    color: #3887FE;
    letter-spacing: 0.1rem;
    border: none;

}
.section-bubble-brand-info  .brand-cover
{
    width: 100%;
    height: 300px;
}
.brand-cover img{
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.section-bubble-brand-info .nav-item .active
{
    color: #949494; 
    background-color: #2f2f2f;
    border: none;
}
.section-bubble-brand-info,#bubble-tab-content,.section-tabs{
    margin-left: 20%;
}
.subheader{
    font-weight: 700 !important;
    font-size: 1.5rem;
    margin-bottom: 36px;
}
.section-list-render
{
    margin-top: 50px;
    background-color: #2B2B2B;
    margin-right: 10%;
}



/* #service_library{
  height: 76vh;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  margin: 0 auto;
  background: #333536;
  border-radius: 10px;
  padding: 30px;
  color: #fff;
  margin: 30px;
  display: inline-block;
} */

.nav-tabs .nav-link.active{

  box-shadow: none;
  border-radius: none;
}
mall-app header{
  /* Pay special attention here! */
  position: fixed;
  top: 0px;
  z-index: 1045;
}
.section-tabs{
  background-color: #2F2F2F;
  /* Pay special attention here! */
  position: sticky;
  top: 150px;
  z-index: 1044;
}
.offcanvas-xxl{
  --bs-offcanvas-zindex: 1057;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.card-text,.service-brand-name{
  font-size: 12px;
  line-height: 24px;
  color: #c1c1c1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
    overflow-wrap: break-word;
    font-style: normal;
    vertical-align: middle;
    font-weight: 700;
    font-family: MicrosoftYahei,Arial,Helvetica,sans-serif;
}
.card-text{
  white-space: pre-wrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    height: 70px;
}
.service-brand-name,.service-brand-blue{
  font-size: 12px;
  line-height: 20px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
    overflow-wrap: break-word;
    font-style: normal;
    vertical-align: middle;
    font-weight:400;
    font-family: MicrosoftYahei-regular,Arial,Helvetica,sans-serif;
}
.service-brand-blue{
  background-color: #75acfe;
  border-radius: 2px;
  filter: grayscale(0.2);
}
.option-invitation{
  background: linear-gradient(90deg, #68A4FD 0%, #AECEFD 44.3%);
  opacity: .8;
  border: none;
}
.option-swap{
  background: linear-gradient(90deg, #E5C4FF 0%, #e4cce4 95.24%);
  opacity: .8;
  border: none;
}
.option-invitation:hover,.option-swap:hover{
  opacity: 1;
}
.bubble-search-btn{
  color: #b5b6ba;
}
.title-color{
  color: #666666;
}
.actio-item{
  height: 60px;
  margin-top: 20px;  
}
.btn-info {
  color: white;
}
.cell-item .card-body,.cell-item .card-footer{
  padding-left: 0;
  padding-right: 0;
}
.cell-card-body-bg {
  opacity: .8;
}
.cell-card-body-bg:hover{
  opacity: 1;
}
body{
  overflow: overlay;

  &::-webkit-scrollbar {
      width: 0;
      height: 0;
  }

  &::-webkit-scrollbar-thumb {
      background-color: rgba(102, 102, 102, 0.1);
  }

  &:hover {
      &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
      }

      &::-webkit-scrollbar-thumb {
          background-color: rgba(170, 170, 170, 0.5);
      }
  }

  &::-webkit-scrollbar-thumb {
      background-color: rgba(102, 102, 102, 0.1);

      /* 滚动条里面小方块 */
      border-radius: 6px;
  }
}
@media (max-width: 576px) {
  #bubble-tab-content,.section-tabs,.section-bubble-brand-info{
    margin-left: 16px;
    padding-left: 0;

  }
  .option-invitation,.option-swap{
    font-size: 12px;
  }
  .section-bubble-brand-info .brand-cover,.brand-cover img{
    height: 130px;
  }
  .section-list-render{
    margin-right: 16px;
  }
  .logo{
    justify-content: flex-end !important;
  }
}
@media (min-width: 577px) and  (max-width: 992px) {

  .section-bubble-brand-info,#bubble-tab-content,.section-tabs{
      margin-left: 10%;
  }
  
  }