

/*----------------------------------------------------
    1. layout
------------------------------------------------------*/
/* mall-app {
    height: 100vh;
    display: flex;
    flex-direction: column;
  } */
  // mall-app header{
  //   height: 150px;
  //   top: 0;
  //   background-color: #121212;
  // }


  .modal-content{
    background-color: #fff;
  }
  mall-app footer {
    height: 40px;
  }

  /* mall-app content {
    display: flex;
    height: calc(100% - 240px);
  } */



  mall-app main {
    flex: 1;
    padding-top: 56px;
  }


.mobile-nav-container{
  display: none;
}

.button_user{
  display: block;
}
.appButton a {
  text-decoration: none;
}
.header-wrapper,.nav_link{
  height: 55px;
}
.header-container{
  padding-left: 24px;
  padding-right: 24px;
  border-bottom: 1px solid #fff3;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items:center ;
}
.header-primary-container{
  display: flex;
  align-items:center ;
}


.nav_links{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  font-size: 16px;
  line-height: 140%;
  font-weight: 600;
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding-left: 16px;
}
.nav_link{
  display: flex;
  align-items: center;
}
.nav_link a{
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  color: #fff;
  text-decoration:none;
  position: relative;

}
.nav_link.active a{
  color: #3887FE;
}

.nav_links > li:first-child a{
  margin-left: 0;
  padding-left: 0;
}


.logo_link{
  padding-left: 0;
  min-width: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.logo_link img{
  height: 32px;
  width: 32px;
}




.section-bubble-brand-info .nav-link
{
    color: #3887FE;
    letter-spacing: 0.1rem;
    border: none;

}
.section-bubble-brand-info  .brand-cover
{
    width: 100%;
}
.brand-cover img{
    object-fit: cover;
    width: 100%;
    aspect-ratio: 310/50;
 }
.section-bubble-brand-info .nav-item .active
{
    color: #949494; 
    background-color: #121212;
    border: none;
}
.section-bubble-brand-info,#bubble-tab-content,.section-tabs{
    margin-left: 60px;
    margin-right: 60px;
}
.subheader{
    font-weight: 700 !important;
    font-size: 1.5rem;
    margin-bottom: 36px;
}
.section-list-render
{
    margin-top: 50px;
    background-color: #000;
    margin-right: 12px;
}




.nav-tabs .nav-link{
  color: #a7a7a7;
}
.nav-tabs .nav-link.active{

  box-shadow: none;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}
.header-container{
  height: 56px;
  background-color: #000;
}
.header-container{
  /* Pay special attention here! */
  position: fixed;
  top: 0px;
  z-index: 1045;
  width: 100%;
}
.section-tabs{
  background-color: #121212;
  /* Pay special attention here! */
  position: sticky;
  top: 56px;
  z-index: 1044;
}
.offcanvas-xxl{
  --bs-offcanvas-zindex: 1057;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

.card-text{
  font-size: 12px;
  line-height: 24px;
  color: #c1c1c1;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
    overflow-wrap: break-word;
    font-style: normal;
    vertical-align: middle;
    font-weight: 700;
    font-family: MicrosoftYahei,Arial,Helvetica,sans-serif;
}
.card-text{
  white-space: pre-wrap;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    height: 70px;
}
.service-brand-blue{
  font-size: 12px;
  line-height: 20px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
    overflow-wrap: break-word;
    font-style: normal;
    vertical-align: middle;
    font-weight:400;
    font-family: MicrosoftYahei-regular,Arial,Helvetica,sans-serif;
}
.service-brand-blue{
  background-color: #75acfe;
  border-radius: 2px;
  filter: grayscale(0.2);
}
.option-invitation{
  background: linear-gradient(90deg, #68A4FD 0%, #AECEFD 44.3%);
  opacity: .8;
  border: none;
}
.option-swap{
  background: linear-gradient(90deg, #E5C4FF 0%, #e4cce4 95.24%);
  opacity: .8;
  border: none;
}
.option-invitation:hover,.option-swap:hover{
  opacity: 1;
}
.bubble-search-btn{
  color: #b5b6ba;
}
.title-color{
  color: #666666;
}
.actio-item{
  height: 48px;
}
.btn-info {
  color: white;
}
.cell-item .card-body,.cell-item .card-footer{
  padding-left: 0;
  padding-right: 0;
}
.cell-card-body-bg{
  background-color: #2f2f2f;
  position: relative;
  transition: transform .4s;
  transform: scale(1);
}
.cell-card-body-bg:hover{
  transform: scale(.97) !important;
}


.brand-info {
  max-width: calc(100% - 88px);
}
.service-brand-name{
  max-width: calc(100% - 30px);
  white-space: pre-wrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
}
.plan-product__icon{
  background-color: #4d5154;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  color: #fff;
}
.plan-product__name{
  -webkit-line-clamp: 2;
  word-break: break-word;
  overflow-wrap: break-word;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
  -webkit-box-orient: vertical;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  font-size: 14px;
  color: #fff;
}
.plan-info__name{
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  color: #c4b1d4;
}
@media (max-width: 576px) {
  .nav-tabs .nav-link{
    font-size: 16px;
    padding-left: .75rem;
    padding-right: .75rem;
  }
.portrait{
  margin-left: 12px;
}
.cooperation{
  padding-left: 12px;
}
.actio-item{
  height: 36px;
}


.header-container {
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
}
header {
  align-items: center;
  display: flex;
}
header,.header-container {
  height: 56px;
}
.section-tabs{
  top: 0;
}

.header-container{
  display: flex;
  align-items:center
}
.header-container nav{
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 24px);
}
.mobile-nav-container{
  display: block;
}
.header-primary-container .nav_links{
  display: none;
}
.section-bubble-brand-info{
  margin-left: 0;
  padding-left: 0;
  margin-top: 0px;
  padding-top: 0px;
  margin-right: 0px;
}

  #bubble-tab-content,.section-tabs{
    margin-left: 12px;
    margin-right: 12px;
    padding-left: 0;

  }
  .option-invitation,.option-swap{
    font-size: 12px;
  }

  .section-list-render{
    margin-right: 0px;
  }
  .logo{
    justify-content: flex-end !important;
  }
}

@media (min-width: 768px) and  (max-width: 1024px) {
  .section-bubble-brand-info, #bubble-tab-content, .section-tabs {
    margin-left: 24px;
    margin-right: 24px;
  }
}

  .nav_link.active span{
    color: #6495ed;
  }

  .show-more-row{
    background-color: unset;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
  }
  .btn-show-more{
    background-color: #248045;
    border-radius: 16px;
    border: none;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: 32px;
    display: flex;
    color: #fff;
    font-size: 14px;
  }
  .btn-show-more:hover{
    background-color: hsl(140.308 calc(1 * 60.748%) 20.98% / 1);
  }
  .header-container .dropdown-menu {
    z-index: 2001;
  }
  .header-container nav{
    height: 56px;
  }
  .fixed{
    position: fixed;
    width: 100%;
  }

  
#inviteModal .modal-content {
  color: #61666d;
  word-spacing: .5px;
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 0 10px #6d757a;
  max-height: 500px;
}
#inviteModal .modal-header {
border-color: #2f2f2f;
}
#inviteModal .modal-footer {
background-color: #4e50584d;
border: none;
}
#inviteModal .btn-close{
color: #fff;
background-color: #343434;
border: none;
border-radius: 50%;
width: 32px;
height: 32px;
padding: 0;
outline: none;
box-shadow: none;
--bs-btn-close-bg: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20fill%3D%22%23fff%22%20class%3D%22bi%20bi-x-circle%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20d%3D%22M8%2015A7%207%200%201%201%208%201a7%207%200%200%201%200%2014m0%201A8%208%200%201%200%208%200a8%208%200%200%200%200%2016%22%2F%3E%3Cpath%20d%3D%22M4.646%204.646a.5.5%200%200%201%20.708%200L8%207.293l2.646-2.647a.5.5%200%200%201%20.708.708L8.707%208l2.647%202.646a.5.5%200%200%201-.708.708L8%208.707l-2.646%202.647a.5.5%200%200%201-.708-.708L7.293%208%204.646%205.354a.5.5%200%200%201%200-.708%22%2F%3E%3C%2Fsvg%3E");
}
#inviteModal  .list-group{
--bs-list-group-bg: transparent;
--bs-list-group-color: #b5bac1;
--bs-list-group-border-color: transparent;
}
#inviteModal  .list-group .list-group-item{
  background-color:     #2e2e2e9d;
  border-radius: 5px;
  margin-bottom: 4px;
}
#inviteModal  .list-group .list-group-item:hover{
background-color: #343434;
}


#inviteModal  .form-check-input:checked {
background-color: #248045;
border-color: #248045;
}
#inviteModal  .form-check-input {
outline: unset;
box-shadow: none;
background-color: #0000;
border-width: 3px;
}


.not-found-resource{
  border-radius: 10px;
  padding: 16px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #141414;
  width: 100%;
}
.not-found-resource img{
  height: 145px;
  background-repeat: no-repeat;
  background-size: contain;
}
.not-found-resource  p{
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  color: #61666d;
}
.not-found-resource h4{
  font-size: 20px;
  line-height: 1.25;
  font-weight: 600;
  margin-bottom: 8px;
  color: #b5bac1;
}