.logo_link img {
    width: 32px;
    height: 32px;
}

.content-container{
    height: 100vh;
}
a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}
.head-pannel {
    align-items: center;
    display: flex;
    border-bottom: 1px solid #fff3;
}
.head-pannel {
    height: 56px;
}
.head-btn {
    color: #767676;
    background-color: #000;
    border: none;
}
.code-option {
    display: flex;
}
main{
    padding: 48px 1.25rem;
    height: calc(100% - 56px);
    overflow-y: auto;
}
.report-case-header:first-child {
    border-radius: calc(0.5rem - 1px) calc(0.5rem - 1px) 0 0;
}
.report-case-header {
    border-bottom: none;
    padding: 28px;
    padding-bottom: 0;
}
.filter-bar{
    display: flex;
    flex-wrap: nowrap;
    -moz-column-gap: 0.5rem;
    column-gap: 0.5rem;
}

#nav-searchform {
    display: flex;
    align-items: center;
    padding: 4px 4px 4px 32px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    border: 1px solid #e3e5e7;
    background-color: #fff;
    opacity: .9;
    transition: background-color .3s;
    border-radius: 4px;
}

.nav-search-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0;
    padding-right: 8px;
    width: 100%;
    height: 32px;
    border: 2px solid transparent;
    border-radius: 6px;
}
.nav-search-content .nav-search-input {
    flex: 1;
    overflow: hidden;
    padding-right: 8px;
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: #61666D;
    font-size: 14px;
    line-height: 20px;
}
.nav-search-content .nav-search-input:focus{
    outline: none;
    color: #61666D;
}
.nav-search-btn {
    position: absolute;
    top: 5px;
    left: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 6px;
    color: #18191C;
    line-height: 32px;
    cursor: pointer;
    transition: background-color .3s;
}
.btn-content{
    width: max-content;
}


.filter-bar .filter-item__search {
    width: 100%;
}
.filter-bar .filter-item {
    flex-grow: 1;
}


.btn-dropdown {
    cursor: pointer;
    box-sizing: border-box;
    flex-shrink: 0;
    margin-right: 4px;
    margin-bottom: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    transition: none .1s ease;
    transition-property: background-color, border-color;
    color: hsl(210 calc(1 * 9.091%) 87.059% / 1);
    font-size: 14px;
    font-weight: 500;
    outline: 0;
  
    display: flex;
    align-items: center;
    gap: 4px;
    height: 32px;
    background-color: hsl(240 calc(1 * 4%) 4.902% / 1);
    padding: 8px 8px 8px 12px;
    border-radius: 4px;
    border: 1px solid #fff3;
    min-height: 42px;
  
  }
  
  .tagsContainer .dropdown-menu {
    --bs-dropdown-min-width: 12rem;
    background-color: hsl(0 calc(1 * 0%) 0.784% / 1);
    box-shadow: none;
    color: hsl(210 calc(1 * 9.091%) 87.059% / 1);
    border: 1px solid #fff3;
  
  }
  .tagsContainer .form-check-reverse{
  text-align: unset;
  display: inherit;
  vertical-align: middle;
  line-height: normal;
  }
  
  .tagsContainer .dropdown-item{
    padding: 6px 8px;
    color: hsl(210 calc(1 * 9.091%) 87.059% / 1);
    box-sizing: border-box;
    min-height: 32px;
    margin: 2px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
  
  }
  
  .tagsContainer .dropdown-item:hover{
    background-color: #2d2c2ce6;
  }
  .separator{
    box-sizing: border-box;
    margin: 4px;
    border-bottom: 1px solid hsl(228 calc(1 * 6.024%) 32.549% / 0.48);
  }
  .groupLabel{
    font-weight: 800 !important;
    font-size: 12px !important;
  }
  .groupLabel:hover{
    background-color: unset !important;
  }
  .tagsContainer .form-check-input:checked{
    background-color: #248045;
    border-color: #248045;
  
  }
  .tagsContainer .form-check-input{
    background-color: transparent;
    outline: unset;
    box-shadow: none;
    border-width: 2px;
  }
  .only-show-bottom{
    border: none;
    border-bottom:1px solid #61666D;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    padding-left: 0;
  }
  .only-show-bottom:focus{
    outline: none;
    color: #61666D;
    box-shadow: none;
    border-color: #61666D;
  }
  .tagsContainer{
    position: relative;
    display: flex;
    align-items: center;
  }
  .tagsContainer .form-check-label{
    width: 100%;
  }

  .report-case-body{
    padding: 28px;
  }

.report-case-thumnail{

 position: relative;
 background-color: #000;

}
.report-case-thumnail img{
    width: 2.75rem;
    min-height: 100%;
    aspect-ratio: 101 / 79;
    -o-object-fit: cover;
    object-fit: cover;
    pointer-events: none;
    border-radius: 4px;
    display: block;
    overflow: hidden;
}

.report-case-wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: transparent;
    background-clip: border-box;
    border: 1px solid #fff3;
    border-radius: 0.5rem;
    overflow-x: auto;
    scrollbar-width: none;

  }
  .report-case-wrapper::-webkit-scrollbar { 
    display: none; 
  }

  .table {
    margin-bottom: 0;
    --bs-table-bg: transparent !important;
    --bs-table-color: #fff !important;
    --bs-table-hover-bg: #141414 !important;
    --bs-table-hover-color: #fff !important;
    border-color: transparent !important;
}
.table, .table td {
    font-size: 12px;
}
.col-report-case-name{
    width: 20%;
}
.col-report-case-amount{
    width: 5%;
}
.col-snippet{
    width: 8%;
}
.col-report-case-solution{
    width: 15%;
}
.col-report-case-type{
    width: 13%;
}
.col-report-case-clicks{
    width: 10%;
}
.col-report-case-time{
    width: 10%;
}
.col-report-case-option{
    width: 10%;
}
.report-case-amount{
    color: #4cffa9;
    font-weight: 500;
}

.report-case-name a{
    color: #3498db;
}
.report-case-name a:hover {
  text-decoration-line: underline;
  text-decoration-color: #00aafc;
  text-decoration-style: dashed;
  text-underline-offset: 0.25em;
}

  .table,.not-found-resource {
    min-width: 1280px;
}
.table-wrp {
    width: 100%;
}
.table-responsive {
    scrollbar-width: none;
}
.not-found-resource{
    border-radius: 10px;
    padding: 16px;
    height: calc(100vh - 170px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #141414;
    width: 100%;
    margin-top: 1.25rem;
  }
  .not-found-resource img{
    height: 145px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .not-found-resource  p{
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    color: #61666d;
  }
  .not-found-resource h4{
    font-size: 20px;
    line-height: 1.25;
    font-weight: 600;
    margin-bottom: 8px;
    color: #b5bac1;
  }
  .col-report-case-name{
    width: 20%;
  }
  .report-case-name{
    width: 100%;
  }

  @media (width <= 576px) {
    .report-case-body .table-responsive{
      overflow-x: unset;
    }
  }