body,.copyright-container{
    background-color: #000000;
}
.appButton a {
    text-decoration: none;
}
.header-container,.nav_link{
    height: 55px;
}
.header-container{
    padding-left: 24px;
    padding-right: 24px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items:center ;
}
.header-primary-container{
    display: flex;
    align-items:center ;
}


.nav_links{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    font-size: 16px;
    line-height: 140%;
    font-weight: 600;
    display: flex;
    list-style: none;
    margin-bottom: 0;
    padding-left: 16px;
}
.nav_link{
    display: flex;
    align-items: center;
}
.nav_link a{
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-decoration:none;

}
.nav_link a:hover{
    color: #fff;
    text-decoration: underline;
}
.nav_links > li:first-child a{
    margin-left: 0;
    padding-left: 0;
}


.logo_link{
    padding-left: 0;
    min-width: none;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.logo_link img{
    height: 32px;
    width: 32px;
}

.button_login{
    border-color: #fff;
    border-radius: 30px;
    height: 34px;
    width: 88px;
}

.join-now{
    margin-left: 12px;
    border-radius: 30px;
    height: 34px;
    width: 88px;
}
.heroBanner-container{
    padding-top: 80px;
}
.hot-topic-container{
    display: flex;
    justify-content: center;
}
.hero-desc{
    padding-top: 40px;
    padding-bottom: 40px;
}
.hero_subtitle{
    font-size: 20px;
    line-height: 36px;
    margin: 0;
}
.topic-list{
    list-style: none;
    display: flex;
}
.topic-item-link{
    border-color: #fff;
    border-radius: 30px;
    height: 52px;
    min-width: 88px;
    margin-left: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.topic-item-link.active{
    background-color: #fff;
    color: black;
}
.topic-item-link:hover{
    background-color: #fff;
    color: black;

}

.hero-info-container{
    display: flex;
    justify-content: space-between;
    padding-left: 72px;
    padding-right: 72px;
    padding-top: 40px;
}


.eZdGJU {
    box-sizing: border-box;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    width: 100%;
    padding: 0rem;
    margin: 0rem;
}
.ffdmbA {
    position: relative;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}

.llxqUr {
    box-sizing: border-box;
    display: block;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;
}

.jZwsWJ {
    background-color: rgb(245, 244, 242);
    border-radius: 9999px;
    cursor: default;
    padding: 0.5rem 0.75rem;
    position: static;
    right: 0px;
    width: 100%;
    z-index: 1000;
}
.ehdChx {
    align-self: center;
    box-sizing: border-box;
    position: relative;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;
}
.lhpgSe {
    appearance: none;
    background-color: transparent;
    border: none;
    margin-bottom: 0px;
    padding: 0px;
    cursor: pointer;
}

.bmywFn {
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0rem;
    margin: 0rem;
}
.hXhurX {
    align-self: center;
    -webkit-box-align: center;
    align-items: center;
    display: inline-flex;
    cursor: pointer;
    vertical-align: unset;
}
.bHRhSP input[type="search"] {
    line-height: 2rem;
    width: 100%;
    font-size: 18px !important;
    outline: none;
}
input[type="search"] {
    appearance: textfield;
    box-sizing: content-box;
}

.SHYlA {
    background-color: rgb(245, 244, 242);
    border: 0px;
    font-weight: 500;
    line-height: 1rem;
    padding-left: 0.75rem;
    text-overflow: ellipsis;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    width: 100%;
    z-index: 900;
    font-size: 0.875rem !important;
}
svg:not(:root) {
    overflow: hidden;
}

.hXhurX svg {
    align-self: center;
    width: 1.5rem;
    height: 1.5rem;
    fill: rgb(112, 108, 100);
}


 
.bNScZE {
    box-sizing: border-box;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    padding: 0.5rem 0rem 0rem;
    margin: 0rem;
}



.fDBvuv {
    -webkit-box-align: center;
    align-items: center;
    backface-visibility: hidden;
    background-color: rgb(255, 66, 77);
    border-radius: 9999px;
    border: 1px solid rgb(255, 66, 77);
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    font-weight: 500;
    height: unset;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0.78125rem 1.5rem;
    position: relative;
    pointer-events: unset;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 300ms cubic-bezier(0.19, 1, 0.22, 1) 0s;
    user-select: none;
    white-space: unset;
    width: 100%;
    color: rgb(255, 255, 255) !important;
    font-size: 1rem !important;
}
.cTMagC {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2000;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: none;
}
.cIeVvp {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    visibility: visible;
}
.juzFiH.juzFiH.juzFiH {
    overflow: visible;
}
.juzFiH {
    margin-left: auto;
    margin-right: auto;
    animation: 1.116s linear 0s infinite normal none running cJiLXh;
    display: block;
    padding: 1.5px;
    height: 1.5rem;
    width: 1.5rem;
}

.hero-hot-search{
    display: flex;
    margin-top: 32px;
}
.hero-hot-search ul{
    list-style: none;
    display: flex;
}

.hot-search-item{
    border-color: #fff;
    border-radius: 30px;
    height: 34px;
    margin-left: 20px;
}
.hot-search-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-adorn img{
    width: 330px;
    height: 330px;
    border-radius: 20px;
}


:root {
    --marquee-width: min(100vw,2048px); 
    --marquee-height: 340px;
    /* --marquee-elements: 12; */ /* defined with JavaScript */
    --marquee-elements-displayed: 5;
    --marquee-element-width: 273px;
    // --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));

    --marquee-animation-duration: calc(var(--marquee-elements) * 10s);
  }
  
  .marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    color: #eee;
    overflow: hidden;
    position: relative;
  }
  .marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
  }
  .marquee:before {
    left: 0;
    background: linear-gradient(to right, #111 0%, transparent 100%);
  }
  .marquee:after {
    right: 0;
    background: linear-gradient(to left, #111 0%, transparent 100%);
  }
  .marquee-content {
    list-style: none;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
    margin-bottom: 0;

    display: grid;
    grid-auto-columns: -webkit-min-content;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    gap: 32px;
  }
  /* .marquee-content:hover {
    animation-play-state: paused;
  } */
  @keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
  }
  .marquee-content .marquee-content-item {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
    white-space: nowrap;
  }

  .brand_marquee_container,.choice_service_container{
    margin-top: 80px;
  }

 .marquee-item-media {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    z-index: 1;
    width: var(--marquee-element-width);
    height: var(--marquee-height);
    overflow: hidden;
}

.marquee-content-item:hover img {
    transform: scale(.97)!important
}
.marquee-content .marquee-content-item {
    display: flex;
    flex-direction: column;
}

 .marquee-content-item  img {
    border-radius: 32px;
    transform: scale(1);
    transition: transform .4s ease;
    object-fit: cover;
    width: var(--marquee-element-width);
    height: var(--marquee-height);
    -o-object-fit: cover;
    -o-object-position: center center;
    object-position: center center;

}

  @media (max-width: 600px) {
    html { font-size: 12px; }
    :root {
      --marquee-width: 100vw;
      --marquee-height: 16vh;
      --marquee-elements-displayed: 3;
    }
    .marquee:before, .marquee:after { width: 5rem; }
  }
.choice_service_container{
    margin-left: 72px;
    margin-right: 72px;
}
.head_title{
    text-align: center;
}
.g-md-special{
    --bs-gutter-y: 36px;
    --bs-gutter-x: 36px;
}
.thumbnail-container{
    width: 100%;
    aspect-ratio: 4/3;
}
  .thumbnail-container img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 10px;
  }
  .gig-title{
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.25;
    letter-spacing: 1px;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 35px;
    word-break: break-word;
    overflow-wrap: break-word;


  }
  .gig-title a,.display_name a{
    text-decoration: none;
    color: #fff;
  }
  .shot-detail-container{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    font-size: 10px;
    line-height: 1.25;
  }
  .brand-info .photo{
    width: 24px;
    height: 24px;
    border-radius: 12px;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .thumbnail-container img::after,.brand-info img::after{
    position: relative;
    content: "";
  }
  .shot-statistics-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .brand-info .display_name,  .shot-statistics-container span{
     margin-left: 4px;
  }
  .brand-info .display_name{
    -webkit-line-clamp: 2;
    word-break: break-word;
    overflow-wrap: break-word;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    -webkit-box-orient: vertical;
    width: 150px;
    display: inline-block;
    overflow: hidden;
  }
  #choice_service{
    margin-top: 16px;
  }
  .choice-view-more-container{
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
  }
  .btn-view-more{
    border-color: #fff;
    border-radius: 30px;
}
.btn-view-more{
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 203px;
}
.opt_container{
    background-image: url( '/common/images/black-star-sky.svg' );
    padding-bottom: 120px;
    padding-top: 120px;
    background-color: #161B22;
}
.opt_container .heading h2{
    text-align: center;
}
.opt_container .heading{
    display: flex;
    justify-content: center;
}
.heading_desc{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;

}
.heading_desc p{
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 1600px;
}
.cta-container{
    display: flex;
    justify-content: center;
}
.btn-open-studio{
    background-color: white;
    color: black;
    border-radius: 5px;
    height: 57px;
    width: 265px;
    align-items: center;
    display: flex;
    justify-content: center;

}
.btn-get-starPlan{
    border-color: #fff;
    border-radius: 5px;
    margin-left: 12px;
    height: 57px;
    width: 265px;
    align-items: center;
    display: flex;
    justify-content: center;

}
.hero-title{
    font-size: 72px;
    font-weight: bold;
    line-height: 1.25;
}
.head_title,.opt_container .heading h2{
    font-size: 48px;
    line-height: 1.25;
    font-weight: bold;
}
.hero-primary-container{
    padding-right: 12px;
}
.marquee-content-item{
    position: relative;
}
.marquee-item-info{
    position: absolute;
    padding: 16px 20px;
    display: grid;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    gap: 8px;
    font-size: 13px;
    font-weight: 600;
    line-height: 1;
    align-content: flex-end;
    letter-spacing: 1px;
    
}
.marquee-item-info>* {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}
.marquee-item-info__tags{
    display: grid;
    grid-auto-columns: -webkit-min-content;
    grid-auto-columns: min-content;
    grid-auto-flow: column;
    gap: 8px;
    margin-top: 4px;
    margin: 0;
    padding: 0;
    border: 0;
}
.marquee-item-info__tag{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    height: 24px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 9999999px;
    font-size: 11px;
    white-space: nowrap;
    padding: 0 12px 2px;

}

.thumbnail-container  img {
    transform: scale(1);
    transition: transform .4s ease;
}

.thumbnail-container:hover img {
    transform: scale(.97)!important
}
.button_user,.join-now,.button_login{
    display: none;
}
.join-now,.button_login{
    height: unset;
}
// tablets ipad air mini pro
@media (min-width: 768px) and  (max-width: 1024px) {
    header .nav_links{
        font-size: 12px;
    }
    .join-now,.button_login{
        padding: .325rem .275rem;
        width: 66px;
        font-size: 12px;
        border-radius: 16px;
    }
    .brand-info .display_name {
        width: 80px;
    }

    .topic-item-link {
        min-width: 60px;
        height: 26px;
    }
    .hero-title {
        font-size: 48px;
        font-weight: bold;
        line-height: 1.456;
    }
    .hero-desc{
        padding-top: 12px;
    }
    .hero_subtitle{
        font-size: 16px;
        line-height: 1.456;
    }
    .hero-hot-search,.hot-search-item{
        font-size: 12px;
        height: 20px;
    }
    .hero-hot-search .label{
        width: 40px;
    }


    .hero-adorn img{
        height: 200px;
        width: 200px;
    }
    .jZwsWJ{
        padding: .25rem .5rem;
    }
    .bHRhSP input[type="search"] {
        line-height: 1.5rem;
        font-size: 12px !important;
    }
    .head_title, .opt_container .heading h2{
        font-size: 32px;
    }

}

.moblile-page-container{
    display: none;
}
// moblile
@media (max-width: 767px){
  .page-container{
    display: none;
  }
  .moblile-page-container{
    display: block;
    text-align: center;
}
  .moblile-page-container{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 23.67%);
    padding-top: 36px;
    padding-left: calc((100% - 330px)/2);
    padding-right: calc((100% - 330px)/2);
    padding-bottom: 120px;
  }
  .moblile-page-container .bg-photo img{
    height: 260px;
    width: 260px;
    border-radius: 32px;
  }
  .moblile-page-container h2{
    margin-top: 80px;
    text-align: center;
    font-size: 34px;
    line-height: 1.25;
  }
  .moblile-subtitle{
    text-align: center;
    max-width: 600px;
    font-size: 16px;
    line-height: 1.25;
    color: #A9A9A9;
    margin-top: 32px;
  }
  .moblile-view-store-container{
    display: flex;
    justify-content: center;
    padding-top: 24px;
  }
  .btn-view-store-moblile {
    color: white;
    background-color: #BF5A03;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 265px;
    height: 57px;
    display: flex;
    font-size: 20px;
    line-height: 20px;
}
}
.friend-links-container{
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #656c7699;
    border-top: 1px dotted #656c7699;
}
.link-wrp {
  list-style: none; 
  padding-left: 0;
  margin-bottom: 0;
}

.link-wrp li{
    font-size: 10px;
    padding-left: 18px;
}
.link-wrp a{
    text-decoration: none;
    color: #eee;
}
.link-heading{
    font-size: .8125em;
    line-height: 24px;
    font-weight: 800;
    padding-bottom: 2px;
}
