  .employee-filter {
    display: flex;
    justify-content: space-between;
  }

  .content-core-box {
    min-width: 1280px;
  }


  .section-name {
    font-weight: 500;
    font-size: 16px;
  }



  .horizontal-line {
    border: 1px dashed #e7e7e7;
  }

  .section-name {
    color: #000;
  }



  .col-option {
    width: 8%;
  }

  .col-department {
    width: 12%;
  }

  .col-employee-name,
  .col-role,
  .col-level,
  .col-salary,
  .col-genre,
  .col-officeLocation,
  .col-date,
  .col-status {
    width: 10%;
  }

  .employee-filter .form-select {
    width: 124px;
    color: #c3bfbf;
    background-color: #212529;
    border: 1px solid #555;
    border-radius: 5px;
    max-width: 140px;
    font-size: 14px;
    line-height: 1.625;
  }

  .right-pannel .dropdown-toggle:after,
  .more-option-menu .dropdown-toggle:after {
    content: none;
  }

  .search-widget {
    display: grid;
    gap: 8px;
    grid-auto-flow: column;
  }


  .table-inner-input {
    display: inline-block;
  }


  @media (width <=576px) {


    .modal-dialog-top-right {

      min-height: 100%;
      margin: 0px;

    }

    .modal-dialog-top-right .modal-content {
      border-radius: 0;
    }

    .table-inner-content {
      display: none;
    }



  }