.dashboard-box {
  display: grid;
  gap: 12px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.redeem-stats-info {
  background-color: #141414;
  border-radius: 10px;
  width: 100%;
}

.stats-info,
.stats-trend {
  display: flex;
  justify-content: space-between;
  padding: 16px;

}

.countKey {
  font-size: 14px;
  line-height: 1.4;
  white-space: nowrap;
  color: #b5b6ba;
  font-weight: 600;
}

.countValue {
  margin-top: 24px;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

.stats-trend {
  background-color: #141414;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

body {
  color: #fdfdfd;
  background-color: #000;
  height: 100vh;
  margin: 0;
}

pt-app content {
  height: 100vh;
}

pt-app content main {
  padding: 0;
  margin-left: 0px;
  margin-right: 0px; 
  top: 0;
  height: 100%;
}

.box-bg-primary {
  background-color: #1f1f1f;
}

.content-box {
  --gutterWidth: 24px;
  --containerWidth: 1100px;
  max-width: var(--containerWidth);
  padding-bottom: 100px;
  padding: 0 var(--gutterWidth);
  margin: 24px auto 96px;
}
.salary-title-box{
  background-color: #2b2b2b;
  height: 48px;
  padding-left: 12px;
  display: flex;
  align-items: center;
  font-weight: 500;
}
.salary-title-box span{
  word-break: break-all;
}
.employee-info-item__label{
  font-weight: 500;
  min-width: fit-content;
}
.employee-fields .employee-info-col:nth-of-type(1){
  padding-right: 12px;
}
.section-box {
  min-height: 72px;
  padding-top: 1.3rem;
  padding-bottom: 2rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  margin-bottom: 3rem;
}

.btn-file-upload {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: none;
  border: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  padding: 2px 16px;
  color: #fff;
  min-height: 28px;
}

.btn-file-upload:hover {
  background-color: hsl(228 calc(1 * 6.024%) 32.549% / 0.6);
}

.bgPrimary {
  background-color: hsl(234.935 calc(1 * 85.556%) 64.706% / 1);
}

.bgPrimary:hover {
  background-color: hsl(234.72 calc(1 * 51.44%) 52.353% / 1);
}

.section-header {
  padding-bottom: 1rem;
  font-size: 14px;
  font-weight: 500;
}

.btn-save {
  box-sizing: border-box;
  color: #fff;
  background: #248045;
  border: none;
  border-radius: 3px;
  outline: none;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  position: relative;
  min-height: 38px;
  padding: 2px 16px;
  font-size: 14px;
}

.bgPrimaryBlue:hover {
  background-color: hsl(140.308 calc(1 * 60.748%) 20.98% / 1);
}

#focusModal .modal-dialog-scrollable .modal-content {
  background-clip: unset;
}

.btn-option-secondary:hover {
  color: #00ba9d;
}

.btn-option-secondary {
  background-color: #141414;
}

.loading .btn-file-upload-wrp {
  display: none;
}

.loading-content {
  display: none;
}

.loading .loading-content {
  display: block;
}


.btn-option-secondary {
  box-shadow: none;
  outline: none;
}

.inputDefault {
  box-sizing: border-box;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 3px;
  outline: 0;
  width: 100%;
  height: 40px;
  padding: 10px;
  font-size: 14px;
}

.table {
  width: 100%;
  min-width: 100%;
  vertical-align: middle;
}


.table td {
  word-break: break-all;
}
tbody tr{
  height: 42px;
}
.basic-info-box {
  display: flex;
  gap: 12px;
  font-size: 14px;
}

.roleRow {
  padding: 6px 10px;
  border-radius: 4px;
  margin-bottom: 2px;
  font-size: 14px;
}

.roleRow:hover {
  background-color: #c4c9ce27;
}

.tb-search-group {
  min-height: 32px;
  height: 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  padding-block: 4px;
  padding-inline: 16px 4px;
  outline: none;
  border-radius: 5px;
  color: #c3bfbf;
  background-color: #212529;
  border: 1px solid #555;

}

.tb-search-group .input_search {
  appearance: textfield;
  all: unset;
  flex: 1;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  outline: none;
}

.tb-search-group:has(.input_search:active, .input_search:focus) {
  border-color: #aaa;
}

.employee-avatar-container{
  width: 125px;
  height: 150px;
  position: relative;
}
.employee-fields{
  width: calc(100% - 137px);
  flex-flow: wrap;
  padding-left: 0;
  display: flex;
}
.employee-avatar-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

tr td:first-child, tr th:first-child {
  padding-left: 12px;
}
.employee-info-col{
  width: 50%;
}
.employee-info-item{
  display: flex;
}
.employee-info-item__content{
  word-break: break-all;
  word-wrap: break-word;
}
.table-dark {
  --bs-table-bg: #1f1f1f;
}
.td-more-options{
  justify-content: flex-end;
  padding-right: 12px;
  display: flex;
}
.col-salyar-element-name{
  width: 56%;
}
.col-salyar-element-amount{
  width: 20%;
}
.table-scroll-box{
  position: relative;
  width: 100%;
  z-index: 1;
  margin: auto;
  overflow: auto;
  height: 100%;
  min-height: 300px;
}
.table-scroll-box .table{
  min-width: 600px;
}
@media (max-width: 767px) {
  .section-box {
    padding: .75rem;
    margin-bottom: 24px;
  }

  .content-box {
    --gutterWidth: 12px;
  }

  .inputDefault {
    font-size: 12px;
  }

  .section-header {
    padding-bottom: 12px;
  }

  .material-item {
    font-size: 12px;
  }

  .table td {
    font-size: 10px;
  }

  tr td:first-child,
  tr th:first-child {
    padding-left: 4px;
  }


  .content-box{
    margin: 0;
    padding: 0;
  }
  .d-none-sm{
    display: none;
  }

  pt-app main {
    position: relative;
    height: 100%;
    top: 0;
  }
  .dashboard-box{
    grid-template-columns: 1fr 1fr;
  }
  .basic-info-box{
    flex-direction: column;
    align-items: center;
  }
  .employee-fields{
    width: 100%;
  }
  .employee-info-col{
    width: 100%;
    padding-right: 0;
  }
  .basic-info-box{
    font-size: 12px;
  }
  .countValue {
    margin-top: 8px;
    font-size: 18px;
    line-height: 24px;
}

}