#app{
    height: 100%;
}
footer{
    width: 100vw;
}
a{
    text-decoration: none;
    cursor: pointer;
}

.page-container{
    height: 100%;
    overflow-x: hidden;
}
.hero-background{
    padding-bottom: 0;
    min-height: 626px;
}
.hero-grid{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.header-container{
    width: 100%;
    max-width: 1260px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-columns: repeat(12,1fr);
    gap: 0 20px;
    padding: 0 24px;
    padding: 0 40px;
}
.header-wrapper{
    display: flex;
    grid-column: span 12;
}
.nav_wrapper{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.button_login{
    border-color: #fff;
    border-radius: 30px;
    height: 34px;
    width: 88px;
  }
  
  .join-now{
    margin-left: 12px;
    border-radius: 30px;
    height: 34px;
    width: 88px;
  }

.nav_links{
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    font-size: 16px;
    line-height: 140%;
    font-weight: 600;
}
.nav_link{
    cursor: pointer;
    margin: 10px;
    padding: 10px;
    color: #fff;
}
.nav_link:hover{
    color: #fff;
    text-decoration: underline;
}
.logo_link{
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.logo_link img{
    width: 24px;
    height: 24px;
}
.content-main{
    padding-bottom: 100px;
    --gutterWidth: 24px;
    --containerWidth: 1100px;
    max-width: var(--containerWidth);
    padding: 0 var(--gutterWidth);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 96px;
    margin-top: 50px;
}
.section_should_know,.section_search,.section_dreams{
    margin-top: 2rem;
    border-radius: 20px;
}
.section_should_know,.section_dreams{
    padding: 1.5rem;

}
.section_should_know{
    background-color: #212529;


}
.section_should_know h2{
    text-align:center;
}
.section_container{
    margin-top: 2rem;
    padding-left: 2rem;
}
.section_container{
    word-break: break-all;
    min-height: 30px;
    font-size: 16px;
    line-height: 1.875;
}
.play_scheme{
    display: flex;
}
.play_scheme span{
    font-weight: bold;
}
.play_clue_container{
    color: #B5B6BA;
}
.section_container .ps{
    font-size: small;
}
.open-treasure{
    width: 50%;
    height: 51px;
    border-radius: 9999px;
    
}
.dream_item{
    display: flex;
    padding: 1rem;
}
.dream_item .ball{
    background-color: brown;
    width: 2rem;
    height: 2rem;
    border-radius: 9999px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.dream_content{
    padding-left: 1rem;
    border-bottom: 1px solid #212529;
    width: 100%;
}
.like_btn{
    margin-left: 13rem;
    display: flex;
    color: #4CFFA9;

}
.dream_like{
    display: flex;
    padding-bottom: .5rem;
    font-size: small;
}
.dream_like .cnt{
    display: flex;
    align-items: center;
}
.section_search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-normal-search{
    margin-left: 0;
    margin-right: 0;
    left: 0;
}
.openbox-attachment-upload-container{
    height: 200px;
    width: 200px;
}
.openbox-attachment-upload-container img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.openbox-attachment-upload-container img::after{
    background-color: #fff;
}

#puzzle_time{
    font-size: small;
    padding-left: .5rem;
}

.button_user,.join-now,.button_login{
    display: none;
}
.join-now,.button_login{
    height: unset;
}
@media (max-width: 600px) {
    html { font-size: 12px; }
}
@media (max-width: 48rem){
    header .nav_links{
        font-size: 12px;
    }
    .header-container{
        padding: 0 6px;
    }
    .join-now,.button_login{
        width: 50px;
        padding: .125rem .2rem;
        font-size: 12px;
        border-radius: 16px;
    }
    .nav_links{
      font-size: 14px;
    }


    .nav_link{
        margin: 2px;
    }
    .section_container{
        padding-left: .5rem;
        font-size: 12px;
        line-height: 1.575;
    }
    .section_should_know, .section_search {
        border-radius: 5px;
        margin-top: 0.5rem;
        padding: 0.5rem;
    }
    .content-main{
        --gutterWidth: 6px;
    }
}