<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
    <meta http-equiv ='content-language' content ='zh-cn'>

    <link rel="icon" href="https://www.bluvarri.com/favicon.png">
    <title>薪酬配置</title>
    <script src="/common/javascripts/avif-webp.min.js"></script>

    <link rel="stylesheet" href="/common/stylesheets/style.scss">

    <link rel="stylesheet" href="/rainbow/office/stylesheets/office.scss">
    <link rel="stylesheet" href="/rainbow/office/stylesheets/compensation.scss">



</head>
<body>
  <micro-app id="app" v-cloak>
    <main class="d-flex flex-row">
      <div class="offcanvas-xxl offcanvas-start" tabindex="-1" id="mcSidebar" aria-labelledby="mcSidebarOffcanvasLabel">
        <col-nav-main>
          <nav>
            <div class="oasis-head-box">
              <div class="oasis-head">
                <a :href="'/rainbow/oasis/home?oasis_id='+oasisId">
                  <img  class="oasis-avatar" :src="adaptiveImageUriV(announce.avatar) || oasisAvatarDefault" @error.once="e => { e.target.src = oasisAvatarDefault }">
                </a>
                <div class="oasis-title-box">
                  <div class="oasis-title">后勤中心</div>
                </div>
              </div>
            </div>
            <div class="list-group list-group-flush">
                <a :href="'/rainbow/office/department?oasis_id='+oasisId" class="list-group-item">部门配置</a>
                <a :href="'/rainbow/office/compensation?oasis_id='+oasisId" class="list-group-item active">薪酬配置</a>
                <a :href="'/rainbow/office/employee?oasis_id='+oasisId" class="list-group-item  ">员工档案</a>
                <a :href="'/rainbow/office/payroll?oasis_id='+oasisId" class="list-group-item ">薪资发放</a>
            </div>
          </nav>
       </col-nav-main>

      </div>


      <col-content>

        <header>
          <div class="d-flex justify-content-between p-3 text-white">
            <div class="d-flex align-items-center logo">
              <a href="#" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <div class="align-middle">
                  <h2 class="my-0">后勤中心</h2>
                </div>
              </a>
            </div>
            <div class="toggle-nav">
              <div class="d-flex justify-content-center align-items-center">
                <button class="navbar-toggler p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#mcSidebar" aria-controls="bdSidebar" aria-label="Toggle mcSidebar navigation">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="bi" fill="currentColor" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"></path>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </header>

        <div class="content-container">

            <div class="content-core-box">
  
  
              <div class="feature-title">
                薪酬配置
              </div>
  
              <div class="employee-filter">
                <div class="search-widget">
                  <div id="nav-searchform">
                    <div class="nav-search-btn">
                      <i class="bi bi-search"></i>
                    </div>
                    <div class="nav-search-content">
                      <input v-model="salaryElementList_pagination.param.q" @keyup.enter.native="searchV" 
                        class="nav-search-input" type="text" autocomplete="off" maxlength="100" placeholder="搜索">
                    </div>
                  </div>
  
                  <select v-model="salaryElementList_pagination.param.status" @change="filterListV"
                    class="form-select custom-select">
                    <option value="">全部状态</option>
                    <option value="0">已停用</option>
                    <option value="1">生效中</option>
                  </select>
  
                  <select v-model="salaryElementList_pagination.param.direction"  @change="filterListV"
                    class="form-select custom-select">
                    <option value="">全部类型</option>
                    <option value="1">发放</option>
                    <option value="-1">扣除</option>
                  </select>
  
  
                </div>
  
  
                <div class="right-pannel">
  
  
                  <button v-preventreclick @click="showNewBenefitModalV" class="btn-save" type="button">
                    <div class="btn-content d-flex align-items-center justify-content-center">
                      录入条目
                    </div>
                  </button>
  
                </div>
  
  
              </div>
  
              <div class="employees-box mt-4">
  
  
                <div class="table-responsive">
                  <div class="table-wrp">
                    <table class="table table-sm fresh-ui-table table-hover align-middle">
                      <thead>
                        <tr>
                          <th class="col-option"></th>
                          <th class="col-item">条目</th>
                          <th class="col-fee">金额（元）</th>
                          <th class="col-fee">类型</th>
                          <th class="col-fee">状态</th>
                          <th class="col-fee">添加时间</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr v-for="salaryEl in salaryElementList_pagination.records">
                          <td>
                            <span v-preventreclick @click="delSalaryItemV(salaryEl.id)" class="btn-option-secondary" >
                              删除
                            </span>
                            <span  v-preventreclick @click="showEditBenefitModalV(salaryEl)" class="btn-option-secondary ms-2" >
                              编辑
                            </span>
                         
                          </td>
  
                          <td>
                           {{salaryEl.title}}
                          </td>
                          <td>
                            {{salaryEl.amount}}
                          </td>
                          <td>
                            {{explianCompensationItemDirectionV(salaryEl.direction)}}
                          </td>
                          <td>
                            {{explianCompensationItemStatusV(salaryEl.status)}}
                          </td>
                          <td>
                            {{salaryEl.createAt.replace(new RegExp('-', 'g'), '/')}}
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <nav v-if="!!salaryElementList_pagination.paging" aria-label="Page navigation" class="millstone-pagination">
                      <ul class="pagination pagination-lg pagination-dark  border-0">
                        <li class="page-item" v-preventreclick @click="pagePre(salaryElementList_pagination)">
                          <a class="page-link" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li class="page-item" v-for="page in salaryElementList_pagination.paging.items"
                          :class="{'current-page-active': salaryElementList_pagination.paging.current == page}" v-preventreclick
                          @click="pageGo(salaryElementList_pagination,page)"><a class="page-link">{{page}}</a></li>
                        <li class="page-item" v-preventreclick @click="pageNext(salaryElementList_pagination)">
                          <a class="page-link" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                    <div v-if="salaryElementList_pagination.records.length==0" class="not-found-resource"><img
                        src="https://d13-content.oss-cn-hangzhou.aliyuncs.com/common/image/not-found-result.png"
                        alt="bluvarri-service-not-found">
                      <h4>未找到结果</h4>
                    </div>
                  </div>
                </div>
  
              </div>
  
  
  
            </div>
  
  
          </div>
      </col-content>
    </main>
    <section class="modals">

      <!-- new benefit Modal start -->
      <div class="modal-container">
        <div class="modal" id="newBenefitModal" data-bs-backdrop="static" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-body">
                <form class="row g-3" onsubmit="return false">

                  <div class="mt-3">
                    <label for="newBenefitObj__name" class="form-label">条目名称</label>
                    <input id="newBenefitObj__name" v-model="newCompensationObj.title" class="form-control" maxlength="30" type="text"
                      autocomplete="off">
                  </div>
                  <div class="mt-3">
                    <label for="newBenefitObj__amount" class="form-label">金额（元）</label>
                    <input id="newBenefitObj__amount" @input="transformInputNumberAsPositiveDecimalV($event)" max="5000000" v-model="newCompensationObj.amount" class="form-control"  type="text"
                      autocomplete="off">
                  </div>
                  <div class="mt-3">
                    <label for="newBenefitObj__direction" class="form-label">类型</label>
                    <select id="newBenefitObj__direction" v-model="newCompensationObj.direction" class="form-select" >
                      <option value="1">发放</option>
                      <option value="-1">扣除</option>
                    </select>
                  </div>
                  <div class="mt-3">
                    <label for="newBenefitObj__Description" class="form-label">描述说明</label>
                    <textarea id="newBenefitObj__Description" v-model="newCompensationObj.description" rows="6" class="form-control" maxlength="172"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer fresh-ui-modal-footer">

                <button v-preventreclick @click="closeNewBenefitModalV" type="button"
                  class="btn btn-outline-secondary fresh-ui-btn">
                  <div class="contents">取消</div>
                </button>

                <button  v-preventreclick @click="addOneSalaryItemV" type="button"
                :class="{'disabled': !validateNewBenefitFormV()}"
                 class="btn btn-primary fresh-ui-btn">添加</button>

              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- new benefit Modal end -->
      <!-- edit benefit Modal start -->
      <div class="modal-container">
        <div class="modal" id="editBenefitModal" data-bs-backdrop="static" tabindex="-1">
          <div class="modal-dialog modal-dialog-centered  modal-dialog-scrollable">
            <div class="modal-content">
              <div class="modal-body">
                <form class="row g-3" onsubmit="return false">

                  <div class="mt-3">
                    <label for="editBenefitObj__name" class="form-label">条目名称</label>
                    <input id="editBenefitObj__name"  v-model="editCompensationObj.title"  class="form-control" maxlength="30" type="text"
                      autocomplete="off">
                  </div>
                  <div class="mt-3">
                    <label for="editBenefitObj__amount" class="form-label">金额（元）</label>
                    <input id="editBenefitObj__amount" @input="transformInputNumberAsPositiveDecimalV($event)" max="5000000" v-model="editCompensationObj.amount"  class="form-control"  type="text"
                      autocomplete="off">
                  </div>
                  <div class="mt-3">
                    <label for="editBenefitObj__status" class="form-label">启用或停用本配置</label>
                    <select id="editBenefitObj__status" v-model="editCompensationObj.status" class="form-select" >
                      <option value="0">已停用</option>
                      <option value="1">生效中</option>
                    </select>
                  </div>
                  <div class="mt-3">
                    <label for="editBenefitObj__Description" class="form-label">描述说明</label>
                    <textarea id="editBenefitObj__Description"  v-model="editCompensationObj.description"  rows="6" class="form-control" maxlength="172"></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer fresh-ui-modal-footer">

                <button v-preventreclick @click="closeEditBenefitModalV" type="button"
                  class="btn btn-outline-secondary fresh-ui-btn">
                  <div class="contents">取消</div>
                </button>

                <button  v-preventreclick @click="editSalaryItemV" type="button" 
                  :class="{'disabled': !validateEditBenefitFormCanSaveV()}"
                  class="btn btn-primary fresh-ui-btn">提交</button>

              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- edit benefit Modal end -->

    </section>
    
  </micro-app>

  <script type="module" src="/common/javascripts/tm.js"></script>
  <script type="module" src="/rainbow/office/javascripts/compensation.js"></script>



</body>
</html>